<h1 class="sr-only">Welcome to precisionFDA</h1>
<div class="jumbotron jumbotron-landing jumbotron-landing-guest jumbotron-particles">
  <div class="container">
    <div class="pfda-brand">
      <%= image_tag("precisionFDA.white.navbar-guest.png", alt: "Welcome to PrecisionFDA", height: "60px") %>
    </div>
    <div class="btn-player-wrapper">
      <a class="btn-player fa fa-play-circle" aria-label="Play precisionFDA Introduction Video">
      </a>
      <div class="jumbovideo">
        <div class="jumbovideo-player-wrapper">
          <div id="ytplayer" class="jumbovideo-player"></div>
        </div>
      </div>
    </div>
    <div class="guest-actions">
      <p class="lead">A community platform for NGS assay evaluation and regulatory science exploration.</p>
      <%= render "_partials/guest_actions" %>
    </div>
  </div>
</div>

<% if @event.present? %>
  <div class="showcase showcase-padded showcase-shadow container">
    <%= render "_partials/event", event: @event %>
  </div>
<% end %>

<div class="showcase showcase-padded-sm showcase-shadow container">
  <div class="h3 text-muted text-left">April 2017 Expert Spotlight:</div>
  <%= render "experts/landing_cards", experts: @experts %>
</div>

<div class="jumbotron jumbotron-challenges tiltview-container">
  <div class="container">
    <div class="h2 text-center">precisionFDA Challenges</div>
    <%= render "challenges/cards", challenges: @challenges %>
  </div>
</div>

<div class="h3 text-center">About PrecisionFDA</div>
<div class="container container-padded">
  <div class="pfda-cards pfda-cards-news pfda-cards-justify-centered">
    <%= render "main/news" %>
  </div>
</div>

<div class="container-fluid container-padded pfda-participants-section gradient-blue-sky">
  <div class="h2 text-center">Community Participants</div>
  <div class="pfda-participants">
    <% @participant_orgs.each do |org| %>
      <div class="pfda-participant" title="<%= org[:name] %>" data-toggle="tooltip">
        <%= image_tag org[:logo], alt: org[:name], height: org[:height], class: org[:classes] %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="pfda-participants">
    <% @participants.each do |participant| %>
      <div class="pfda-participant" title="<%= participant[:name] %>" data-toggle="tooltip">
        <%= image_tag participant[:logo], alt: participant[:name], height: participant[:height], class: participant[:classes] %>
      </div>
    <% end %>
  </div>
  <hr>
  <div class="lead text-center">
    The comparison framework uses open-source software by <%= image_tag "participants/rtg.png", alt: "Real Time Genomics", title: "Real Time Genomics", height: "50px", "data-toggle": "tooltip" %></div>
  </div>
</div>
