<div class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered pfda-card-warning">
  <a target="blank" class="pfda-card-title" href="<%= appathon_in_a_box_path %>">
    The App-a-thon in a Box Challenge is now closed!
  </a>
  <br/>
  <small class="text-muted">January 3rd, 2017</small>
  <hr>
  <div class="pfda-card-body">
    We would like to thank all the community members that participated in the PrecisionFDA App-a-thon in a Box Challenge!
    Read the closing remarks for this challenge <strong><%= link_to 'here', discussion_path(APPATHON_IN_A_BOX_DISCUSSION_ID) %></strong>.
    <br/>
    <br/>Stay tuned for more challenges in 2017!
  </div>
</div>
<div class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered pfda-card-warning">
  <div class="pfda-card-title">
    Thank you for sharing your experience!
  </div>
  <small class="text-muted">December 19th, 2016</small>
  <hr>
  <div class="pfda-card-body">
    PrecisionFDA would like to thank its community members that showcased their activities and innovation at the World Precision Medicine Congress on November 15, 2016 in Washington DC:
    <br/><br/>Gil Alterovitz (Harvard/MIT)
    <br/>Brendan Gallagher (Sentieon)
    <br/>Rachel Goldfeder (Stanford)
    <br/>Deepak Grover (Sanofi)
    <br/>Marghoob Mohiyuddin (Roche)
    <br/>Jeffrey Staples (Regeneron)
    <br/>Justin Zook (NIST)
  </div>
</div>
<a target="blank" class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="<%= presskit_path %>">
  <div class="pfda-card-title">
    <div class="row">
      <div class="col-xs-6"></div>
      <div class="col-xs-12">
      <%= image_tag "presskit/badges/pfda-badge-member-large.png", alt: "Member badge", class: "img-responsive" %>
      </div>
    </div>
    <hr>
    Now available: Press Kit with precisionFDA logos and community badges
  </div>
  <small class="text-muted">Oct 19th, 2016</small>
</a>
<a target="blank" class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="http://www.fda.gov/ScienceResearch/SpecialTopics/PrecisionMedicine/default.htm">
  <div class="pfda-card-title">
    Optimizing Regulatory Oversight for Next Generation Sequencing Test
  </div>
  <small class="text-muted">July 6th, 2016</small>
  <hr>
  <div class="pfda-card-body">
    In support of the White House’s Precision Medicine Initiative, the FDA issued two draft guidances that offer a streamlined approach to the oversight of ‘Next Generation Sequencing’ tests that detect medically important differences in a person’s genomic makeup.
  </div>
</a>
<a target="blank" class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="https://www.youtube.com/watch?v=JCcpyJz49jE">
  <div class="pfda-card-title">
    <%= image_tag "misc/taha-interview-narrow.png", alt: "Interview with Dr Taha Kass-Hout", class: "img-responsive img-rounded" %>
    <hr>
    Interview with the former FDA Chief Health Informatics Officer about precisionFDA
  </div>
  <small class="text-muted">June 2nd, 2016</small>
</a>
