<div class="jumbotron jumbotron-news-landing">
  <div class="container container-padded container-fluid">
    <div class="pfda-cards pfda-cards-align-centered pfda-cards-stretch">
      <div class="pfda-card pfda-challenge-card pfda-card-default pfda-card-rounded pfda-card-bordered pfda-card-padded pfda-card-shadow">
        <div class="media">
          <div class="pfda-challenge-diagram">
            <img class="img-responsive center-block" src="/assets/challenges/VHA_Innovation_Ecosystem_COVID19_Risk_Challenge.png" alt="Covid Challenge 2">
          </div>
          <div class="media-body pfda-padded">
            <div class="pfda-card-body text-justify">
              <div>
                The <%= link_to 'novel coronavirus disease 2019 (COVID-19)', 'https://www.cdc.gov/coronavirus/2019-ncov/index.html' %> is a respiratory disease caused by a new type of coronavirus, known as “severe acute respiratory syndrome coronavirus 2,” or SARS-CoV-2. On March 11, 2020, the <%= link_to 'World Health Organization (WHO)', 'https://www.who.int/emergencies/diseases/novel-coronavirus-2019' %> declared the outbreak a global pandemic. Although most people have mild symptoms, the disease can cause severe medical complications and lead to death in some people. Identifying risk and protective factors for severe COVID-19 illness is crucial to better protect, triage, and treat at-risk individuals. The Veteran population in particular has a higher prevalence of several of the <%= link_to 'known risk factors for severe COVID-19 illness', 'https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-at-higher-risk.html' %>, including advanced age, heart disease, and diabetes. To better understand the risk and protective factors in the Veteran population, <%= link_to 'the VHA Innovation Ecosystem', 'https://www.va.gov/innovationecosystem/' %> and precisionFDA are calling upon the public to develop machine learning and artificial intelligence models to predict health outcomes, including COVID-19 status, length of hospitalization, and mortality, using synthetic Veteran health records.
              </div>
              <br>
              <div>
                Dates: June 1-July 1, 2020
              </div>
              <br>
              <p><%= link_to 'Click here to sign up for more information', 'https://www.surveymonkey.com/r/7BFJP9J', class: 'btn btn-primary', target: :_blank %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
