<% content_for :title do %>Overview<% end %>

<%= render "_partials/browser_support_script" %>
<% if !@context.logged_in_or_guest? %>
  <%= render "main/landing" %>
<% else %>
  <% if @context.guest? %>
    <div class="jumbotron jumbotron-landing">
      <div class="container">
        <h1>WELCOME to precisionFDA</h1>
        <p class="lead lead-bold">A community platform for NGS assay evaluation and regulatory science exploration.</p>
      </div>
    </div>
  <% else %>
    <div class="jumbotron jumbotron-overview">
      <div class="container">
        <h1>WELCOME to precisionFDA</h1>
      </div>
    </div>
  <% end %>

    <div class="container-fluid container-padded">
      <% if @event.present? && !@event[:past] %>
        <%= render "_partials/event", event: @event %>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-inline">
            <li class="overview-header">
              Get Started
            </li>
            <li><a class="btn btn-sm btn-default" href="<%= docs_path %>"><span class="fa fa-fw fa-book"></span> Docs</a></li>
            <li><a class="btn btn-sm btn-default" href="<%= show_docs_path('video_tutorials') %>"><span class="fa fa-fw fa-film"></span> Tutorials</a></li>
          </ul>

          <% if @context.guest? %>
            <div class="pfda-cards pfda-cards-list pfda-tutorial text-left">
              <% @tutorials.each do |tutorial| %>
              <div class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-default">
                <div class="pfda-card-title">
                  <a href="<%= tutorial[:path] %>"><%= tutorial[:title] %></a>
                  <a class="link-muted pull-right" href="<%= tutorial[:help_path] %>"><%= tutorial[:help_label] %></a>
                </div>
                <div class="pfda-card-body">
                  <%= tutorial[:description] %>
                </div>
              </div>
              <% end %>
            </div>
          <% else %>
            <ul class="pfda-cards pfda-cards-list pfda-tutorial text-left">
              <% if !@user_appathon.nil? %>
                <li class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-default">
                  <div class="pfda-card-title">
                    <%= link_to flag_image_tag(@user_appathon.flag, width: 40), appathon_path(@user_appathon), class: "pull-right" %>
                    <%= link_to "View #{@user_appathon.title}", appathon_path(@user_appathon) %>
                  </div>
                  <div class="pfda-card-body">
                    You have joined this for <br /><a class="link-muted" href="<%= meta_appathon_path(@user_appathon.meta_appathon) %>"><%=  @user_appathon.meta_appathon.title %></a>
                  </div>
                </li>
              <% elsif !@meta_appathon.nil? %>
                <li class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-warning">
                  <div class="pfda-card-title">
                    <%= link_to "View #{@meta_appathon.title}", meta_appathon_path(@meta_appathon) %>
                  </div>
                  <div class="pfda-card-body">
                    Participate or organize
                  </div>
                </li>
              <% end %>

              <li class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-<%= tutorial_state(@files_count) %>">
                <div class="pfda-card-title">
                  <a href="<%= new_file_path %>">Upload <%= 'first' if !tutorial_complete?(@files_count) %> file</a>
                  <a class="link-muted pull-right" href="<%= show_docs_path('files') %>">Learn more</a>
                </div>
                <div class="pfda-card-body">
                  Upload files to your private space to use as inputs for apps or comparisons
                </div>
              </li>

              <li class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-<%= tutorial_state(@assets_count) %>">
                <div class="pfda-card-title">
                  <a href="<%= new_asset_path %>">Add <%= 'first' if !tutorial_complete?(@assets_count) %> asset</a>
                  <a class="link-muted pull-right" href="<%= show_docs_path('creating_apps') %>#dev-assets">Learn more</a>
                </div>
                <div class="pfda-card-body">
                  Contribute a tarball with software that can be used by apps
                </div>
              </li>

              <li class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-<%= tutorial_state(@apps_count) %>">
                <div class="pfda-card-title">
                  <a href="<%= new_app_path %>">Create <%= 'first' if !tutorial_complete?(@apps_count) %> app</a>
                  <a class="link-muted pull-right" href="<%= show_docs_path('creating_apps') %>">Learn more</a>
                </div>
                <div class="pfda-card-body">
                  Combine assets with a shell script, and achieve just about anything
                </div>
              </li>

              <li class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-<%= tutorial_state(@jobs_count) %>">
                <div class="pfda-card-title">
                  <a href="<%= apps_path %>">Launch <%= 'first' if !tutorial_complete?(@jobs_count) %> app</a>
                  <a class="link-muted pull-right" href="<%= show_docs_path('apps') %>#apps-listing">Learn more</a>
                </div>
                <div class="pfda-card-body">
                  Run bioinformatics or other Linux-based software on the cloud
                </div>
              </li>

              <li class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-<%= tutorial_state(@comparisons_count) %>">
                <div class="pfda-card-title">
                  <a href="<%= new_comparison_path %>">Run <%= 'first' if !tutorial_complete?(@comparisons_count) %> comparison</a>
                  <a class="link-muted pull-right" href="<%= show_docs_path('comparisons') %>">Learn more</a>
                </div>
                <div class="pfda-card-body">
                  Look at the differences between a test set and a benchmark set of genomic variants
                </div>
              </li>

              <li class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-<%= tutorial_state(@notes_count) %>">
                <div class="pfda-card-title">
                  <%= link_to notes_path(), method: :post, data: {disable_with: "Creating Note..."} do %>
                    Create <%= 'first' if !tutorial_complete?(@notes_count) %> note
                  <% end %>
                  <a class="link-muted pull-right" href="<%= show_docs_path('notes') %>">Learn more</a>
                </div>
                <div class="pfda-card-body">
                  Write and publish rich notes describing your thoughts and your work
                </div>
              </li>
            </ul>

          <% end %>
        </div>

        <div class="col-md-12">
          <div class="overview-header">Activity Feed</div>
          <%= render "_partials/feed", feed: @feed %>
        </div>

        <div class="col-md-6">
          <ul class="list-inline">
            <li class="overview-header">
              Latest News
            </li>
          </ul>
          <ul class="pfda-cards pfda-cards-stretch">
            <% if @appathons_challenge[:launched]  %>
            <a class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="<%= @appathons_challenge[:path] %>">
              <div class="pfda-card-header lead text-center">
                <%= @appathons_challenge[:active] ? 'Participate in the' : 'Read about the' %>
              </div>
              <div class="pfda-card-body pfda-card-body-icon">
                <span class="fa fa-trophy" aria-hidden="true"></span>
              </div>
              <div class="pfda-card-title lead lead-bold text-center">
                <%= @appathons_challenge[:title] %>
              </div>
            </a>
            <% end %>
            <%= render "main/news" %>
            <% if @truth_challenge[:launched]  %>
            <a class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="<%= truth_challenges_path %>">
              <div class="pfda-card-header lead text-center">
                <%= @truth_challenge[:active] ? 'Participate in the' : 'Read about the' %>
              </div>
              <div class="pfda-card-body pfda-card-body-icon">
                <span class="fa fa-trophy" aria-hidden="true"></span>
              </div>
              <div class="pfda-card-title lead lead-bold text-center">
                Truth Challenge
              </div>
            </a>
            <% end %>

            <% if @consistency_challenge[:launched]  %>
            <a class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="<%= consistency_challenges_path %>">
              <div class="pfda-card-header lead text-center">
                <%= @consistency_challenge[:active] ? 'Participate in the' : 'Read about the' %>
              </div>
              <div class="pfda-card-body pfda-card-body-icon">
                <span class="fa fa-trophy" aria-hidden="true"></span>
              </div>
              <div class="pfda-card-title lead lead-bold text-center">
                Consistency Challenge
              </div>
            </a>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>

<% if !@context.logged_in_or_guest? %>
<div class="below-fold-actions">
  <a class="btn accessible-btn-primary btn-lg" href="<%= docs_path %>">
    <span class="fa fa-info-circle" aria-hidden="true"></span> Learn more about precisionFDA
  </a>
  <br>
  <a class="btn accessible-btn-link btn-lg" href="mailto:precisionfda@fda.hhs.gov"><span class="fa fa-fw fa-commenting-o" aria-hidden="true"></span> Feedback</a>
  <a class="btn accessible-btn-link btn-lg hide" href="https://docs.google.com/forms/d/1zfGoy-4C9kLbHHg0Y-6iQoI3fdGq1IfugV9fXCqOBfY/viewform" target="_blank"><span class="fa fa-fw fa-commenting-o" aria-hidden="true"></span> Feedback</a>
</div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="guidelines-modal" tabindex="-1" role="dialog" aria-labelledby="guidelines-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title"><span class="fa fa-institution" aria-hidden="true"></span> Community Guidelines</h3>
      </div>
      <div class="modal-body">
        <div id="guidelines-carousel" class="carousel carousel-text carousel-text-padded-lg slide" data-interval="false" data-wrap="false">
          <!-- Wrapper for slides -->
          <div class="row">
            <div class="col-md-offset-3 col-md-18">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#guidelines-carousel" class="carousel-indicator-green active"></li>
                <li data-target="#guidelines-carousel" class="carousel-indicator-blue"></li>
                <li data-target="#guidelines-carousel" class="carousel-indicator-red"></li>
              </ol>

              <br>

              <%= render "_partials/guidelines_content" %>

              <br>

              <!-- Controls -->
              <div class="guideline-controls text-right">
                <a class="btn btn-lg btn-link btn-previous hide" href="#guidelines-carousel" role="button" data-slide="prev">
                  <span class="carousel-control-text">Previous</span>
                </a>
                <a class="btn btn-lg btn-primary btn-next" href="#guidelines-carousel" role="button" data-slide="next">
                  <span class="carousel-control-text">Next</span>
                </a>
                <a type="button" class="btn btn-lg btn-success btn-done hide" data-dismiss="modal">I Agree</a>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-offset-6 col-sm-12">
            <div class="help-block">Additional information available in our <%= link_to "Terms of Service", terms_path %>.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "_partials/fda_footer" %>
