<% content_for :title do %>Overview<% end %>

<%= render "_partials/browser_support_script" %>
<% if !@context.logged_in_or_guest? %>
  <%= render "main/landing" %>
<% else %>
  <% if @context.guest? %>
    <div class="jumbotron jumbotron-landing">
      <div class="container">
        <h1>WELCOME to precisionFDA</h1>
        <p class="lead lead-bold">A community platform for NGS assay evaluation and regulatory science exploration.</p>
      </div>
    </div>
  <% else %>
    <div class="jumbotron jumbotron-overview">
      <div class="container">
        <h1>WELCOME to precisionFDA</h1>
      </div>
    </div>
  <% end %>

  <div class="container-fluid container-padded">
    <% if @event.present? && !@event[:past] %>
      <%= render "_partials/event", event: @event %>
    <% end %>

    <div class="row">
      <div class="col-md-24">
        <ul class="list-inline">
          <li class="overview-header">
            Get Started
          </li>
          <li><a class="btn btn-sm btn-default" href="<%= docs_path %>"><span class="fa fa-fw fa-book"></span> Docs</a></li>
          <li><a class="btn btn-sm btn-default" href="<%= show_docs_path('video_tutorials') %>"><span class="fa fa-fw fa-film"></span> Tutorials</a></li>
        </ul>

        <% if @context.guest? %>
          <div class="pfda-cards pfda-tutorial text-left">
            <% @tutorials.each do |tutorial| %>
            <div class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-default">
              <div class="pfda-card-title">
                <a href="<%= tutorial[:path] %>"><%= tutorial[:title] %></a>
                <a class="link-muted pull-right" href="<%= tutorial[:help_path] %>"><%= tutorial[:help_label] %></a>
              </div>
              <div class="pfda-card-body">
                <%= tutorial[:description] %>
              </div>
            </div>
            <% end %>
          </div>
        <% else %>
          <ul class="pfda-cards pfda-tutorial text-left">
            <%= render partial: "main/get_started_box", collection: @get_started_boxes %>
          </ul>
        <% end %>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-md-16">
        <% if @experts.count > 0 %>
          <div class="overview-header">
            Expert Spotlight
          </div>
          <%= render "experts/landing_cards", experts: @experts %>
        <% end %>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <div class="overview-header">Latest Activity</div>
          <%= render "_partials/feed", feed: @feed %>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="overview-header">Learn More</div>
    </div>
    <div class="row">
      <div class="pfda-cards pfda-cards-news">
        <% @challenges.each do |challenge| %>
          <a class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="<%= challenge_path(challenge) %>">
            <div class="pfda-card-header lead text-center">
              <%= challenge.active? ? 'Participate in the' : 'Read about the' %>
            </div>
            <div class="pfda-card-body pfda-card-body-icon">
              <span class="fa fa-trophy" aria-hidden="true"></span>
            </div>
            <div class="pfda-card-title lead lead-bold text-center">
              <%= challenge.name %> Challenge
            </div>
          </a>
        <% end %>
        <% if @appathons_challenge[:launched] %>
          <a class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="<%= @appathons_challenge[:path] %>">
            <div class="pfda-card-header lead text-center">
              <%= @appathons_challenge[:active] ? 'Participate in the' : 'Read about the' %>
            </div>
            <div class="pfda-card-body pfda-card-body-icon">
              <span class="fa fa-trophy" aria-hidden="true"></span>
            </div>
            <div class="pfda-card-title lead lead-bold text-center">
              <%= @appathons_challenge[:title] %> Challenge
            </div>
          </a>
        <% end %>
        <% if @truth_challenge[:launched]  %>
          <a class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="<%= truth_challenges_path %>">
            <div class="pfda-card-header lead text-center">
              <%= @truth_challenge[:active] ? 'Participate in the' : 'Read about the' %>
            </div>
            <div class="pfda-card-body pfda-card-body-icon">
              <span class="fa fa-trophy" aria-hidden="true"></span>
            </div>
            <div class="pfda-card-title lead lead-bold text-center">
              Truth Challenge
            </div>
          </a>
        <% end %>
        <% if @consistency_challenge[:launched]  %>
          <a class="pfda-card pfda-card-padded pfda-card-light pfda-card-rounded pfda-card-bordered" href="<%= consistency_challenges_path %>">
            <div class="pfda-card-header lead text-center">
              <%= @consistency_challenge[:active] ? 'Participate in the' : 'Read about the' %>
            </div>
            <div class="pfda-card-body pfda-card-body-icon">
              <span class="fa fa-trophy" aria-hidden="true"></span>
            </div>
            <div class="pfda-card-title lead lead-bold text-center">
              Consistency Challenge
            </div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="pfda-cards pfda-cards-news">
        <%= render partial: "_partials/news_blocks", locals: { isAdmin: false } %>
      </div>
    </div>
    <br/>
  </div>
<% end %>

<% if !@context.logged_in_or_guest? %>
  <div class="below-fold-actions">
    <a class="btn accessible-btn-primary btn-lg" href="<%= docs_path %>">
      <span class="fa fa-info-circle" aria-hidden="true"></span> Learn more about precisionFDA
    </a>
    <br>
    <a class="btn accessible-btn-link btn-lg" href="mailto:precisionfda@fda.hhs.gov"><span class="fa fa-fw fa-commenting-o" aria-hidden="true"></span> Feedback</a>
    <a class="btn accessible-btn-link btn-lg hide" href="https://docs.google.com/forms/d/1zfGoy-4C9kLbHHg0Y-6iQoI3fdGq1IfugV9fXCqOBfY/viewform" target="_blank"><span class="fa fa-fw fa-commenting-o" aria-hidden="true"></span> Feedback</a>
  </div>
<% end %>

<!-- Modal -->
<div class="modal fade" id="guidelines-modal" tabindex="-1" role="dialog" aria-labelledby="guidelines-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h3 class="modal-title"><span class="fa fa-institution" aria-hidden="true"></span> Community Guidelines</h3>
      </div>
      <div class="modal-body">
        <div id="guidelines-carousel" class="carousel carousel-text carousel-text-padded-lg slide" data-interval="false" data-wrap="false">
          <!-- Wrapper for slides -->
          <div class="row">
            <div class="col-md-offset-3 col-md-18">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#guidelines-carousel" class="carousel-indicator-green active"></li>
                <li data-target="#guidelines-carousel" class="carousel-indicator-blue"></li>
                <li data-target="#guidelines-carousel" class="carousel-indicator-red"></li>
              </ol>

              <br>

              <%= render "_partials/guidelines_content" %>

              <br>

              <!-- Controls -->
              <div class="guideline-controls text-right">
                <a class="btn btn-lg btn-link btn-previous hide" href="#guidelines-carousel" role="button" data-slide="prev">
                  <span class="carousel-control-text">Previous</span>
                </a>
                <a class="btn btn-lg btn-primary btn-next" href="#guidelines-carousel" role="button" data-slide="next">
                  <span class="carousel-control-text">Next</span>
                </a>
                <a type="button" class="btn btn-lg btn-success btn-done hide" data-dismiss="modal">I Agree</a>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-offset-6 col-sm-12">
            <div class="help-block">Additional information available in our <%= link_to "Terms of Service", terms_path %>.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "_partials/fda_footer" %>
