<% content_for :title do %>News<% end %>

<div class="page-header">
  <div class="page-title text-center">
    <div class="h1">
      <span class="fa fa-lg fa-newspaper-o"></span> &nbsp;precisionFDA News
    </div>
  </div>
</div>

<div class="container container-padded">
  <div class="row">
    <div class="col-md-20 col-md-offset-2">

      <% @news_items.each do |i|  %>
        <div class="news-item">
          <%= link_to i.href, class: "lead-intro" do %>
            <%= i.title %>
            <br/>
            <h4 class="text-muted"><%= i.created_at.strftime("%B #{i.created_at.day.ordinalize}, %Y")%></h4>
            <hr>
            <div class="lead">
              <%= i.content %>
            </div>
            <% unless i.video.blank? %>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="<%= i.video %>" class="embed-responsive-item" style="display: block" rameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
