<% content_for :title do %><%= @license.title %><% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-legal"></span> <%= @license.title %>
    <% if @license.editable_by?(@context) %>
      <a class="pfda-rename-item" data-toggle="modal" data-target="#rename-modal">
        <span class="fa fa-pencil"></span>
      </a>
    <% end %>
  </div>
</div>

<div class="metadata-section metadata-header">
  <ul class="list-group list-group-inline">
    <%= render "_partials/metadata_access", item: @license %>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Approval</h5>
      <p class="list-group-item-text"><%= @license.approval_required ? "Manual" : "Automatic" %></p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">ID</h5>
      <p class="list-group-item-text"><%= @license.uid %></p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Org</h5>
      <p class="list-group-item-text">
        <%= @license.user.org.handle %>
      </p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Added by</h5>
      <p class="list-group-item-text">
        <%= link_to(@license.user.dxuser, user_path(@license.user.dxuser))  %>
      </p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Created</h5>
      <p class="list-group-item-text"><%= @license.created_at.to_s(:db) %></p>
    </li>
  </ul>
</div>

<div class="pfda-toolbar">
  <div class="pull-left">
    <% if @license.licensed_by?(@context) %>
      <span class="btn-static text-success"><span class="fa fa-check"></span> License Accepted</span>
    <% elsif @license.licensed_by_pending?(@context) %>
      <span class="btn-static text-warning"><span class="fa fa-clock-o"></span> License Pending Approval</span>
    <% else %>
      <% if @license.approval_required %>
        <%= link_to request_approval_license_path(@license.id), class: "btn btn-success" do %>
          <span class="fa fa-check"></span> Request Approval
        <% end %>
      <% else %>
        <%= link_to accept_license_path(@license.id), method: :post, class: "btn btn-success" do %>
          <span class="fa fa-check"></span> Accept License
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if @license.editable_by?(@context) %>
  <div class="pull-right">
      <div class="btn-group">
        <%= link_to edit_license_path(@license), class: "btn btn-primary" do %>
          <span class="fa fa-edit"></span> Edit
        <% end %>
      </div>
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-primary" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-cog"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
            <li>
              <a data-toggle='modal' data-target='#rename-modal'>
                <span class="fa fa-pencil"></span> Rename
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to license_path(@license), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } do %>
                <span class="fa fa-trash"></span> Delete
              <% end %>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <% end %>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-padded" role="tablist">
  <li role="presentation" class="<%= action_name == 'show' ? 'active' : '' %>">
    <a href="<%= license_path(@license) %>" aria-controls="tab-license" role="tab"><span class="fa fa-fw fa-file-text"></span>
      <span class="tab-label">License</span>
    </a>
  </li>
  <li role="presentation"  class="<%= action_name == 'items' ? 'active' : '' %>">
    <a href="<%= items_license_path(@license) %>" aria-controls="tab-items" role="tab"><span class="fa fa-fw fa-files-o"></span>
      <span class="tab-label">Items Licensed <span class="badge"><%= @items_count %></span></span>
    </a>
  </li>
  <% if @license.editable_by?(@context) %>
  <li role="presentation"  class="<%= action_name == 'users' ? 'active' : '' %>">
    <a href="<%= users_license_path(@license) %>" aria-controls="tab-users" role="tab"><span class="fa fa-fw fa-group"></span>
      <span class="tab-label">Licensed Users <span class="badge"><%= @users_count %></span></span>
    </a>
  </li>
  <% end %>
</ul>


<% if @license.editable_by?(@context) %>
  <%= render "_partials/modal_rename", item: @license, path_to_rename: rename_license_path(@license) %>
<% end %>
