<% content_for :title do %><%= @note.title %><% end %>

<% if @note[:user_id] == @context.user_id %>
  <div class="pfda-toolbar clearfix">
    <div class="btn-toolbar pull-right" data-bind="visible: !editing()">
      <div class="btn-group">
        <a class="btn btn-default event-edit">Edit</a>
        <% if @note.publishable_by?(@context) %>
          <a class="btn btn-default">Publish</a>
        <% end %>
      </div>
    </div>
    <div class="btn-toolbar pull-right" data-bind="visible: editing()" style="display: none;">
      <div class="btn-group">
        <a class="btn btn-default" data-bind="click: cancel">Cancel</a>
        <a class="btn btn-primary" data-bind="click: save, css: {disabled: !isFormReady()}">Save</a>
      </div>
      <div class="btn-group">
        <%= link_to note_path(@note), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-danger" do %>
          <span class="fa fa-trash"></span> Delete
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="note-container container-fluid">
  <div class="note" data-bind="css: {'note-editing': editing}">
    <div class="note-titlebar">
      <!-- ko if: !editing() -->
        <span class="fa fa-sticky-note"></span> <span class="note-title" data-bind="text: title"><%= @name %></span>
      <!-- /ko -->
      <!-- ko if: editing() -->
      <div class="input-group">
        <span class="input-group-addon"><span class="fa fa-sticky-note"></span> </span>
        <input class="form-control" name="title" placeholder="Note title..." data-bind="textInput: title.cache" />
      </div>
      <!-- /ko -->
    </div>
    <div class="note-flexbox">
      <div class="note-pane">
        <div class="ace-editor-section" data-bind="visible: editing()" style="display: none">
          <div id="note-editor" data-bind="ace: content.cache, aceOptions: { mode: 'markdown', theme: 'textmate', opts: {maxLines: Infinity, setWrapBehavioursEnabled: true, wrap: 'free'}}"></div>
        </div>
        <div class="note-display" data-bind="visible: !editing(), html: content.display">
        </div>
      </div>
      <div class="note-sidebar">
        <div id="note-attachments" class="note-attachments">
          <div class="note-section-title hide"><span class="fa fa-paperclip"></span> Attachments</div>

          <% if !@comparisons.blank? %>
          <div class="note-comparison list-group">
            <div class="list-group-item">
              <div class="list-group-item-heading">Comparisons</div>
            </div>
            <% @comparisons.each do |item| %>
              <div class="list-group-item attachment" data-attachment='<%= comparison_path(item.id) %>' data-bind="attr: {draggable: editing}">
                <span class="fa fa-area-chart"></span> <%= link_to(item.name, comparison_path(item.id), tabindex: "-1") %>
              </div>
            <% end %>
          </div>
          <% end %>

          <% if !@files.blank? %>
          <div class="note-files list-group">
            <div class="list-group-item">
              <div class="list-group-item-heading">Files</div>
            </div>
            <% @files.each do |item| %>
              <div class="list-group-item attachment" data-attachment='<%= file_path(item.dxid) %>' data-bind="attr: {draggable: editing}">
                <span class="fa fa-file-o"></span> <%= link_to(item.name, file_path(item.dxid), tabindex: "-1") %>
              </div>
            <% end %>
          </div>
          <% end %>

          <% if !@apps.blank? %>
          <div class="note-apps list-group">
            <div class="list-group-item">
              <div class="list-group-item-heading">Apps</div>
            </div>
            <% @apps.each do |item| %>
              <div class="list-group-item attachment" data-attachment='<%= app_path(item.dxid) %>' data-bind="attr: {draggable: editing}">
                <span class="fa fa-cube"></span> <%= link_to(item.title, app_jobs_path(item.dxid), tabindex: "-1") %>
              </div>
            <% end %>
          </div>
          <% end %>

          <% if !@jobs.blank? %>
          <div class="note-jobs list-group">
            <div class="list-group-item">
              <div class="list-group-item-heading">Jobs</div>
            </div>
            <% @jobs.each do |item| %>
              <div class="list-group-item attachment" data-attachment='<%= job_path(item.dxid) %>' data-bind="attr: {draggable: editing}">
                <span class="fa fa-tasks"></span> <%= link_to(item.name, job_path(item.dxid), tabindex: "-1") %>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
