<% content_for :title do %>Comparator<% end %>

<div class="page-header clearfix">
  <div class="page-title"><span class="fa fa-area-chart fa-fw"></span><span data-bind="text: areAllInputsSet() ? 'Run' : 'Set up'"></span> your comparison</div>
</div>

<div class="container-fluid container-padded">
  <%= alert_help("Learn more about creating new comparisons", "#{show_docs_path('comparisons')}#comparisons-new") %>
  <div class="affix-spacer">
    <div class="affix-container affix-container-padded">
      <div class="variants">
        <div class="variant-test">
          <div class="variant-title">Test Set</div>
          <ul class="variant-inputs list-unstyled" data-bind="foreach: testVariant.inputs">
            <%= render "comparisons/input" %>
          </ul>
          <div class="variants-circle">
            <!-- ko if: areAllInputsSet -->
              <a class="variants-circle-compare" data-toggle="modal" data-target="#comparison-modal">
                compare
              </a>
            <!-- /ko -->
            <!-- ko if: !areAllInputsSet() -->
              <div class="variants-circle-with">
                with
              </div>
            <!-- /ko -->
          </div>
        </div>

        <div class="variant-ref">
          <div class="variant-title">Benchmark Set</div>
          <ul class="variant-inputs list-unstyled" data-bind="foreach: refVariant.inputs">
            <%= render "comparisons/input" %>
          </ul>
          <br>
          <h4>Suggestions</h4>
          <ul class="list-unstyled" data-bind="foreach: challenges">
            <li>
              <span data-bind="text: title"></span>: <a data-bind="click: assignChallengeFiles"><span class="fa fa-files-o fa-fw"></span> <span data-bind="text: actionLabel"></span></a>
            </li>
          </ul>
        </div>


      </div>
    </div>
  </div>

  <div id="comparison-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Confirm Comparison</h4>
        </div>
        <div class="modal-body">
          <%= form_for :comparison, url: comparisons_path do |f| %>
            <div class="form-group">
              <input data-bind="textInput: name" type="text" class="form-control required input-lg" name="comparison[name]" placeholder="Name this comparison..." autofocus>
            </div>
            <div class="form-group">
              <textarea data-bind="textInput: description" rows="3" class="form-control input-lg" name="comparison[description]" placeholder="Describe this comparison (optional)..."></textarea>
            </div>
            <!-- ko foreach: testVariant.inputs -->
              <!-- ko if: value -->
                <input type="hidden" data-bind="attr: {name: 'comparison[' + name + '_uid]'}, value: value().uid"/>
              <!-- /ko -->
            <!-- /ko -->
            <!-- ko foreach: refVariant.inputs -->
              <!-- ko if: value -->
                <input type="hidden" data-bind="attr: {name: 'comparison[' + name + '_uid]'}, value: value().uid"/>
              <!-- /ko -->
            <!-- /ko -->
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" name="submit" class="btn btn-primary disabled" data-bind="disabled: !isFormReady() || busy(), css: {disabled: !isFormReady() || busy()}, click: submitForm"><span class="fa fa-area-chart"></span> Start Comparison</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

<%= render "licenses/selector_modal" %>
