<% content_for :title do %>Comparator<% end %>

<%= form_for :comparison, url: comparisons_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :test_vcf_dxid %>
    <%= f.collection_select(:test_vcf_dxid, @files, :dxid, :name, :prompt => 'Select test VCF') %>
  </div>

  <div>
    <%= f.label :test_tbi_dxid %>
    <%= f.collection_select(:test_tbi_dxid, @files, :dxid, :name, :prompt => 'Select test TBI') %>
  </div>

  <div>
    <%= f.label :test_bed %>
    <%= f.collection_select(:test_bed_dxid, @files, :dxid, :name, :include_blank => '(None)') %>
  </div>

  <div>
    <%= f.label :ref_vcf_dxid %>
    <%= f.collection_select(:ref_vcf_dxid, @files, :dxid, :name, :prompt => 'Select ref VCF') %>
  </div>

  <div>
    <%= f.label :ref_tbi_dxid %>
    <%= f.collection_select(:ref_tbi_dxid, @files, :dxid, :name, :prompt => 'Select ref TBI') %>
  </div>

  <div>
    <%= f.label :ref_bed %>
    <%= f.collection_select(:ref_bed_dxid, @files, :dxid, :name, :include_blank => '(None)') %>
  </div>

  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
