<% content_for :title do %><%= @comparison.name %><% end %>

<div class="page-header">
  <h1><span class="fa fa-crosshairs fa-fw"></span><%= @comparison.name %></h1>

  <% if @comparison.description %>
  <div class="description">
    <%= @comparison.description %>
  </div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="metadata-section">
    <div class="variants">
      <div class="variant-test">
        <h2 class="variant-title">Test Variant</h2>
        <ul class="variant-inputs list-unstyled">
          <%= render "_partials/variant_file", file: @test_vcf, title: "VCF", required: true, classes: "required active"  %>
          <%= render "_partials/variant_file", file: @test_tbi, title: "TBI", required: true, classes: "required active"  %>
          <%= render "_partials/variant_file", file: @test_bed, title: "BED", required: false, classes: "active"  %>
        </ul>
      </div>

      <div class="variant-ref">
        <h2 class="variant-title">Benchmark Variant</h2>
        <ul class="variant-inputs list-unstyled">
          <%= render "_partials/variant_file", file: @ref_vcf, title: "VCF", required: true, classes: "required active"  %>
          <%= render "_partials/variant_file", file: @ref_tbi, title: "TBI", required: true, classes: "required active"  %>
          <%= render "_partials/variant_file", file: @ref_bed, title: "BED", required: false, classes: "active"  %>
        </ul>
      </div>

      <div class="variants-circle">
          <div class="variants-circle-with">
            with
          </div>
      </div>
    </div>

    <ul class="list-group list-group-inline">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Added by</h5>
        <p class="list-group-item-text">
          <%= link_to(@comparison.user.dxuser, user_path(@comparison.user.dxuser))  %>
        </p>
      </li>
    </ul>

    <ul class="list-group list-group-inline">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">State</h5>
        <p class="list-group-item-text"><%= @comparison.state %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Created</h5>
        <p class="list-group-item-text"><%= @comparison.created_at.to_s(:db) %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Updated</h5>
        <p class="list-group-item-text"><%= @comparison.updated_at.to_s(:db) %></p>
      </li>
    </ul>
  </div>
</div>
