<div class="pfda-comments">
  <% if comments.size > 0 %>
    <% comments.each do |comment| %>
      <div class="pfda-comment">
        <div class="media">
          <div class="media-left">
            <%= link_to image_tag(comment.user.gravatar_url, class: 'img-circle', height: '25px'), user_path(comment.user.dxuser) %>
          </div>
          <div class="media-body">
            <ul class="pfda-comment-meta list-inline list-inline-bullets text-muted">
              <li class="pfda-comment-user"><strong><%= link_to comment.user.full_name, user_path(comment.user.dxuser) %></strong></li>
              <li><%= comment.user.org.name %></li>
            </ul>
            <div class="pfda-comment-body"><%= simple_format(comment.body) %></div>
            <ul class="pfda-comment-actions list-inline list-inline-bullets text-muted">
              <% if comment.editable_by?(@context) %>
              <li><%= link_to "Edit", edit_polymorphic_path(items_from_params + [comment]) %></li>
              <li><%= link_to "Delete", polymorphic_path(items_from_params + [comment]), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></li>
              <% end %>
              <li><%= comment.created_at.to_s(:human) %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div class="paginate-container">
      <%= paginate comments, :theme => 'twitter-bootstrap-3', :param_name => :comments_page %>
    </div>
  <% else %>
    <div class="text-muted">No comments yet.</div>
  <% end %>
</div>
