<%= form_for comment, url: url, html: {class: 'form form-horizontal'} do |f| %>
  <%= render "_partials/form_errors", object: comment %>
  <%= f.hidden_field :parent_id %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control", rows: 3, placeholder: "Comment..." %>
  </div>
  <div class="form-group submit-button-container">
    <%= f.submit "Comment", class: 'btn btn-default', data: {disable_with: "Commenting..."} %>
  </div>
<% end %>
