<% if @context.logged_in? %>
<div class="pfda-comment">
  <div class="media">
    <div class="media-left">
      <%= link_to image_tag(@context.user.gravatar_url, class: 'img-circle', height: '25px'), user_path(@context.user.dxuser) %>
    </div>
    <div class="media-body">
      <div class="pfda-comment-body">
        <%= form_for :comment, url: url, html: {class: 'form form-horizontal'} do |f| %>
          <%= render "_partials/form_errors", object: object %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control", rows: 3, placeholder: "Comment..." %>
          </div>
          <div class="form-group">
            <%= f.submit "Comment", class: 'btn btn-default', data: {disable_with: "Commenting..."} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
