<% content_for :title do %>Edit  Comment<% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-comment"></span>
    Edit your comment on <%= @item.klass %>: <%= link_to @item.title, @item_comments_path %>
  </div>
</div>

<div class="container-fluid container-padded">
  <%= form_for @comment, url: polymorphic_path(@items_from_params + [@comment]), html: {class: 'form form-horizontal'} do |f| %>
    <%= render "_partials/form_errors", object: @comment %>

    <div class="form-group required">
      <%= f.text_area :body, class: "form-control", rows: 10, placeholder: "Comment..." %>
    </div>
    <div class="form-group">
      <%= f.submit "Update", class: 'btn btn-primary', data: {disable_with: "Update..."} %>
    </div>
  <% end %>
</div>
