<div class="pfda-comment">
  <div class="media">
    <div class="media-left">
      <%= link_to image_tag(event.user.gravatar_url, class: 'img-circle', height: '25px'), user_path(event.user.dxuser) %>
    </div>
    <div class="media-body">
      <ul class="pfda-comment-meta list-inline list-inline-bullets text-muted">
        <li class="pfda-comment-user"><strong><%= link_to event.user.full_name, user_path(event.user.dxuser) %></strong></li>
        <li><%= event.user.org.name %></li>
      </ul>
      <div class="pfda-comment-body"><%= "Item Type:  #{event.item_type}    Published at:  #{event.timestamp}" %></div>
      <ul class="pfda-comment-actions list-inline list-inline-bullets text-muted">
       <li><%= event.timestamp.to_s(:db) %></li>
      </ul>
    </div>
  </div>
</div>

