<li class="pfda-post pfda-post-<%= event.item.klass %> list-unstyled">
  <div class="media">
    <div class="media-left pfda-post-icon-wrapper">
      <%= link_to pathify(event.item) do %>
        <span class="fa fa-fw <%= fa_class(event.item) %>"></span>
      <% end %>
    </div>
    <div class="media-body">
      <%= render "event_header", event: event %>
      <%= unilinkfw(event.item, {title_class: 'pfda-post-title', noicon: true}) %>
    </div>
  </div>
</li>
