<% content_for :title do %><%= @space.title %><% end %>

<div class="page-header clearfix">
  <div class="pull-left">
    <div class="page-title">
      <span class="fa fa-object-group"></span> <%= @space.title %>
      <% if @space.editable_by?(@context) %>
        <a class="pfda-rename-item" data-toggle="modal" data-target="#rename-modal">
          <span class="fa fa-pencil"></span>
        </a>
      <% end %>
    </div>
    <% if !@space.description.blank? %>
    <div class="description">
      <%= @space.description %>
    </div>
    <% end %>
  </div>
  <% if @space.editable_by?(@context) %>
    <div class="pull-right">
      <div class="btn-group">
        <div class="dropdown">
          <button class="btn btn-link btn-lg" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-cog"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
            <li>
              <%= link_to edit_space_path(@space) do %>
                <span class="fa fa-pencil"></span> Edit
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="metadata-section metadata-header">
  <ul class="list-group list-group-inline">
    <li class="list-group-item">
      <h5 class="list-group-item-heading">State</h5>
      <% if @space.active? %>
        <h4><span class="label label-success"><span class="fa fa-check"></span> Active<span></h4>
      <% elsif @space.closed? %>
        <h4><span class="label label-primary"><span class="fa fa-lock"></span> Closed</span></h4>
      <% else %>
        <h4><span class="label label-default"><span class="fa fa-clock-o"></span> Unactivated</span></h4>
      <% end %>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">ID</h5>
      <p class="list-group-item-text"><%= @space.uid %></p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Type</h5>
      <p class="list-group-item-text">
        <%= @space.space_type.capitalize %>
      </p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Your Role</h5>
      <p class="list-group-item-text"><%= @membership.role %> <small>(<%= @membership.side_label %>)</small></p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading"><%= @space.host_lead_label %></h5>
      <p class="list-group-item-text">
        <%= link_to("#{@space.host_lead.full_name} (#{@space.host_lead.org.name})", user_path(@space.host_lead.dxuser)) %>
      </p>
      <% if !@space.active? && @space.host_project.blank? %>
        <% if @space.host_lead?(@context) %>
          <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#termsModal"><span class="fa fa-check"></span> Accept space</button>
        <% else %>
          <div class="text-warning"><span class="fa fa-clock-o"></span> Waiting on acceptance</div>
        <% end %>
      <% end %>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading"><%= @space.guest_lead_label %></h5>
      <p class="list-group-item-text">
        <%= link_to("#{@space.guest_lead.full_name} (#{@space.guest_lead.org.name})", user_path(@space.guest_lead.dxuser)) %>
      </p>
      <% if !@space.active? && @space.guest_project.blank? %>
        <% if @space.guest_lead?(@context)%>
          <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#termsModal"><span class="fa fa-check"></span> Accept space</button>
        <% else %>
          <div class="text-warning"><span class="fa fa-clock-o"></span> Waiting on Acceptance</div>
        <% end %>
      <% end %>
    </li>
    <% if !@space.cts.blank? %>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">CTS</h5>
      <p class="list-group-item-text">
        <%= @space.cts  %>
      </p>
    </li>
    <% end %>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Created</h5>
      <p class="list-group-item-text"><%= @space.created_at.to_s(:db) %></p>
    </li>
  </ul>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-padded" role="tablist">
  <% if @space.space_type == "review" %>
    <li role="presentation" class="<% if action_name == 'discuss' %>active<% end %>">
      <a href="<%= discuss_space_path(@space) %>" aria-controls="tab-comments"><span class="fa fa-fw fa-comment"></span>
        <span class="tab-label">Activity <span class="badge"><%= @space.events.count %></span></span>
      </a>
    </li>
    <li role="presentation" class="<% if action_name == 'content' %>active<% end %>">
      <a href="<%= content_space_path(@space) %>" aria-controls="tab-data"><span class="fa fa-fw fa-database"></span>
        <span class="tab-label">Data </span>
      </a>
    </li>
  <% else %>
    <li role="presentation" class="<% if action_name == 'content' %>active<% end %>">
      <a href="<%= content_space_path(@space) %>" aria-controls="tab-data"><span class="fa fa-fw fa-database"></span>
        <span class="tab-label">Content</span>
      </a>
    </li>
    <li role="presentation" class="<% if action_name == 'discuss' %>active<% end %>">
      <a href="<%= discuss_space_path(@space) %>" aria-controls="tab-comments"><span class="fa fa-fw fa-comment"></span>
        <span class="tab-label">Comments <span class="badge"><%= @space.comment_threads.size %></span></span>
      </a>
    </li>
    <% end %>
  <li role="presentation" class="<% if action_name == 'members' %>active<% end %>">
    <a href="<%= members_space_path(@space) %>" aria-controls="tab-members"><span class="fa fa-fw fa-group"></span>
      <span class="tab-label">Members <span class="badge"><%= @space.space_memberships.count %></span></span>
    </a>
  </li>
</ul>

<% if @space.editable_by?(@context) %>
  <%= render "_partials/modal_rename", item: @space, path_to_rename: rename_space_path(@space.id) %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title"><span class="fa fa-institution" aria-hidden="true"></span> Review Space Terms</h3>
      </div>
      <div class="modal-body">
        <p>Some legal text here.</p>
      </div>
      <div class="modal-footer">
        <%= link_to "I Agree", accept_space_path(@space.id), method: :post, data: { dismiss: "modal" }, class: "btn btn-lg btn-success btn-done" %>
      </div>
      <div class="row">
        <div class="col-sm-offset-6 col-sm-12">
          <div class="help-block">Additional information available in our <%= link_to "Terms of Service", terms_path %>.</div>
        </div>
      </div>
    </div>
  </div>
</div>
