<div class="pfda-comment">
  <div class="media">
    <div class="media-left">
      <%= link_to image_tag(@context.user.gravatar_url, class: 'img-circle', height: '25px'), user_path(@context.user.dxuser) %>
    </div>
    <div class="media-body">
      <div class="pfda-comment-body">
        <%= form_for :comment, url: url, html: {class: 'form form-horizontal'} do |f| %>
          <%= render "_partials/form_errors", object: object %>
          <div class="form-group">
            <%= f.text_area :body, class: "form-control required", rows: 3, placeholder: "Write comment or assign task...", :required => true %>
          </div>
          <div class="form-group">
            <%= f.submit "Post", class: 'btn btn-default', data: {disable_with: "Post..."} %>
              <% if @space.is_host_admin?(@context) %>
              <label for="comment_type_comment" class="radio-inline">
                <input type="radio" value="comment" checked="checked" name="comment[type]" id="comment_type_comment">
                Comment
              </label>

              <label for="comment_type_task" class="radio-inline">
                <input type="radio" value="task" name="comment[type]" id="comment_type_task">
                Task
              </label>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
