<li class="pfda-post pfda-post-task list-unstyled">
  <div class="media">
    <div class="media-left pfda-post-icon-wrapper">
      <span class="fa fa-fw <%= fa_class(event.item) %>"></span>
    </div>
    <div class="media-body">
      <%= render "event_header", event: event %>
      <div class="pfda-task-body">
        <div class="media">
          <div class="media-body">
            <%= event._body %>
          </div>
          <div class="media-right">
            <% case event._state %>
            <% when "completed" %>
              <div class="label label-success"><span class="fa fa-check"></span> Completed</div>
            <% when "revoked" %>
              <div class="label label-default"><span class="fa fa-lock"></span> Revoked</div>
            <% else %>
              <% if @space.host_lead?(@context) %>
                <% if !@space.closed? %>
                  <%= link_to revoke_task_space_path(@space, event_id: event.id), method: :post, class: "btn btn-xs btn-warning" do %>
                    <span class="fa fa-undo"></span> Mark as Revoked
                  <% end %>
                <% else %>
                  <div class="label label-warning"><span class="fa fa-undo"></span> Mark as Revoked</div>
                <% end %>
              <% else %>
                <% if !@space.closed? %>
                  <%= link_to complete_task_space_path(@space, event_id: event.id), method: :post, class: "btn btn-xs btn-warning" do %>
                    <span class="fa fa-check"></span> Mark as Completed
                  <% end %>
                <% else %>
                  <div class="label label-warning"><span class="fa fa-check"></span> Mark as Completed</div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
