<div class="pfda-comment pfda-comment-task">
  <div class="media">
    <div class="media-left">
      <%= link_to image_tag(event.user.gravatar_url, class: 'img-circle', height: '25px'), user_path(event.user.dxuser) %>
    </div>
    <div class="media-body">
      <ul class="pfda-comment-meta list-inline list-inline-bullets text-muted">
        <li class="pfda-comment-user"><strong><%= link_to event.user.full_name, user_path(event.user.dxuser) %></strong></li>
        <li><%= event.user.org.name %></li>
      </ul>
      <div class="pfda-comment-body">
        <div class="media">
          <div class="media-body">
            <%= event._body %>
          </div>
          <div class="media-right">
            <% case event._state %>
            <% when "completed" %>
              <div class="label label-success"><span class="fa fa-check"></span> Completed</div>
            <% when "revoked" %>
              <div class="label label-default"><span class="fa fa-lock"></span> Revoked</div>
            <% else %>
              <% if @space.host_lead?(@context) %>
                <% if !@space.closed? %>
                  <%= link_to revoke_task_space_path(@space, event_id: event.id), method: :post, class: "btn btn-xs btn-warning" do %>
                    <span class="fa fa-undo"></span> Mark as Revoked
                  <% end %>
                <% else %>
                  <div class="label label-warning"><span class="fa fa-undo"></span> Mark as Revoked</div>
                <% end %>
              <% else %>
                <% if !@space.closed? %>
                  <%= link_to complete_task_space_path(@space, event_id: event.id), method: :post, class: "btn btn-xs btn-warning" do %>
                    <span class="fa fa-check"></span> Mark as Completed
                  <% end %>
                <% else %>
                  <div class="label label-warning"><span class="fa fa-check"></span> Mark as Completed</div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <ul class="pfda-comment-actions list-inline list-inline-bullets text-muted">
       <li><%= event.timestamp.to_s(:db) %></li>
      </ul>
    </div>
  </div>
</div>
