<%= render "spaces/header" %>

<% if @space.active? %>
  <div class="pfda-toolbar pfda-toolbar-transparent">
    <div class="pull-left">
      <div class="btn-group">
        <button class="btn btn-default" data-bind="click: objectSelector.open">
          <span class="fa fa-plus" aria-hidden="true"></span> Move data to space...
        </button>
      </div>
    </div>
  </div>
<% end %>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane tab-pane-padded-lg active" id="tab-data">
    <% unless @space.active? %>
      <div class='pfda-help-block'>
        <p class="lead"><span class='fa fa-warning' aria-hidden='true'></span> This Space has not yet been activated</p>
        <p>Both host and guest leads must click "Accept space" to activate it.</p>
      </div>
      <% if @total_count > 0 %><hr><% end %>
    <% end %>

      <% if defined?(@notes_list) %>
        <div class="panel">
          <div class="panel-heading">
            Notes &nbsp;<small class="text-muted"><%= @counts[:notes] %></small>
          </div>
          <div class="panel-body">
            <%= render "notes/cards", notes: @notes_list, scope_icon: false %>
          </div>
        </div>
      <% end %>
      <% if defined?(@files_grid) %>
        <div class="panel">
          <div class="panel-heading">
            Files &nbsp;<small class="text-muted"><%= @counts[:files] %></small>
          </div>
          <div class="panel-body">
            <div class="pfda-toolbar">
              <div class="pull-left">
                <% if @counts[:files] + @counts[:folders] > 0 %>
                  <% breadcrumb :folder, @folder %>
                  <%= breadcrumbs style: :bootstrap, class: "breadcrumb no-border" %>
                <% else %>
                  <div class="empty-grid-head text-info">
                    No records found
                  </div>
                <% end %>
              </div>
              <div class="pull-right">
                <span class="btn btn-primary" data-toggle="modal" data-target="#create-folder-modal">
                  <span class="fa fa-plus-square fa-fw"></span> Add folder
                </span>
                <div class="btn-group">
                  <div class="dropdown">
                    <button class="btn btn-primary" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="fa fa-cog"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                      <li data-bind="css: { disabled: !isRenamingAllowed() }">
                        <a data-toggle='modal' data-bind="click: showRenamingModal">
                          <span class="fa fa-pencil"></span> Rename
                        </a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li data-bind="css: { disabled: !isMovingAllowed() }">
                        <a data-toggle='modal' data-bind="click: showMoveModal">
                          <span class="fa fa-share"></span> Move
                        </a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li data-bind="css: { disabled: !isPublishingAllowed() }">
                        <a data-toggle='modal' data-bind="click: showPublishModal">
                          <i class="fa fa-fw fa-bullhorn"></i> Publish
                        </a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li data-bind="css: { disabled: !isDeletingAllowed() }">
                        <a data-toggle='modal' data-bind="click: showDeleteModal">
                          <i class="fa fa-fw fa-trash"></i> Delete
                        </a>
                      </li>
                      <li role="separator" class="divider"></li>
                      <li data-bind="css: { disabled: !isDownloadingAllowed() }">
                        <a data-toggle='modal' data-bind="click: showDownloadModal">
                          <i class="fa fa-fw fa-download"></i> Download
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <%= render "files/grid",
                       files_grid: @files_grid,
                       scope_icon: false,
                       hide_access: true,
                       show_filters: :when_filtered,
                       show_checkboxes: @show_checkboxes,
                       clear_blank_state: !@folder && true
            %>
          </div>
        </div>
      <% end %>
      <% if defined?(@comparisons_grid) %>
        <div class="panel">
          <div class="panel-heading">
            Comparisons &nbsp;<small class="text-muted"><%= @counts[:comparisons] %></small>
          </div>
          <div class="panel-body">
            <%= render "comparisons/grid", comparisons_grid: @comparisons_grid, scope_icon: false, hide_access: true, show_filters: :when_filtered %>
          </div>
        </div>
      <% end %>
      <% if defined?(@apps_grid) %>
        <div class="panel">
          <div class="panel-heading">
            Apps &nbsp;<small class="text-muted"><%= @counts[:apps] %></small>
          </div>
          <div class="panel-body">
            <%= render "apps/grid", apps_grid: @apps_grid, scope_icon: false, hide_access: true, show_filters: :when_filtered %>
          </div>
        </div>
      <% end %>
      <% if defined?(@assets_grid) %>
        <div class="panel">
          <div class="panel-heading">
            Assets &nbsp;<small class="text-muted"><%= @counts[:assets] %></small>
          </div>
          <div class="panel-body">
            <%= render "assets/grid", assets_grid: @assets_grid, scope_icon: false, hide_access: true, show_filters: :when_filtered %>
          </div>
        </div>
      <% end %>
      <% if defined?(@jobs_grid) %>
        <div class="panel">
          <div class="panel-heading">
            Jobs &nbsp;<small class="text-muted"><%= @counts[:jobs] %></small>
          </div>
          <div class="panel-body">
            <%= render "jobs/grid", jobs_grid: @jobs_grid, scope_icon: false, hide_access: true, show_filters: :when_filtered %>
          </div>
        </div>
      <% end %>
  </div>
</div>

<% if @space.active? %>
  <%= render "_partials/selector_modal" %>
  <%= render "_partials/modal_create_folder", parent_folder_id: @parent_folder_id, create_path: create_folder_space_path %>
  <%= render "_partials/modal_rename_js", space_id: @space.id, source: "list" %>
  <%= render "_partials/modal_move_files", current_folder: @folder.try(:id), move_path: move_space_path(@space), scope: @space.uid %>
  <%= render "_partials/modal_download_files" %>
  <%= render "_partials/modal_delete_files", remove_path: remove_folder_space_path(@space) %>
  <%= render "_partials/modal_publish_files", publish_path: publish_folder_space_path(@space) %>
<% end %>
