<%= render "spaces/header" %>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab-members">
    <% if @space.editable_by?(@context) %>
      <div class="pfda-toolbar pfda-toolbar-transparent">
        <a class="btn btn-default" data-toggle="modal" data-target="#members-modal">
          <span class="fa fa-user-plus" aria-hidden="true"></span> Add members
        </a>
      </div>
    <% end %>

    <%= render "spaces/members/members_filter" %>

    <div class="panel spaces-members-cards">
      <% @members.each do |member| %>
        <%= member_card(member) %>
      <% end %>
    </div>
  </div>
</div>

<div id="members-modal" class="members-modal modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          Add Member/s
        </h4>
      </div>
      <%= form_for @space, url: invite_space_path, method: :post, html: {class: 'form form-horizontal'} do |f| %>
      <div class="modal-body">
        <div class="form-group required">
          <label for="space[invitees]" class="col-sm-4 control-label">Username/s</label>
          <div class="col-sm-19 col-sm-offset-1">
            <%= f.text_area'invitees', class: "form-control input-lg", placeholder: "Write username/s separated by commas...", required: "required", rows: 5  %>
          </div>
        </div>
        <div class="form-group required">
          <label for="space[invitees_role]" class="col-sm-4 control-label">Role</label>
          <div class="col-sm-19 col-sm-offset-1">
            <%= f.select :invitees_role, options_for_select(space_initial_roles), {}, class: "form-control input-lg" %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" tabindex="-1">Cancel</button>
        <button type="submit" class="btn btn-primary" data-disable-with="Adding..."><span class="fa fa-user-plus" aria-hidden="true"></span> Add Member/s</button>
      </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
