<div class="container container-padded">
  <div class="pfda-challenge-intro">
    <div class="lead-intro">The precisionFDA Consistency Challenge ran from February 25, 2016 to April 25, 2016, inviting participants to process certain datasets through their NGS processing pipelines and conduct comparisons on precisionFDA. Community members from four different continents embraced the challenge, coming together under one roof, to showcase their methods, share their results, and highlight their insights. We have created this web page to summarize the challenge results and list our recognitions, as well as discuss key conclusions and other interesting findings from this first challenge.</div>

    <div class="challenge-section">
      <div class="h2">Medals</div>
      <div class="pfda-cards pfda-cards-justify-centered ">
        <div class="pfda-card pfda-card-rounded pfda-card-padded pfda-card-warning">
          <div class="pfda-card-body">
            <%= medal_badge("Consistency (Overall)", "large") %>
            <br>
            <div class="lead">Sentieon</div>
            <div>raldana-sentieon</div>
          </div>
        </div>
        <div class="pfda-card pfda-card-rounded pfda-card-padded pfda-card-warning">
          <div class="pfda-card-body">
            <%= medal_badge("Reproducibility", "large") %>
            <br>
            <div class="lead">Sentieon</div>
            <div>raldana-sentieon</div>
          </div>
        </div>
        <div class="pfda-card pfda-card-rounded pfda-card-padded pfda-card-warning">
          <div class="pfda-card-body">
            <%= medal_badge("Accuracy", "large") %>
            <br>
            <div class="lead">Sanofi-Genzyme</div>
            <div>dgrover-gatk</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="challenge-section">
    <div class="h2">Overview of Results</div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#awards" aria-controls="awards" role="tab" data-toggle="tab">Awards</a></li>
      <li role="presentation"><a href="#datasets" aria-controls="datasets" role="tab" data-toggle="tab">Datasets</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="awards">
        <div class="table-responsive">
          <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Label</th>
                <th>Submitter</th>
                <th>Team</th>
                <th>Org</th>
                <th>Medals</th>
                <th>Repro1</th>
                <th>Repro2</th>
                <th>Recall</th>
                <th>Precision</th>
                <th>F-measure</th>
                <th>Other</th>
              </tr>
            </thead>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a></td>
              <td>Eric Banks</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
              <td>Rafael Aldana</td>
              <td>Hanying Feng, Brendan Gallagher, Jun Ye</td>
              <td>Sentieon</td>
              <td><%= medal_badge("Consistency (Overall)") %> <%= medal_badge("Reproducibility") %></td>
              <td><%= recognition_badge('deterministic') %></td>
              <td><%= recognition_badge('highest-concordance') %></td>
              <td><%= recognition_badge('high-recall') %></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
              <td>Deepak Grover</td>
              <td></td>
              <td>Sanofi-Genzyme</td>
              <td><%= medal_badge("Accuracy") %></td>
              <td></td>
              <td><%= recognition_badge('high-concordance') %></td>
              <td><%= recognition_badge('highest-recall') %></td>
              <td><%= recognition_badge('highest-precision') %></td>
              <td><%= recognition_badge('highest-f-measure') %></td>
              <td><%= recognition_badge('extra-credit') %></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
              <td>Jeremy Edwards</td>
              <td></td>
              <td>University of New Mexico</td>
              <td></td>
              <td><%= recognition_badge('deterministic') %></td>
              <td><%= recognition_badge('high-concordance') %></td>
              <td><%= recognition_badge('high-recall') %></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td></td>
              <td><%= recognition_badge('deterministic') %></td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td></td>
              <td><%= recognition_badge('deterministic') %></td>
              <td><%= recognition_badge('high-concordance') %></td>
              <td></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-concordance') %></td>
              <td><%= recognition_badge('high-recall') %></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
              <td>Mike Lin</td>
              <td></td>
              <td>DNAnexus Science</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('pfda-apps') %></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
              <td>Christian Iseli</td>
              <td>Nicolas Guex, Maxime Jan, Thierry Schuepbach, Brian Stevenson, Ioannis Xenarios</td>
              <td>Swiss Institute of Bioinformatics</td>
              <td></td>
              <td><%= recognition_badge('deterministic') %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
              <td>Aaron Statham</td>
              <td>Mark Cowley, Joseph Copty, Mark Pinese</td>
              <td>Kinghorn Center of Clinical Genomics</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
              <td>Adam Novak</td>
              <td>Erik Garrison, Eric Dawson, Glenn Hickey, Mike Lin</td>
              <td>(multiple)</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('heroic-effort') %></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
              <td>Marghoob Mohiyuddin</td>
              <td>Jian Li</td>
              <td>Roche Sequencing</td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-concordance') %></td>
              <td><%= recognition_badge('high-recall') %></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
              <td>Charles Chapple</td>
              <td>Andreas Massouras</td>
              <td>Saphetor</td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-concordance') %></td>
              <td></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
              <td>Adam Mark</td>
              <td></td>
              <td>Avera Cancer Institute</td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-recall') %></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
              <td>Jason Harris</td>
              <td></td>
              <td>Personalis</td>
              <td></td>
              <td><%= recognition_badge('deterministic') %></td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
              <td>Ayshwarya Subramanian</td>
              <td>Yossi Farjoun, Jonathan Bloom</td>
              <td>Broad Institute</td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-concordance') %></td>
              <td></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
              <td>Erik Garrison</td>
              <td>Nikete Della Penna</td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('deterministic') %></td>
              <td></td>
              <td></td>
              <td><%= recognition_badge('high-precision') %></td>
              <td><%= recognition_badge('high-f-measure') %></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
              <td>Xiang Li</td>
              <td>Tao Wang</td>
              <td>Pathway Genomics</td>
              <td></td>
              <td><%= recognition_badge('deterministic') %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a></td>
              <td>Rene Lopez</td>
              <td>Adrian Sarno</td>
              <td>MyBioinformatician</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="datasets">
        <div class="table-responsive">
          <table class="table table-condensed table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Label</th>
                <th>Submitter</th>
                <th>Team</th>
                <th>Org</th>
                <th>VCF Files</th>
                <th>Comparisons</th>
              </tr>
            </thead>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a></td>
              <td>Eric Banks</td>
              <td></td>
              <td></td>
              <td><a href="/files/file-Bq8B98003fJy7x5f2GXpvFqy">G1</a>,
                <a href="/files/file-Bq8BF8j03fJf0xG3F0Y8QGKb">G2</a>,
                <a href="/files/file-Bq8BJJj03fJgJ5YbPvJFKQGZ">H</a></td>
              <td><a href="/comparisons/113">R1</a>,
                  <a href="/comparisons/114">R2</a>,
                  <a href="/comparisons/118">A1a</a>,
                  <a href="/comparisons/119">A1b</a>,
                  <a href="/comparisons/120">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
              <td>Rafael Aldana</td>
              <td>Hanying Feng, Brendan Gallagher, Jun Ye</td>
              <td>Sentieon</td>
              <td><a href="/files/file-BvFpJ9Q0xgF4bz8zqkJfv53Y">G1</a>,
                <a href="/files/file-BvFpJ9Q0xgF0JgV6FJ508QzJ">G2</a>,
                <a href="/files/file-BvFpJ9Q0xgF3bXZB8Q650v4J">H</a></td>
              <td><a href="/comparisons/471">R1</a>,
                  <a href="/comparisons/472">R2</a>,
                  <a href="/comparisons/479">A1a</a>,
                  <a href="/comparisons/482">A1b</a>,
                  <a href="/comparisons/477">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
              <td>Deepak Grover</td>
              <td></td>
              <td>Sanofi-Genzyme</td>
              <td><a href="/files/file-BvP364809V3vz9XV5Z6PxPPK">G1</a>,
                <a href="/files/file-BvP364809V3k6JvQBV5597vb">G2</a>,
                <a href="/files/file-BvP364809V3k8GK0QVz2QJ8z">H</a></td>
              <td><a href="/comparisons/989">R1</a>,
                  <a href="/comparisons/990">R2</a>,
                  <a href="/comparisons/788">A1a</a>,
                  <a href="/comparisons/789">A1b</a>,
                  <a href="/comparisons/787">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
              <td>Jeremy Edwards</td>
              <td></td>
              <td>University of New Mexico</td>
              <td><a href="/files/file-BvGPB1j0bpvGjJyZBQ66jXJZ">G1</a>,
                <a href="/files/file-BvGPB1j0bpvJKyJpPV516Vfb">G2</a>,
                <a href="/files/file-BvGPB1j0bpv60XvgZ5zBv8PG">H</a></td>
              <td><a href="/comparisons/550">R1</a>,
                  <a href="/comparisons/551">R2</a>,
                  <a href="/comparisons/552">A1a</a>,
                  <a href="/comparisons/553">A1b</a>,
                  <a href="/comparisons/554">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td><a href="/files/file-BvGqJb008byY68x7QvJkK8ZG">G1</a>,
                <a href="/files/file-BvGqXz008byq2zQg5k9vf781">G2</a>,
                <a href="/files/file-BvGqbp808byQXY6K9k5GfYB8">H</a></td>
              <td><a href="/comparisons/597">R1</a>,
                  <a href="/comparisons/601">R2</a>,
                  <a href="/comparisons/590">A1a</a>,
                  <a href="/comparisons/591">A1b</a>,
                  <a href="/comparisons/592">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td><a href="/files/file-BvGpxy008byQ98qyjvgykFqz">G1</a>,
                <a href="/files/file-BvGqgV008bygk1Gq6Q69QQvb">G2</a>,
                <a href="/files/file-BvGqkQ808byZbz8zqkJfv91Z">H</a></td>
              <td><a href="/comparisons/598">R1</a>,
                  <a href="/comparisons/602">R2</a>,
                  <a href="/comparisons/583">A1a</a>,
                  <a href="/comparisons/588">A1b</a>,
                  <a href="/comparisons/589">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td><a href="/files/file-BvGq4jj08byzJYQkvkJX994B">G1</a>,
                <a href="/files/file-BvGq74008byqyfYqF4pZpQFZ">G2</a>,
                <a href="/files/file-BvGqFk008byzv5fqxxJj7yBj">H</a></td>
              <td><a href="/comparisons/596">R1</a>,
                  <a href="/comparisons/600">R2</a>,
                  <a href="/comparisons/585">A1a</a>,
                  <a href="/comparisons/586">A1b</a>,
                  <a href="/comparisons/587">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td><a href="/files/file-BvGqyZ008byQGvzYg1zBPx34">G1</a>,
                <a href="/files/file-BvGqzj808byQj68JX5z89BZ2">G2</a>,
                <a href="/files/file-BvGv2K808bygy8YQ4v6822Kq">H</a></td>
              <td><a href="/comparisons/599">R1</a>,
                  <a href="/comparisons/603">R2</a>,
                  <a href="/comparisons/593">A1a</a>,
                  <a href="/comparisons/594">A1b</a>,
                  <a href="/comparisons/595">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
              <td>Changhoon Kim</td>
              <td></td>
              <td>Macrogen</td>
              <td><a href="/files/file-BvJ6p6008bygx9gxj0gj2qjb">G1</a>,
                <a href="/files/file-BvJ6x0Q08byxb96YY5z4K7zJ">G2</a>,
                <a href="/files/file-BvJ6yXQ08byzv0Qv9Q6J3b2X">H</a></td>
              <td><a href="/comparisons/635">R1</a>,
                  <a href="/comparisons/636">R2</a>,
                  <a href="/comparisons/631">A1a</a>,
                  <a href="/comparisons/632">A1b</a>,
                  <a href="/comparisons/634">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
              <td>Mike Lin</td>
              <td></td>
              <td>DNAnexus Science</td>
              <td><a href="/files/file-BvK9b880PJ941KZJ0bkqxGf8">G1</a>,
                <a href="/files/file-BvK9kBQ08fZ67Y9Y14Zvpv6Z">G2</a>,
                <a href="/files/file-BvK91380qYkyPQZj08Zgqq8Z">H</a></td>
              <td><a href="/comparisons/698">R1</a>,
                  <a href="/comparisons/699">R2</a>,
                  <a href="/comparisons/700">A1a</a>,
                  <a href="/comparisons/701">A1b</a>,
                  <a href="/comparisons/702">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
              <td>Christian Iseli</td>
              <td>Nicolas Guex, Maxime Jan, Thierry Schuepbach, Brian Stevenson, Ioannis Xenarios</td>
              <td>Swiss Institute of Bioinformatics</td>
              <td><a href="/files/file-BvP0pf007Z868yVbk5JXQ5fB">G1</a>,
                <a href="/files/file-BvP0pf007Z87x9gxj0gj3393">G2</a>,
                <a href="/files/file-BvP0pf007Z8Pv0Qv9Q6J3qBQ">H</a></td>
              <td><a href="/comparisons/754">R1</a>,
                  <a href="/comparisons/753">R2</a>,
                  <a href="/comparisons/748">A1a</a>,
                  <a href="/comparisons/749">A1b</a>,
                  <a href="/comparisons/750">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
              <td>Aaron Statham</td>
              <td>Mark Cowley, Joseph Copty, Mark Pinese</td>
              <td>Kinghorn Center of Clinical Genomics</td>
              <td><a href="/files/file-BvFzz4j0XBX6bP8Xb53k1vyX">G1</a>,
                <a href="/files/file-BvFzyzj078B6bP8Xb53k1vy6">G2</a>,
                <a href="/files/file-BvFzyJ803qvFPQ10Z93yJyQ4">H</a></td>
              <td><a href="/comparisons/533">R1</a>,
                  <a href="/comparisons/534">R2</a>,
                  <a href="/comparisons/536">A1a</a>,
                  <a href="/comparisons/537">A1b</a>,
                  <a href="/comparisons/538">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
              <td>Adam Novak</td>
              <td>Erik Garrison, Eric Dawson, Glenn Hickey, Mike Lin</td>
              <td>(multiple)</td>
              <td><a href="/files/file-BvP6gX00KyGVG3YK38ZQjb04">G1</a>,
                <a href="/files/file-BvP6gb80PxgyPQZj08ZjjJFv">G2</a>,
                <a href="/files/file-BvP6ggj0p3vkFz5PYV3j6jz6">H</a></td>
              <td><a href="/comparisons/835">R1</a>,
                  <a href="/comparisons/836">R2</a>,
                  <a href="/comparisons/832">A1a</a>,
                  <a href="/comparisons/833">A1b</a>,
                  <a href="/comparisons/834">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
              <td>Marghoob Mohiyuddin</td>
              <td>Jian Li</td>
              <td>Roche Sequencing</td>
              <td><a href="/files/file-BvP5x1Q0X24Y3vjGf5z5K6FY">G1</a>,
                <a href="/files/file-BvZ1Zb00X24xQ0V341kkb211">G2</a>,
                <a href="/files/file-BvP5x1Q0X24z59zQybP7P1jp">H</a></td>
              <td><a href="/comparisons/996">R1</a>,
                  <a href="/comparisons/859">R2</a>,
                  <a href="/comparisons/821">A1a</a>,
                  <a href="/comparisons/997">A1b</a>,
                  <a href="/comparisons/822">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
              <td>Charles Chapple</td>
              <td>Andreas Massouras</td>
              <td>Saphetor</td>
              <td><a href="/files/file-BvP8G100Kkz0XY6K9k5Gfxk0">G1</a>,
                <a href="/files/file-BvP8GV00KkzJy28Xy197yB63">G2</a>,
                <a href="/files/file-BvP8JP00Kkz0XY6K9k5Gfxk5">H</a></td>
              <td><a href="/comparisons/842">R1</a>,
                  <a href="/comparisons/845">R2</a>,
                  <a href="/comparisons/840">A1a</a>,
                  <a href="/comparisons/841">A1b</a>,
                  <a href="/comparisons/843">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
              <td>Adam Mark</td>
              <td></td>
              <td>Avera Cancer Institute</td>
              <td><a href="/files/file-BvPBqvQ0KbffzZ9kykJqbG5G">G1</a>,
                <a href="/files/file-BvPF59Q0KbfxKyJpPV516yjq">G2</a>,
                <a href="/files/file-BvPF2380Kbfvz9XV5Z6PxV6Q">H</a></td>
              <td><a href="/comparisons/985">R1</a>,
                  <a href="/comparisons/986">R2</a>,
                  <a href="/comparisons/982">A1a</a>,
                  <a href="/comparisons/984">A1b</a>,
                  <a href="/comparisons/983">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
              <td>Jason Harris</td>
              <td></td>
              <td>Personalis</td>
              <td><a href="/files/file-BvP93qQ012GV1XBkv59P7Jfx">G1</a>,
                <a href="/files/file-BvP93qQ012GbGjzbkbPGV9ZQ">G2</a>,
                <a href="/files/file-BvP93qQ012GVZZK7b9z67zK7">H</a></td>
              <td><a href="/comparisons/847">R1</a>,
                  <a href="/comparisons/848">R2</a>,
                  <a href="/comparisons/849">A1a</a>,
                  <a href="/comparisons/850">A1b</a>,
                  <a href="/comparisons/851">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
              <td>Ayshwarya Subramanian</td>
              <td>Yossi Farjoun, Jonathan Bloom</td>
              <td>Broad Institute</td>
              <td><a href="/files/file-BvP0bk00Yf86zZ9kykJqbB1q">G1</a>,
                <a href="/files/file-BvP0bk00Yf8Gz9XV5Z6PxP2G">G2</a>,
                <a href="/files/file-BvP0vzj0Yf868yVbk5JXQ5gj">H</a></td>
              <td><a href="/comparisons/751">R1</a>,
                  <a href="/comparisons/752">R2</a>,
                  <a href="/comparisons/755">A1a</a>,
                  <a href="/comparisons/761">A1b</a>,
                  <a href="/comparisons/762">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
              <td>Erik Garrison</td>
              <td>Nikete Della Penna</td>
              <td></td>
              <td><a href="/files/file-BvPK1F80yG4Y7JGZg4gvvX27">G1</a>,
                <a href="/files/file-BvPK1F80yG4y346p8k9bY6KJ">G2</a>,
                <a href="/files/file-BvYkXzQ0f0fz7fyFq9KgB667">H</a></td>
              <td><a href="/comparisons/868">R1</a>,
                  <a href="/comparisons/1006">R2</a>,
                  <a href="/comparisons/866">A1a</a>,
                  <a href="/comparisons/1007">A1b</a>,
                  <a href="/comparisons/981">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
              <td>Xiang Li</td>
              <td>Tao Wang</td>
              <td>Pathway Genomics</td>
              <td><a href="/files/file-BvGQg200Q6jF2zQg5k9vf66P">G1</a>,
                <a href="/files/file-BvGQg200Q6j941Gv159bj065">G2</a>,
                <a href="/files/file-BvGQg200Q6j5GjzbkbPGQzg4">H</a></td>
              <td><a href="/comparisons/992">R1</a>,
                  <a href="/comparisons/993">R2</a>,
                  <a href="/comparisons/558">A1a</a>,
                  <a href="/comparisons/559">A1b</a>,
                  <a href="/comparisons/560">A2</a></td>
            </tr>

            <tr>
              <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a></td>
              <td>Rene Lopez</td>
              <td>Adrian Sarno</td>
              <td>MyBioinformatician</td>
              <td><a href="/files/file-Bvb8Bk007b4J44Fjx82zx3Zv">G1</a>,
                <a href="/files/file-Bvb8ZZj07b4J19BZpQ2yKPbB">G2</a>,
                <a href="/files/file-Bvb9z8007b4GB83FX02vGqfq">H</a></td>
              <td><a href="/comparisons/1033">R1</a>,
                  <a href="/comparisons/1045">R2</a>,
                  <a href="/comparisons/1030">A1a</a>,
                  <a href="/comparisons/1032">A1b</a>,
                  <a href="/comparisons/1043">A2</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="challenge-section">
    <div class="h2">Reproducibility across same input</div>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <tr>
          <td>Nickname</td>
          <td>Repro.1</td>
          <td>Common (TP)</td>
          <td>Unique (FP+FN)</td>
          <td>Recognition</td>
        </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
            <td><a href="/comparisons/471">Link</a></td>
            <td class='num'>4,600,753</td>
            <td class='num'>0</td>
            <td><%= recognition_badge('deterministic') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
            <td><a href="/comparisons/550">Link</a></td>
            <td class='num'>4,662,359</td>
            <td class='num'>0</td>
            <td><%= recognition_badge('deterministic') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
            <td><a href="/comparisons/598">Link</a></td>
            <td class='num'>4,144,162</td>
            <td class='num'>0</td>
            <td><%= recognition_badge('deterministic') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
            <td><a href="/comparisons/596">Link</a></td>
            <td class='num'>4,132,671</td>
            <td class='num'>0</td>
            <td><%= recognition_badge('deterministic') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
            <td><a href="/comparisons/754">Link</a></td>
            <td class='num'>3,251,498</td>
            <td class='num'>0</td>
            <td><%= recognition_badge('deterministic') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
            <td><a href="/comparisons/847">Link</a></td>
            <td class='num'>4,359,277</td>
            <td class='num'>0</td>
            <td><%= recognition_badge('deterministic') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
            <td><a href="/comparisons/868">Link</a></td>
            <td class='num'>3,131,589</td>
            <td class='num'>0</td>
            <td><%= recognition_badge('deterministic') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
            <td><a href="/comparisons/992">Link</a></td>
            <td class='num'>4,984,488</td>
            <td class='num'>0</td>
            <td><%= recognition_badge('deterministic') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
            <td><a href="/comparisons/842">Link</a></td>
            <td class='num'>4,629,987</td>
            <td class='num'>671</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
            <td><a href="/comparisons/835">Link</a></td>
            <td class='num'>4,988,670</td>
            <td class='num'>851</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
            <td><a href="/comparisons/597">Link</a></td>
            <td class='num'>4,689,121</td>
            <td class='num'>2,293</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
            <td><a href="/comparisons/599">Link</a></td>
            <td class='num'>4,720,819</td>
            <td class='num'>6,342</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
            <td><a href="/comparisons/635">Link</a></td>
            <td class='num'>4,611,442</td>
            <td class='num'>7,295</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
            <td><a href="/comparisons/989">Link</a></td>
            <td class='num'>4,612,455</td>
            <td class='num'>12,645</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
            <td><a href="/comparisons/698">Link</a></td>
            <td class='num'>4,536,436</td>
            <td class='num'>13,105</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
            <td><a href="/comparisons/533">Link</a></td>
            <td class='num'>4,532,335</td>
            <td class='num'>24,120</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
            <td><a href="/comparisons/985">Link</a></td>
            <td class='num'>3,129,181</td>
            <td class='num'>62,880</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
            <td><a href="/comparisons/751">Link</a></td>
            <td class='num'>4,378,027</td>
            <td class='num'>114,285</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a></td>
            <td><a href="/comparisons/1033">Link</a></td>
            <td class='num'>3,139,985</td>
            <td class='num'>0</td>
            <td>not-considered</td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a></td>
            <td><a href="/comparisons/113">Link</a></td>
            <td class='num'>3,151,019</td>
            <td class='num'>0</td>
            <td>not-considered</td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
            <td><a href="/comparisons/996">Link</a></td>
            <td class='num'>4,632,204</td>
            <td class='num'>0</td>
            <td>not-considered</td>
          </tr>
      </table>
    </div>
  </div>

  <div class="challenge-section">
    <div class="h2">Reproducibility across different inputs</div>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <tr>
          <td>Nickname</td>
          <td>Repro.2</td>
          <td>Common (TP)</td>
          <td>Unique (FP+FN)</td>
          <td>Concordance</td>
          <td>Recognition</td>
        </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
            <td><a href="/comparisons/472">Link</a></td>
            <td class='num'>4,305,175</td>
            <td class='num'>402,872</td>
            <td>91.44%</td>
            <td><%= recognition_badge('highest-concordance') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
            <td><a href="/comparisons/600">Link</a></td>
            <td class='num'>3,865,697</td>
            <td class='num'>379,207</td>
            <td>91.07%</td>
            <td><%= recognition_badge('high-concordance') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
            <td><a href="/comparisons/551">Link</a></td>
            <td class='num'>4,346,524</td>
            <td class='num'>450,490</td>
            <td>90.61%</td>
            <td><%= recognition_badge('high-concordance') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
            <td><a href="/comparisons/845">Link</a></td>
            <td class='num'>4,309,008</td>
            <td class='num'>451,004</td>
            <td>90.53%</td>
            <td><%= recognition_badge('high-concordance') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
            <td><a href="/comparisons/603">Link</a></td>
            <td class='num'>4,408,487</td>
            <td class='num'>476,797</td>
            <td>90.24%</td>
            <td><%= recognition_badge('high-concordance') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
            <td><a href="/comparisons/990">Link</a></td>
            <td class='num'>4,320,164</td>
            <td class='num'>469,875</td>
            <td>90.19%</td>
            <td><%= recognition_badge('high-concordance') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
            <td><a href="/comparisons/859">Link</a></td>
            <td class='num'>4,305,204</td>
            <td class='num'>471,741</td>
            <td>90.12%</td>
            <td><%= recognition_badge('high-concordance') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
            <td><a href="/comparisons/752">Link</a></td>
            <td class='num'>4,118,928</td>
            <td class='num'>457,085</td>
            <td>90.01%</td>
            <td><%= recognition_badge('high-concordance') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
            <td><a href="/comparisons/534">Link</a></td>
            <td class='num'>4,218,797</td>
            <td class='num'>489,112</td>
            <td>89.61%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
            <td><a href="/comparisons/848">Link</a></td>
            <td class='num'>4,054,823</td>
            <td class='num'>477,592</td>
            <td>89.46%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
            <td><a href="/comparisons/993">Link</a></td>
            <td class='num'>4,586,333</td>
            <td class='num'>617,194</td>
            <td>88.14%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
            <td><a href="/comparisons/601">Link</a></td>
            <td class='num'>4,194,953</td>
            <td class='num'>650,105</td>
            <td>86.58%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
            <td><a href="/comparisons/636">Link</a></td>
            <td class='num'>4,181,476</td>
            <td class='num'>719,864</td>
            <td>85.31%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
            <td><a href="/comparisons/699">Link</a></td>
            <td class='num'>4,040,298</td>
            <td class='num'>735,781</td>
            <td>84.59%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
            <td><a href="/comparisons/602">Link</a></td>
            <td class='num'>3,657,090</td>
            <td class='num'>680,757</td>
            <td>84.31%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
            <td><a href="/comparisons/836">Link</a></td>
            <td class='num'>4,296,761</td>
            <td class='num'>1,131,758</td>
            <td>79.15%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a></td>
            <td><a href="/comparisons/114">Link</a></td>
            <td class='num'>3,151,019</td>
            <td class='num'>0</td>
            <td>100.00%</td>
            <td>not-considered</td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a></td>
            <td><a href="/comparisons/1045">Link</a></td>
            <td class='num'>3,097,788</td>
            <td class='num'>57,975</td>
            <td>98.16%</td>
            <td>not-considered</td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
            <td><a href="/comparisons/1006">Link</a></td>
            <td class='num'>3,086,242</td>
            <td class='num'>66,955</td>
            <td>97.88%</td>
            <td>not-considered</td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
            <td><a href="/comparisons/986">Link</a></td>
            <td class='num'>3,083,646</td>
            <td class='num'>121,074</td>
            <td>96.22%</td>
            <td>not-considered</td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
            <td><a href="/comparisons/753">Link</a></td>
            <td class='num'>3,064,375</td>
            <td class='num'>259,836</td>
            <td>92.18%</td>
            <td>not-considered</td>
          </tr>

      </table>
    </div>
  </div>

  <div class="challenge-section">
    <div class="h2">Recall</div>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <tr>
          <td>Nickname</td>
          <td>Recall1</td>
          <td>Recall2</td>
          <td>Diff from top</td>
          <td>Recognition</td>
        </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
            <td>99.54%</td>
            <td>98.92%</td>
            <td>0.00%</td>
            <td><%= recognition_badge('highest-recall') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
            <td>99.46%</td>
            <td>98.62%</td>
            <td>0.38%</td>
            <td><%= recognition_badge('high-recall') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
            <td>99.51%</td>
            <td>98.54%</td>
            <td>0.41%</td>
            <td><%= recognition_badge('high-recall') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
            <td>99.40%</td>
            <td>98.62%</td>
            <td>0.44%</td>
            <td><%= recognition_badge('high-recall') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
            <td>99.44%</td>
            <td>98.46%</td>
            <td>0.56%</td>
            <td><%= recognition_badge('high-recall') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
            <td>99.34%</td>
            <td>98.50%</td>
            <td>0.62%</td>
            <td><%= recognition_badge('high-recall') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
            <td>99.05%</td>
            <td>98.19%</td>
            <td>1.22%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
            <td>98.91%</td>
            <td>98.19%</td>
            <td>1.36%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
            <td>98.91%</td>
            <td>98.08%</td>
            <td>1.47%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
            <td>98.95%</td>
            <td>97.96%</td>
            <td>1.55%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
            <td>98.82%</td>
            <td>97.45%</td>
            <td>2.19%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
            <td>98.59%</td>
            <td>97.56%</td>
            <td>2.31%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
            <td>97.96%</td>
            <td>96.75%</td>
            <td>3.75%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
            <td>99.25%</td>
            <td>94.25%</td>
            <td>4.96%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
            <td>97.32%</td>
            <td>93.81%</td>
            <td>7.33%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
            <td>95.68%</td>
            <td>94.56%</td>
            <td>8.22%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
            <td>95.26%</td>
            <td>93.40%</td>
            <td>9.80%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
            <td>95.48%</td>
            <td>90.60%</td>
            <td>12.38%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
            <td>93.55%</td>
            <td>89.99%</td>
            <td>14.92%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a></td>
            <td>99.43%</td>
            <td>98.51%</td>
            <td>-</td>
            <td>not-considered</td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a></td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>-</td>
            <td>not-considered</td>
          </tr>

      </table>

    </div>
  </div>

  <div class="challenge-section">
    <div class="h2">Precision</div>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <tr>
          <td>Nickname</td>
          <td>Precision1</td>
          <td>Precision2</td>
          <td>Diff from top</td>
          <td>Recognition</td>
        </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
            <td>99.71%</td>
            <td>99.62%</td>
            <td>0.00%</td>
            <td><%= recognition_badge('highest-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
            <td>99.54%</td>
            <td>99.61%</td>
            <td>0.18%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
            <td>99.48%</td>
            <td>99.56%</td>
            <td>0.29%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
            <td>99.43%</td>
            <td>99.60%</td>
            <td>0.30%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
            <td>99.54%</td>
            <td>99.46%</td>
            <td>0.33%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
            <td>99.41%</td>
            <td>99.47%</td>
            <td>0.45%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
            <td>99.35%</td>
            <td>99.47%</td>
            <td>0.51%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
            <td>99.31%</td>
            <td>99.47%</td>
            <td>0.55%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
            <td>99.22%</td>
            <td>99.43%</td>
            <td>0.68%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
            <td>99.25%</td>
            <td>99.39%</td>
            <td>0.69%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
            <td>99.12%</td>
            <td>99.39%</td>
            <td>0.82%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
            <td>99.21%</td>
            <td>99.29%</td>
            <td>0.83%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
            <td>99.13%</td>
            <td>99.33%</td>
            <td>0.87%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
            <td>99.16%</td>
            <td>99.20%</td>
            <td>0.97%</td>
            <td><%= recognition_badge('high-precision') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
            <td>98.63%</td>
            <td>97.90%</td>
            <td>2.80%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
            <td>98.11%</td>
            <td>97.76%</td>
            <td>3.46%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
            <td>97.86%</td>
            <td>97.97%</td>
            <td>3.50%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
            <td>93.16%</td>
            <td>95.26%</td>
            <td>10.91%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
            <td>90.17%</td>
            <td>89.00%</td>
            <td>20.16%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a></td>
            <td>99.78%</td>
            <td>99.70%</td>
            <td>-</td>
            <td>not-considered</td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a></td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>-</td>
            <td>not-considered</td>
          </tr>

      </table>

    </div>
  </div>

  <div class="challenge-section">
    <div class="h2">F-measure</div>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <tr>
          <td>Nickname</td>
          <td>F-measure1</td>
          <td>F-measure2</td>
          <td>Diff from top</td>
          <td>Recognition</td>
        </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
            <td>99.62%</td>
            <td>99.27%</td>
            <td>0.00%</td>
            <td><%= recognition_badge('highest-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
            <td>99.47%</td>
            <td>99.06%</td>
            <td>0.36%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
            <td>99.39%</td>
            <td>98.97%</td>
            <td>0.53%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
            <td>99.31%</td>
            <td>99.02%</td>
            <td>0.56%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
            <td>99.29%</td>
            <td>98.97%</td>
            <td>0.63%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
            <td>99.25%</td>
            <td>98.85%</td>
            <td>0.79%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
            <td>99.18%</td>
            <td>98.82%</td>
            <td>0.89%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
            <td>99.22%</td>
            <td>98.76%</td>
            <td>0.91%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
            <td>99.00%</td>
            <td>98.79%</td>
            <td>1.10%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
            <td>99.10%</td>
            <td>98.67%</td>
            <td>1.12%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
            <td>99.18%</td>
            <td>98.52%</td>
            <td>1.19%</td>
            <td><%= recognition_badge('high-f-measure') %></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
            <td>98.23%</td>
            <td>97.76%</td>
            <td>2.90%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
            <td>99.23%</td>
            <td>96.70%</td>
            <td>2.96%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
            <td>98.04%</td>
            <td>97.25%</td>
            <td>3.60%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
            <td>97.97%</td>
            <td>95.81%</td>
            <td>5.11%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
            <td>97.29%</td>
            <td>96.34%</td>
            <td>5.26%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
            <td>97.44%</td>
            <td>94.87%</td>
            <td>6.58%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
            <td>94.40%</td>
            <td>94.91%</td>
            <td>9.58%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
            <td>91.83%</td>
            <td>89.49%</td>
            <td>17.57%</td>
            <td></td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a></td>
            <td>99.61%</td>
            <td>99.10%</td>
            <td>-</td>
            <td>not-considered</td>
          </tr>

          <tr>
            <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a></td>
            <td>100.00%</td>
            <td>100.00%</td>
            <td>-</td>
            <td>not-considered</td>
          </tr>

      </table>

    </div>
  </div>

  <div class="challenge-section">
    <div class="h2">Warnings</div>
    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-striped table-hover">
        <tr>
          <td>Nickname</td>
          <td>Warnings</td>
        </tr>

          <tr>
            <td>ebanks-nist</td>
            <td></td>
          </tr>

          <tr>
            <td>raldana-sentieon</td>
            <td></td>
          </tr>

          <tr>
            <td>dgrover-gatk</td>
            <td></td>
          </tr>

          <tr>
            <td>jedwards-sentieon</td>
            <td></td>
          </tr>

          <tr>
            <td>ckim-gatk</td>
            <td></td>
          </tr>

          <tr>
            <td>ckim-vqsr</td>
            <td></td>
          </tr>

          <tr>
            <td>ckim-isaac</td>
            <td></td>
          </tr>

          <tr>
            <td>ckim-dragen</td>
            <td></td>
          </tr>

          <tr>
            <td>ckim-genalice</td>
            <td></td>
          </tr>

          <tr>
            <td>mlin-fermikit</td>
            <td></td>
          </tr>

          <tr>
            <td>ciseli-custom</td>
            <td></td>
          </tr>

          <tr>
            <td>astatham-gatk</td>
            <td></td>
          </tr>

          <tr>
            <td>anovak-vg</td>
            <td></td>
          </tr>

          <tr>
            <td>mmohiyuddin-mixed</td>
            <td>Rerun VCF file-BvZ1Zb00X24xQ0V341kkb211 appeared 7 days post-deadline</td>
          </tr>

          <tr>
            <td>cchapple-mixed</td>
            <td></td>
          </tr>

          <tr>
            <td>amark-mixed</td>
            <td>Repro.1 comparison 985 was done by George<br>Repro.2 comparison 986 was done by George<br>Acc.1a comparison 982 was done by George<br>Acc.1b comparison 984 was done by George<br>Acc.2 comparison 983 was done by George</td>
          </tr>

          <tr>
            <td>jharris-gatk</td>
            <td></td>
          </tr>

          <tr>
            <td>asubramanian-gatk</td>
            <td></td>
          </tr>

          <tr>
            <td>egarrison-hhga</td>
            <td>HLI VCF file-BvYkXzQ0f0fz7fyFq9KgB667 appeared 7 days post-deadline</td>
          </tr>

          <tr>
            <td>xli-custom</td>
            <td>Repro.1 comparison 992 was done by George<br>Repro.2 comparison 993 was done by George</td>
          </tr>

          <tr>
            <td>rlopez-custom</td>
            <td>Garvan VCF file-Bvb8Bk007b4J44Fjx82zx3Zv appeared 9 days post-deadline<br>Rerun VCF file-Bvb8ZZj07b4J19BZpQ2yKPbB appeared 9 days post-deadline<br>HLI VCF file-Bvb9z8007b4GB83FX02vGqfq appeared 9 days post-deadline</td>
          </tr>

      </table>
    </div>
  </div>

</div>
