<div class="table-responsive">
  <table class="table table-condensed table-bordered">
    <thead>
      <th>Label</th>
      <th>Repro.2</th>
      <th>Common (TP)</th>
      <th>Unique (FP+FN)</th>
      <th>Concordance</th>
      <th>Recognition</th>
    </thead>
    <tbody>
      <tr class="challenge-row-highest">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
        <td><a href="/comparisons/472">Link</a></td>
        <td class='num'>4,305,175</td>
        <td class='num'>402,872</td>
        <td>91.44%</td>
        <td><%= recognition_badge('highest-concordance') %></td>
      </tr>

      <tr class="challenge-row-high">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
        <td><a href="/comparisons/600">Link</a></td>
        <td class='num'>3,865,697</td>
        <td class='num'>379,207</td>
        <td>91.07%</td>
        <td><%= recognition_badge('high-concordance') %></td>
      </tr>

      <tr class="challenge-row-high">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
        <td><a href="/comparisons/551">Link</a></td>
        <td class='num'>4,346,524</td>
        <td class='num'>450,490</td>
        <td>90.61%</td>
        <td><%= recognition_badge('high-concordance') %></td>
      </tr>

      <tr class="challenge-row-high">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
        <td><a href="/comparisons/845">Link</a></td>
        <td class='num'>4,309,008</td>
        <td class='num'>451,004</td>
        <td>90.53%</td>
        <td><%= recognition_badge('high-concordance') %></td>
      </tr>

      <tr class="challenge-row-high">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
        <td><a href="/comparisons/603">Link</a></td>
        <td class='num'>4,408,487</td>
        <td class='num'>476,797</td>
        <td>90.24%</td>
        <td><%= recognition_badge('high-concordance') %></td>
      </tr>

      <tr class="challenge-row-high">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
        <td><a href="/comparisons/990">Link</a></td>
        <td class='num'>4,320,164</td>
        <td class='num'>469,875</td>
        <td>90.19%</td>
        <td><%= recognition_badge('high-concordance') %></td>
      </tr>

      <tr class="challenge-row-high">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
        <td><a href="/comparisons/859">Link</a></td>
        <td class='num'>4,305,204</td>
        <td class='num'>471,741</td>
        <td>90.12%</td>
        <td><%= recognition_badge('high-concordance') %></td>
      </tr>

      <tr class="challenge-row-high">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
        <td><a href="/comparisons/752">Link</a></td>
        <td class='num'>4,118,928</td>
        <td class='num'>457,085</td>
        <td>90.01%</td>
        <td><%= recognition_badge('high-concordance') %></td>
      </tr>

      <tr>
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
        <td><a href="/comparisons/534">Link</a></td>
        <td class='num'>4,218,797</td>
        <td class='num'>489,112</td>
        <td>89.61%</td>
        <td></td>
      </tr>

      <tr>
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
        <td><a href="/comparisons/848">Link</a></td>
        <td class='num'>4,054,823</td>
        <td class='num'>477,592</td>
        <td>89.46%</td>
        <td></td>
      </tr>

      <tr>
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
        <td><a href="/comparisons/1110">Link</a></td>
        <td class='num'>4,586,333</td>
        <td class='num'>617,194</td>
        <td>88.14%</td>
        <td></td>
      </tr>

      <tr>
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
        <td><a href="/comparisons/601">Link</a></td>
        <td class='num'>4,194,953</td>
        <td class='num'>650,105</td>
        <td>86.58%</td>
        <td></td>
      </tr>

      <tr>
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
        <td><a href="/comparisons/636">Link</a></td>
        <td class='num'>4,181,476</td>
        <td class='num'>719,864</td>
        <td>85.31%</td>
        <td></td>
      </tr>

      <tr>
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
        <td><a href="/comparisons/699">Link</a></td>
        <td class='num'>4,040,298</td>
        <td class='num'>735,781</td>
        <td>84.59%</td>
        <td></td>
      </tr>

      <tr>
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
        <td><a href="/comparisons/602">Link</a></td>
        <td class='num'>3,657,090</td>
        <td class='num'>680,757</td>
        <td>84.31%</td>
        <td></td>
      </tr>

      <tr>
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
        <td><a href="/comparisons/836">Link</a></td>
        <td class='num'>4,296,761</td>
        <td class='num'>1,131,758</td>
        <td>79.15%</td>
        <td></td>
      </tr>

      <tr class="challenge-row-not-considered">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a></td>
        <td><a href="/comparisons/114">Link</a></td>
        <td class='num'>3,151,019</td>
        <td class='num'>0</td>
        <td>100.00%</td>
        <td>[#4]</td>
      </tr>

      <tr class="challenge-row-not-considered">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a></td>
        <td><a href="/comparisons/1045">Link</a></td>
        <td class='num'>3,097,788</td>
        <td class='num'>57,975</td>
        <td>98.16%</td>
        <td>[#5]</td>
      </tr>

      <tr class="challenge-row-not-considered">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
        <td><a href="/comparisons/1006">Link</a></td>
        <td class='num'>3,086,242</td>
        <td class='num'>66,955</td>
        <td>97.88%</td>
        <td>[#6]</td>
      </tr>

      <tr class="challenge-row-not-considered">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
        <td><a href="/comparisons/986">Link</a></td>
        <td class='num'>3,083,646</td>
        <td class='num'>121,074</td>
        <td>96.22%</td>
        <td>[#6]</td>
      </tr>

      <tr class="challenge-row-not-considered">
        <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
        <td><a href="/comparisons/753">Link</a></td>
        <td class='num'>3,064,375</td>
        <td class='num'>259,836</td>
        <td>92.18%</td>
        <td>[#6]</td>
      </tr>
    </tbody>
  </table>
</div>
