<div class="table-responsive">
  <table class="table table-condensed table-bordered table-nowrap">
    <thead>
      <tr>
        <th rowspan="2">Label</th>
        <th rowspan="2">Submitter</th>
        <th rowspan="2">Organization</th>
        <th rowspan="2">Awards</th>
        <th colspan="2">Reproducibility recognitions</th>
        <th colspan="3">Accuracy recognitions</th>
        <th rowspan="2">Other<br>recognitions</th>
      </tr>
      <tr>
        <th>Determinism</th>
        <th>Concordance</th>
        <th>Recall</th>
        <th>Precision</th>
        <th>F-measure</th>
      </tr>
    </thead>

    <tr class="challenge-row-not-considered">
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/eric.banks">ebanks-nist</a>*</td>
      <td>Eric Banks</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rafael.aldana">raldana-sentieon</a></td>
      <td>Rafael Aldana <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Hanying Feng, Brendan Gallagher, Jun Ye">et al.</a></td>
      <td>Sentieon</td>
      <td>
        <%= medal_badge("Performance") %>
        <br>
        <%= medal_badge("Reproducibility") %>
      </td>
      <td><%= recognition_badge('deterministic') %></td>
      <td><%= recognition_badge('highest-concordance') %></td>
      <td><%= recognition_badge('high-recall') %></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/deepak.grover">dgrover-gatk</a></td>
      <td>Deepak Grover</td>
      <td>Sanofi-Genzyme</td>
      <td><%= medal_badge("Accuracy") %></td>
      <td></td>
      <td><%= recognition_badge('high-concordance') %></td>
      <td><%= recognition_badge('highest-recall') %></td>
      <td><%= recognition_badge('highest-precision') %></td>
      <td><%= recognition_badge('highest-f-measure') %></td>
      <td><%= recognition_badge('extra-credit') %></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jeremy.edwards">jedwards-sentieon</a></td>
      <td>Jeremy Edwards</td>
      <td><abbr title="University of New Mexico">UNM</abbr></td>
      <td></td>
      <td><%= recognition_badge('deterministic') %></td>
      <td><%= recognition_badge('high-concordance') %></td>
      <td><%= recognition_badge('high-recall') %></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-gatk</a></td>
      <td>Changhoon Kim</td>
      <td>Macrogen</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-vqsr</a></td>
      <td>Changhoon Kim</td>
      <td>Macrogen</td>
      <td></td>
      <td><%= recognition_badge('deterministic') %></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-isaac</a></td>
      <td>Changhoon Kim</td>
      <td>Macrogen</td>
      <td></td>
      <td><%= recognition_badge('deterministic') %></td>
      <td><%= recognition_badge('high-concordance') %></td>
      <td></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-dragen</a></td>
      <td>Changhoon Kim</td>
      <td>Macrogen</td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-concordance') %></td>
      <td><%= recognition_badge('high-recall') %></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/changhoon.kim">ckim-genalice</a></td>
      <td>Changhoon Kim</td>
      <td>Macrogen</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/mike.lin">mlin-fermikit</a></td>
      <td>Mike Lin</td>
      <td>DNAnexus Science</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('pfda-apps') %></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/christian.iseli">ciseli-custom</a></td>
      <td>Christian Iseli <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Nicolas Guex, Maxime Jan, Thierry Schuepbach, Brian Stevenson, Ioannis Xenarios">et al.</a></td>
      <td><abbr title="Swiss Institute of Bioinformatics">SIB</abbr></td>
      <td></td>
      <td><%= recognition_badge('deterministic') %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/aaron.statham">astatham-gatk</a></td>
      <td>Aaron Statham <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Mark Cowley, Joseph Copty, Mark Pinese">et al.</a></td>
      <td><abbr title="Kinghorn Center of Clinical Genomics">KCCG</abbr></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.novak">anovak-vg</a></td>
      <td>Adam Novak <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Erik Garrison, Eric Dawson, Glenn Hickey, Mike Lin">et al.</a></td>
      <td>vgteam</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('heroic-effort') %></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/marghoob.mohiyuddin">mmohiyuddin-mixed</a></td>
      <td>Marghoob Mohiyuddin <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Jian Li">et al.</a></td>
      <td>Roche</td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-concordance') %></td>
      <td><%= recognition_badge('high-recall') %></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/charles.chapple">cchapple-mixed</a></td>
      <td>Charles Chapple <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Andreas Massouras">et al.</a></td>
      <td>Saphetor</td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-concordance') %></td>
      <td></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/adam.mark.2">amark-mixed</a></td>
      <td>Adam Mark</td>
      <td>Avera</td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-recall') %></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/jason.harris">jharris-gatk</a></td>
      <td>Jason Harris</td>
      <td>Personalis</td>
      <td></td>
      <td><%= recognition_badge('deterministic') %></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/ayshwarya.subramanian">asubramanian-gatk</a></td>
      <td>Ayshwarya Subramanian <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Yossi Farjoun, Jonathan Bloom">et al.</a></td>
      <td>Broad Institute</td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-concordance') %></td>
      <td></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/erik.garrison">egarrison-hhga</a></td>
      <td>Erik Garrison <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Nikete Della Penna">et al.</a></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('deterministic') %></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('high-precision') %></td>
      <td><%= recognition_badge('high-f-measure') %></td>
      <td></td>
    </tr>

    <tr>
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/xiang.li">xli-custom</a></td>
      <td>Xiang Li <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Tao Wang">et al.</a></td>
      <td>Pathway Genomics</td>
      <td></td>
      <td><%= recognition_badge('deterministic') %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr class="challenge-row-not-considered">
      <td><a href="/discussions/1-precisionfda-consistency-challenge/answers/rene.lopez">rlopez-custom</a>**</td>
      <td>Rene Lopez <a tabindex="0" role="button" data-trigger="Focus" data-toggle="popover" data-content="Adrian Sarno">et al.</a></td>
      <td>MyBioinformatician</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= recognition_badge('promising') %></td>
    </tr>
  </table>
</div>
