<% content_for :title do %><%= @job.name %><% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-tasks"></span>
    <% case @job.state
      when "failed" %>
      <span class="label label-danger"><%= @job.state.upcase %></span>
    <% when "done" %>
      <span class="label label-success"> <%= @job.state.upcase %></span>
    <% when "running" %>
      <span class="label label-primary"> <%= @job.state.upcase %></span>
    <% else %>
      <span class="label label-warning"> <%= @job.state.upcase %></span>
    <% end %>
    <span class="name"><%= link_to @job.name, job_path(@job) %></span>
  </div>
</div>

<div class="pfda-toolbar">
  <div class="btn-group pull-left">
    <%= link_to log_job_path(@job), class: "btn btn-default", data: {no_turbolink: true} do %>
      <span class="fa fa-refresh"></span> Refresh
    <% end %>
  </div>

  <% if @job.user_id == @context.user_id %>
    <div class="btn-group pull-right">
      <% if !@job.terminal? %>
        <%= link_to job_path(@job), method: :delete, data: { confirm: 'Are you certain you want to Terminate this?' }, class: "btn btn-danger" do %>
          <span class="fa fa-times-circle"></span> Terminate
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container-fluid"><div class="job-log panel panel-default"><%= @log_contents.join("\n") %></div></div>
