<% content_for :title do %>Run <%= @app.title %><% end %>

<div class="affix-spacer">
  <div class="affix-container">
    <div class="page-header clearfix">
      <div class="page-title pull-left"><span class="fa fa-cube"></span> Run <%= link_to @app.title, app_path(@app.uid), target: "_blank" %></div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-lg" data-bind="css: {disabled: !isRunnable(), 'btn-default': !isRunnable(), 'btn-primary': isRunnable()}, attr: {disabled: !isRunnable()}, disable: !isRunnable(), click: run"><span class="fa fa-bolt"></span> <span data-bind="text: running() ? 'Running...':'Run App'"></span></button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-padded">
  <%= alert_help("Learn more about running an app", "#{show_docs_path('apps')}#apps-run") %>
  <form class="form form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Configure</h4>
      </div>
      <div class="panel-body">
        <div class="form-group required">
          <label class= "col-sm-4 control-label" for="name">Job Name</label>
          <div class="col-sm-10 col-sm-offset-1">
            <input type="text" name="name" class="form-control" placeholder="Enter a name for this job" data-bind="textInput: name">
          </div>
        </div>
        <!-- ko if: needSelectSpace -->
          <div class="form-group required">
            <label class= "col-sm-4 control-label" for="space_id">Space scope</label>
            <div class="col-sm-10 col-sm-offset-1">
              <select name="space_id" class="form-control" data-bind="options: selectableSpaces,
                   optionsText: 'label',
                   optionsValue: 'value',
                   value: spaceId,
                   optionsCaption: 'Choose...'"></select>
            </div>
          </div>
        <!-- /ko -->
        <div class="form-group">
          <label class= "col-sm-4 control-label" for="instance_type">Instance Type</label>
          <div class="col-sm-10 col-sm-offset-1">
            <select name="instance_type" class="form-control" data-bind="options: availableInstances,
                   optionsText: 'label',
                   optionsValue: 'value',
                   value: instanceType,
                   optionsCaption: 'Choose...'"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Inputs</h4>
      </div>
      <div class="panel-body">
        <!-- ko foreach: inputModels -->
        <div class="form-group" data-bind="css: {required: isRequired, 'has-error': error}">
          <label class= "col-sm-4 control-label" data-bind="text: label || name, attr: {title: help}, css: {'text-danger': needsToBeSet}"></label>
          <div class="col-sm-10 col-sm-offset-1" data-bind="css: 'field-'+className">
            <!-- ko if: choices -->
              <select class="form-control" data-bind="options: choices, optionsCaption: !defaultValue ? 'Select...' : undefined, value: valueDisplay, disable: $root.busy"></select>
            <!-- /ko -->
            <!-- ko ifnot: choices -->
              <!-- ko if: className == 'int' || className == 'float' || className == 'string' -->
                <input type="text" class="form-control" data-bind="textInput: valueDisplay, attr: {name: name, placeholder: placeholder, disable: $root.busy}">
              <!-- /ko -->
              <!-- ko if: className == 'boolean' -->
                <div class="btn-group">
                  <button class="btn btn-default" data-bind="css: {active: value() === true, is_default: defaultValue === true}, click: toggleTrue, disable: $root.busy">True</button>
                  <button class="btn btn-default" data-bind="css: {active: value() === false, is_default: defaultValue === false}, click: toggleFalse, disable: $root.busy">False</button>
                </div>
              <!-- /ko -->
              <!-- ko if: className == 'file' -->
                <button class="btn btn-info" data-bind="text: valueDisplay, attr: {name: name, disable: $root.busy}, click: openFileSelector, css: { 'btn-info': !value(), 'btn-default': value}">Select file...</button>
                <!-- ko if: value -->
                  <button class="btn btn-link btn-link-danger" data-bind="click: clear">Clear</button>
                <!-- /ko -->
                <%= render "_partials/selector_modal" %>
              <!-- /ko -->
            <!-- /ko -->
            <div class="help-block" data-bind="text: error, visible: error"></div>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </form>
</div>

<%= render "licenses/selector_modal" %>
