<% content_for :title do %>Run <%= @app.title %><% end %>

<div>Run <%= @app.title %></div>
<hr>
<%= form_for @job, url: app_jobs_path(@app.dxid) do |f| %>

  <%= debug @job %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <hr>

  <div> Inputs: </div>
  <%= f.fields_for :run_inputs do |f| %>
    <% @app.input_spec.each do |input| %>
      <%
      is_required = (input['optional'] != true)
      default = input['default']
      klass = input['class']
      label = input['label']
      help = input['help']
      name = input['name']
      choices = input['choices']
      %>
      <div>
      <%= f.label name, label, title: help %>
      <% if klass == 'string' %>
        <% if choices.present? %>
          <%= f.select(name, choices, include_blank: !is_required, :prompt => 'Select...') %>
        <% else %>
          <%= f.text_field name %>
        <% end %>
      <% elsif klass == 'int' %>
        <%= f.text_field name %>
      <% elsif klass == 'boolean' %>
        <%= f.check_box name %>
      <% elsif klass == 'file' %>
        <%= f.collection_select(name, @files, :dxid, :name, :prompt => 'Select...') %>
      <% end %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit "Run App" %>
<% end %>
