<% content_for :title do %><%= @job.name %><% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-tasks"></span>
    <% case @job.state
      when "failed" %>
      <span class="label label-danger"><%= @job.state.upcase %></span>
    <% when "pending" %>
      <span class="label label-warning"> <%= @job.state.upcase %></span>
    <% when "done" %>
      <span class="label label-success"> <%= @job.state.upcase %></span>
    <% end %>
    <span class="name"><%= @job.name %></span>
  </div>
</div>

<% if @job.user_id == @context.user_id %>
<div class="pfda-toolbar">
  <div class="btn-group pull-left">
    <!-- TODO: Edit job action -->
    <!-- TODO: Public job action -->
  </div>

  <div class="btn-group pull-right">
    <% if !@job.terminal? %>
      <%= link_to job_path(@job.dxid), method: :delete, data: { confirm: 'Are you certain you want to Terminate this?' }, class: "btn btn-danger" do %>
        <span class="fa fa-trash"></span> Terminate
      <% end %>
    <% end %>
  </div>
</div>
<% end %>

<div class="container-fluid">
  <div class="metadata-section">
    <ul class="list-group list-group-inline">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">App</h5>
        <p class="list-group-item-text"><%= App.where(dxid: @job.app_dxid).exists? ? link_to(@job.app.title, app_path(@job.app.dxid)) : (@job.app_title + " (" + @job.app_dxid + ")")  %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Launched by</h5>
        <p class="list-group-item-text">
          <%= link_to(@job.user.dxuser, user_path(@job.user.dxuser))  %>
        </p>
      </li>
    </ul>

    <ul class="list-group list-group-inline">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">State</h5>
        <p class="list-group-item-text"><%= @job.state %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Created</h5>
        <p class="list-group-item-text"><%= @job.created_at.to_s(:db) %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Instance type</h5>
        <p class="list-group-item-text"><%= @job.resolved_instance_type %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Duration</h5>
        <p class="list-group-item-text">
          <% if @job.runtime > 0 %>
            <%= humanizeSeconds(@job.runtime) %>
          <% else %>
            &mdash;
          <% end %>
        </p>
      </li>
    </ul>
  </div>
</div>
