<% content_for :title do %><%= @user.dxuser %><% end %>

<div class="page-header">
  <div class="page-title"><span class="fa fa-user"></span> <%= @user.dxuser %></div>
</div>

<div class="container-fluid">
  <div class="metadata-section">
    <ul class="list-group list-group-inline">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Files</h5>
        <p class="list-group-item-text">
          <%= link_to(@user.real_files.accessible_by(@context.user_id).size, "#{files_path()}?grid[f][users.dxuser]=#{@user.dxuser}")  %>
        </p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Comparisons</h5>
        <p class="list-group-item-text">
          <%= link_to(@user.comparisons.size, "#{comparisons_path()}?grid[f][users.dxuser]=#{@user.dxuser}")  %>
        </p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Notes</h5>
        <p class="list-group-item-text">
          <%= link_to(@user.notes.size, "#{notes_path()}?grid[f][users.dxuser]=#{@user.dxuser}")  %>
        </p>
      </li>
    </ul>

    <ul class="list-group list-group-inline">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Joined</h5>
        <p class="list-group-item-text"><%= @user.created_at.to_s(:db) %></p>
        </li>

      <% if @user.org_id.present? %>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Organization</h5>
        <p class="list-group-item-text"><%= @user.org.name %></p>
      </li>
      <% end %>

    </ul>
  </div>
</div>
