<div id="about-docs" class="bs-docs-container docs-content">
  <div class="row">
    <div class="col-sm-18">
      <div id="customization" class="h1">Site Customization</div>
      <div class="bs-docs-section">
        <p>
          The precisionFDA site has many areas for publishing content. These include the
          Expert Spotlight, News, Community Participants, and Get Started areas. These areas allow for new content to become readily available when relevant. The Site Customization Workbench allows precisionFDA admins to add a new piece of content, preview how it will look, and then publish it to the full precisionFDA site.
        </p>
      </div>

      <div id="customization-overview" class="h2">The Overview Page and Site Customization Workbench</div>
      <div class="bs-docs-section">
        <p>
          The overview page contains important links and boxes that can direct users to useful pages throughout the site. To begin editing the overview page, click on your name in the upper right hand corner and then go to “Admin Dashboard”.
        </p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img bs-docs-media-img-smallest">
          <%= image_tag("docs/site_customization/overview.png") %>
        </div>

        <p>
          From there, click on the button “Site Customization Workbench”.
        </p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/workbench.png") %>
        </div>

        <p>
          This will take you to a page that allows you to modify the Get Started boxes, the News, and the Participants pages.
        </p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/boxes1.png") %>
        </div>
      </div>

      <div id="customization-boxes" class="h2">Get Started Boxes</div>
      <div class="bs-docs-section">
        <p>Get started boxes are displayed on the overview page and provide users with quick links to features and documentation for those features on the platform. To create a Get Started box, click the box that says “New box” in the site customization workbench page.</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/boxes2.png") %>
        </div>

        <p>From this link, you can specify a title, description, url, and documentation url for a given feature on the site.</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/boxes_new1.png") %>
        </div>

        <p>If you’re ready to display your Get Started box on the Overview page, check the box marked “Public” before pressing “Create Get started box”. If you would like to first test your Get Started box, then leave this box unselected. If the Get Started box is set to private mode, then once it has been created it will appear on your admin dashboard in the Get Started boxes area under “Private.”</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/boxes_new2.png") %>
        </div>

        <p>If you need to edit either your public or private Get Started boxes, click the “paper and pencil” icon next to the box’s name. This can be useful for modifying the viewership setting on the Get Started box. If a Get Started box is no longer necessary, one can remove it by clicking the small “trash can” icon beside the box’s name.</p>
      </div>

      <div id="customization-news" class="h2">News</div>
      <div class="bs-docs-section">
        <p>The overview page also displays current and relevant news articles that are of interest to the community of users. To create a news article on precisionFDA, select the “New article” button under the news tab in the site customization workbench.</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/news1.png") %>
        </div>

        <p>From here, you can specify the name of the article as it would appear on precisionFDA, the date the article is to be posted, a link to the article, a content summary of the article, and, optionally, a link to a video associated with the article. If you’re ready to make the article visible on the overview page, check the “Published” box and click “Create News Item”. If the Published box is left unchecked, the article will only be visible to you within your personal Site Customization Workbench.</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/news2.png") %>
        </div>
      </div>

      <div id="customization-participants" class="h2">Participants</div>
      <div class="bs-docs-section">
        <p>Another customizable feature within the Site Customization Workbench is the participants. The participants may be individuals or organizations who collaborate with precisionFDA. These participants will be displayed on the homepage. Under the participants tab, click on the button called “New participant”.</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/participants1.png") %>
        </div>

        <p>From here you can specify the title of the participant and an associated image to upload from your local computer.</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/participants2.png") %>
        </div>
      </div>

      <div id="customization-expert" class="h2">The Expert Spotlight</div>
      <div class="bs-docs-section">
        <p>The expert spotlight highlights a precisionFDA user as an expert in the field of genomics, bioinformatics, biomedical informatics, or precision medicine. The customization page on precisionFDA allows you to create an Expert Spotlight page by clicking the “Experts” button and then clicking “Create a new expert”. From here, you can identify the expert by their username, select an image for the post on their local computer, type out the expert’s preferred name, and create a biographical entry.</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/expert1.png") %>
        </div>

        <p>Now that the expert user for the post has been selected, a blog post for this highlighted expert can be created by filling out the blog sections, which include a title for the blogpost, the text displayed within the blogpost, and a preview to display on the front page of the Experts section.</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/expert2.png") %>
        </div>

        <p>Lastly, the visibility mode of the post can be set to either “Private” or “Public.” The Private setting allows you to test out how the post will appear on the precisionFDA site. The Public setting is for the finalized publication of the post.</p>

        <div class="bs-docs-section bs-docs-media-section bs-docs-media-img">
          <%= image_tag("docs/site_customization/expert3.png") %>
        </div>

        <p>To test the appearance of your post privately or go public with it, click the “Create Expert” button.</p>
      </div>

      <div class="bs-docs-section bs-docs-media-section">
        <%= video_iframe(videos[:site_customization][:url]) %>
      </div>
    </div>

    <!-- SIDEBAR NAVIGATION -->
    <div class="col-sm-6">
      <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
        <ul class="nav bs-docs-sidenav">
          <li><a href="#customization-overview">The Overview Page and Site Customization Workbench</a></li>
          <li><a href="#customization-boxes">Get Started Boxes</a></li>
          <li><a href="#customization-news">News</a></li>
          <li><a href="#customization-participants">Participants</a></li>
          <li><a href="#customization-expert">The Expert Spotlight</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
