<% content_for :title do %><%= @expert.name %><% end %>

<%= render 'experts/header', { is_dashboard: false, show_toolbar: false, show_intro: false } %>

<div class="pfda-toolbar">
  <%= link_to expert_path(@expert), class: "btn btn-default" do %>
    <span class="fa fa-chevron-left"></span> Back to questions
  <% end %>
</div>

<div class="pfda-pane container-fluid">
  <div class="pfda-pane-content pfda-pane-content-padded-xl">
    <div class="expert-question">
      <div class="">
        <h2 class="expert-question-body"><%= @expert_question.body %></h2>
        <small class="expert-question-footer text-muted">
          <% if @expert_question.edited? %>
            <i>Modified from a question from </i>
          <% else %>
            Asked by
          <% end %>
          <% if @expert_question.user_id.nil? %>
            anonymous
          <% else %>
            <%= link_to(@expert_question.user.full_name, user_path(@expert_question.user.dxuser)) %> (<%= @expert_question.user.org.name %>)
          <% end %>
        </small>
        <hr/>
        <p class="expert-question-answer-body lead">
          <%= @expert_question.expert_answer.body %>
        </p>
        <h6 class="expert-question-footer text-muted">
          Updated <%= local_time_ago(@expert_question.expert_answer.updated_at) %>
        </h6>
      </div>
    </div>
    <hr/>
    <%= render "comments/comments_wrapper", comments: @comments, items_from_params: @items_from_params, url: @item_comments_path, object: @expert_question %>
  </div>
  <div class="pfda-pane-sidebar pfda-pane-sidebar-minimal pfda-pane-sidebar-padded-v">
    <ul class="list-group">
      <li class="list-group-item text-center">
        <a class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#ask-question-modal">
          <span class="fa fa-commenting-o fa-fw" aria-hidden="true"></span> Ask <%= @expert.user.first_name.capitalize %>
        </a>
      </li>
      <% if @context.logged_in? %>
        <% if @user_questions.count > 0 %>
          <li class="list-group-item list-group-item-header">
            Your Questions (<%= @user_questions.count %>)
          </li>
          <% @user_questions.each do |q|%>
            <li class="list-group-item">
              <%= q._original %>
           </li>
          <% end %>
        <% end %>
      <% else %>
        <li class="list-group-item">
          Please login or register for an account to see track your question history.
        </li>
      <% end %>
      <br/>
    </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-item-header">
        About this month's Expert
      </li>
      <li class="list-group-item">
        <%= @expert._about %>
      </li>
    </ul>
  </div>
</div>

<%= render "experts/modal_ask_question" %>
