<% content_for :title do %><%= user_title(@expert.user) %><% end %>

<%= render 'experts/header', { is_dashboard: false, show_toolbar: false, show_intro: false } %>

<div class="pfda-toolbar">
  <%= link_to expert_path(@expert), class: "btn btn-default" do %>
    <span class="fa fa-chevron-left"></span> Back to questions
  <% end %>
</div>

<div class="pfda-pane container-fluid">
  <div class="pfda-pane-content pfda-pane-content-padded-xl">
    <div class="expert-question">
      <h2 class="expert-question-body"><%= @expert_question.body %></h2>
      <small class="expert-question-footer text-muted">
        <% if @expert_question.edited? %>
          <i>Modified from a question by </i>
        <% else %>
          Asked by
        <% end %>
        <%= user_link(@expert_question.user) %>
      </small>
      <hr/>
      <p class="expert-question-answer-body lead">
        <%= simple_format(@expert_question.expert_answer.body) %>
      </p>
      <h6 class="expert-question-footer text-muted">
        Updated <%= local_time_ago(@expert_question.expert_answer.updated_at) %>
      </h6>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <%= render "comments/comments_wrapper", comments: @comments, items_from_params: @items_from_params, url: @item_comments_path, object: @expert_question %>
      </div>
    </div>
  </div>
</div>

<%= render "experts/modal_ask_question" %>
