<% content_for :title do %>Edit your answer to "<%= @discussion.title %>"<% end %>

<div class="page-header">
  <div class="media">
    <div class="media-left text-muted">
      <%= link_to image_tag(@answer.user.gravatar_url, class: 'img-circle', height: '50px'), user_path(@answer.user.dxuser) %>
    </div>
    <div class="media-body">
      <div class="pfda-answer-meta">
        <div class="pfda-answer-user text-muted">
          Edit your <%= link_to((@answer.scope == 'public' ? 'answer' : 'draft answer'), discussion_answer_path(@discussion, @answer.user.dxuser)) %> to
        </div>
        <div class="pfda-answer-to-discussion text-muted">
            <%= link_to(@discussion.title, discussion_path(@discussion)) %>
        </div>
      </div>
      <% if @answer.scope != 'public' %>
        <span><span class="fa fa-lock"></span> This answer has not been published yet</span>
      <% end %>
    </div>
  </div>
</div>


<div class="pfda-toolbar clearfix">
  <div class="btn-toolbar pull-left">
    <% if @answer.editable_by?(@context) %>
      <button class="btn btn-default" data-bind="click: objectSelector.open"><span class="fa fa-plus" aria-hidden="true"></span> Attach to Answer...</button>
    <% end %>
  </div>
  <div class="btn-toolbar pull-right">
    <%= link_to "Back to answer", discussion_answer_path(@discussion, @answer.user.dxuser), class: "btn btn-link" %>
    <a class="btn btn-primary" data-bind="click: save, css: {disabled: !isFormReady()}, text: saveBtnText"></a>
    <% if @answer.publishable_by?(@context) %>
      <a class="btn btn-success" href="<%= publish_path + "?" + {id: @answer.uid}.to_param %>" data-method="post" data-bind="css: {disabled: isFormReady()}" rel="nofollow">
        <span class="fa fa-bullhorn"></span> Publish
      </a>
    <% end %>
  </div>
</div>

<% if @answer.editable_by?(@context) %>
  <%= render "_partials/selector_modal" %>
<% end %>

<div class="container-fluid container-padded">
  <%= render "notes/note_edit" %>
</div>
