<% content_for :title do %><%= @appathon.title %><% end %>

<div class="page-header clearfix">
  <% if @appathon.editable_by?(@context) %>
    <div class="text-right">
      <div class="dropdown">
        <button class="btn btn-link btn-lg" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-cog"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
          <li>
            <%= link_to edit_meta_appathon_appathon_path(@meta_appathon, @appathon) do %>
              <span class="fa fa-pencil"></span> Edit
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="page-context-title">
    <div class="text-center">
      <%= image_tag(@appathon.flag_path, width: 100)  %>
    </div>
    <br />
    <br />
    <%= link_to image_tag(@appathon.admin.gravatar_url, class: 'img-circle', height: '16px'), user_path(@appathon.admin.dxuser) %>
 <%= link_to("#{@appathon.admin.full_name} (#{@appathon.admin.org.name})", user_path(@appathon.admin.dxuser), class: 'link-muted') %> launched an Appathon for <%= link_to("#{@meta_appathon.name}", meta_appathon_path(@meta_appathon), class: 'link-muted strong') %>
  </div>
  <div class="page-title">
    <%= @appathon.title %>
  </div>
  <div class="metadata-section text-center">
    <ul class="list-group list-group-inline list-bricks">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Starts</h5>
        <p class="list-group-item-text"><%= @appathon.start_at.nil? ? @appathon.meta_appathon.start_at.to_s(:db) : @appathon.start_at.to_s(:db) %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Ends</h5>
        <p class="list-group-item-text"><%= @appathon.end_at.nil? ? @appathon.meta_appathon.end_at.to_s(:db) : @appathon.end_at.to_s(:db) %></p>
      </li>
    </ul>
  </div>
  <% if !@appathon.description.blank? %>
  <div class="row">
    <div class="col-md-12 col-md-offset-6 description">
      <%= @appathon.description %>
    </div>
  </div>
  <% end %>
</div>


<% if !@meta_appathon.followed_by?(@context.user) %>
<div class="pfda-toolbar text-center">
  <%= link_to join_meta_appathon_appathon_path(@meta_appathon, @appathon), method: :post, data: { confirm: 'Before you join, here is what you need to know: you can only join one Appathon, you will not be able to remove yourself. Your published apps created within the start and end dates of the Appathon will be submitted automatically. Are you sure you want to continue?' }, class: "btn btn-primary btn-lg" do %>
    <span class="fa fa-user-plus"></span> Join this Appathon
  <% end %>
</div>
<% end %>

<div class="appathon-container pfda-pane container-fluid">
  <div class="pfda-pane-content">
    <div class="pfda-appathon-participants">
      <%= render "_partials/followers", followers: @appathon.user_followers, followable: @appathon, display_names: true %>
    </div>
    <%= render "appathons/app_cards", apps: @appathon.apps, vote_scope: @appathon.uid, is_appathon_followed: @appathon.followed_by?(@context.user)  %>
  </div>
  <% if @appathon.followed_by?(@context.user) %>
  <div class="pfda-pane-sidebar pfda-pane-sidebar-minimal pfda-pane-sidebar-padded-v">
    <% if !@commentable.nil? %>
      <%= render "comments/comments_wrapper", comments: @comments, items_from_params: @items_from_params, url: @item_comments_path, object: @commentable %>
    <% end %>
  </div>
  <% end %>
</div>
