<div class="container-padded">
  <%= link_to(content_tag(:span, "", class: "fa fa-backward") + " Back", profile_provision_org_path, class: 'btn btn-default') %>
  <%= form_tag(provision_org_path, method: 'post', class: "form") do -%>
    <%= hidden_field_tag("state", "step3") %>
    <%= hidden_field_tag("inv", @inv) %>
    <h4>&nbsp;</h4>
    <% if @errors.present? %>
      <div class="form-group">
        <div class="alert alert-danger">
          <strong><span class="fa fa-warning"></span>
            <% @errors.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </strong>
        </div>
      </div>
    <% end %>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Field</th>
          <th>Original value</th>
          <th>Edited value</th>
          <th>Instructions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= label_tag("first_name", "First Name") %></td>
          <td><%= @invitation.first_name %></td>
          <td><%= text_field_tag("first_name", @first_name, class: 'form-control') %></td>
          <td>Required, must be at least 2 letters</td>
        </tr>
        <tr>
          <td><%= label_tag("last_name", "Last Name") %></td>
          <td><%= @invitation.last_name %></td>
          <td><%= text_field_tag("last_name", @last_name, class: 'form-control') %></td>
          <td>Required, must be at least 2 letters</td>
        </tr>
        <tr>
          <td><%= label_tag("email", "Email") %></td>
          <td><%= @invitation.email %></td>
          <td><%= email_field_tag("email", @email, class: 'form-control') %></td>
          <td>Required, must be previously unused email</td>
        </tr>
        <tr>
          <td><%= label_tag("address1", "Address1") %></td>
          <td><%= @invitation.address1 %></td>
          <td><%= text_field_tag("address", @address1, disabled: true, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("address2", "Address2") %></td>
          <td><%= @invitation.address2 %></td>
          <td><%= text_field_tag("address", @address2, disabled: true, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("country", "Country") %></td>
          <td><%= @invitation.country.name %></td>
          <td><%= text_field_tag("country", @country, disabled: true, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("city", "City") %></td>
          <td><%= @invitation.city %></td>
          <td><%= text_field_tag("city", @city, disabled: true, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("us_state", "State") %></td>
          <td><%= @invitation.us_state %></td>
          <td><%= text_field_tag("us_state", @us_state, disabled: true, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("postal_code", "Postal Code") %></td>
          <td><%= @invitation.postal_code %></td>
          <td><%= text_field_tag("postal_code", @postal_code, disabled: true, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("phone", "Phone") %></td>
          <td><%= @invitation.full_phone %></td>
          <td><%= text_field_tag("phone", @full_phone, disabled: true, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("duns", "DUNS") %></td>
          <td><%= @invitation.duns %></td>
          <td><%= text_field_tag("duns", @duns, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("org", "Organization name") %></td>
          <td><%= @org %></td>
          <td><%= text_field_tag("org", @org, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("org_handle", "Organization handle") %></td>
          <td><%= @org_handle %></td>
          <td><%= text_field_tag("org_handle", @org_handle, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <%= button_tag(content_tag(:span, "", class: "fa fa-forward") + " Next", class: "btn btn-primary") %>
  <% end %>
</div>
