<% apps.each do |app| %>
  <a href="<%= app_jobs_path(app.dxid) %>"
    class="list-group-item app-<%= app.series %> <%= app.series == active ? 'active' : ''%>" 
    data-app="<%= app.dxid %>">
    <%= app.title %>
  </a>
<% end %>
