<%
  can_be_public = item.publishable_by?(@context, Scopes::SCOPE_PUBLIC)
  spaces = Space.editable_by(@context).select { |space| item.publishable_by?(@context, space.uid) }
%>

<% if can_be_public && spaces.empty? %>
  <%= link_to publish_path + "?" + { id: item.uid, scope: Scopes::SCOPE_PUBLIC }.to_param, method: :post, class: "btn btn-success #{defined?(classes) ? classes : ''}" do %>
    <span class="fa fa-bullhorn"></span> Publish
  <% end %>
<% elsif spaces.present? %>
  <div class="btn-group">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success dropdown-toggle <%= defined?(classes) ? classes : '' %>">
      Publish
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
      <% if can_be_public %>
        <li>
          <%= link_to publish_path + "?" + { id: item.uid, scope: Scopes::SCOPE_PUBLIC }.to_param, method: :post do %>
            <span class="fa fa-globe"></span> Public
          <% end %>
        </li>
      <% end %>

      <% spaces.each do |space| %>
        <li>
          <%= link_to publish_path + "?" + { id: item.uid, scope: space.uid }.to_param, method: :post do %>
            <span class="fa fa-object-group"></span> <%= space.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
