<% targets = @context.valid_publish_targets_for(item) %>
<% if targets.count > 0 %>
  <% if targets.count == 1 && targets[0] == 'public' %>
    <%= link_to publish_path + "?" + {id: item.uid, scope: 'public'}.to_param, method: :post, class: "btn btn-success #{defined?(classes) ? classes : ''}" do %>
      <span class="fa fa-bullhorn"></span> Publish
    <% end %>
  <% else %>
    <div class="btn-group">
      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-success dropdown-toggle <%= defined?(classes) ? classes : '' %>">
        Publish
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
        <% if item.publishable_by?(@context) %>
          <li>
            <%= link_to publish_path + "?" + {id: item.uid, scope: 'public'}.to_param, method: :post do %>
              <span class="fa fa-globe"></span> Public
            <% end %>
          </li>
        <% end %>
        <% if @context.user.active_spaces.count > 0 %>
          <% @context.active_spaces_for(item).each do |space| %>
            <% if SpaceMembershipPolicy.can_move_content_by_user?(space, item, @context.user) && item.publishable_by?(@context, space.uid) && !space.verified? %>
              <li>
                <%= link_to publish_path + "?" + {id: item.uid, scope: space.uid}.to_param, method: :post do %>
                  <span class="fa fa-object-group"></span> <%= space.title %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
