<footer role="contentInfo" class="fda-footer accessible">
  <div class="container">
    <div class="site-footer-section">
      <div class="site-footer-aside">
        <a href="http://www.fda.gov" title="FDA Home Page" class="logo-fda">
          <img src="/assets/logo-fda.svg" alt="FDA Home Page" width="41px" height="46px"/>
        </a>
      </div>
      <div class="site-footer-main site-links">
        <ul class="list-inline">
          <li><a data-turbolinks="false" href="/" target="_blank" title="precisionFDA Home Page">precisionFDA</a></li>
          <li class="text-muted"  aria-hidden="true">|</li>
          <li><a data-turbolinks="false" href="<%= about_path %>">About</a></li>
          <li><a data-turbolinks="false" href="<%= docs_path %>">Docs</a></li>
          <li><a data-turbolinks="false" href="<%= terms_path %>" title="precisionFDA Terms of Service">Terms of Service</a></li>
          <li><a href="<%= guidelines_path %>">Guidelines</a></li>
          <li><a href="<%= presskit_path %>">Press Kit</a></li>
          <li class="text-muted" aria-hidden="true">|</li>
          <li><a href="mailto:precisionfda@fda.hhs.gov"><span class="fa fa-envelope" aria-hidden="true"></span> Email the team</a></li>
          <li><a href="https://twitter.com/precisionfda" title="precisionFDA Twitter" target="_nlank"><span class="fa fa-twitter" aria-hidden="true"></span> Twitter</a></li>
        </ul>
        <ul class="list-inline">
          <li><a href="http://www.fda.gov/" target="_blank" title="FDA Home Page">FDA</a></li>
          <li class="text-muted" aria-hidden="true">|</li>
          <li><a href="http://www.fda.gov/AboutFDA/AboutThisWebsite/Accessibility/default.htm" target="_blank" title="Accessibility">Accessibility</a></li>
          <li><a href="http://www.fda.gov/AboutFDA/Transparency/Basics/default.htm" target="_blank" title="FDA Basics">Basics</a></li>
          <li><a href="http://www.fda.gov/RegulatoryInformation/FOI/default.htm" target="_blank" title="Freedom of Information Act">FOIA</a></li>
          <li><a href="http://www.fda.gov/AboutFDA/WorkingatFDA/NoFearAct/default.htm" target="_blank" title="No Fear Act">No Fear Act</a></li>
          <li><a href="http://www.fda.gov/AboutFDA/Transparency/default.htm" target="_blank" title="Transparency">Transparency</a></li>
          <li><a href="http://www.fda.gov/AboutFDA/AboutThisWebsite/WebsitePolicies/default.htm" target="_blank" title="Website Policies">Website Policies</a></li>
        </ul>
      </div>
    </div>
    <div class="site-footer-section">
      <div class="site-footer-aside fda-contact accessible-text-muted">
        <address>
          <strong>U.S. Food and Drug Administration</strong><br>
          10903 New Hampshire Avenue<br>
          Silver Spring, MD 20993<br>
          <span class="icon-phone" aria-hidden="true"></span> 1-888-INFO-FDA (1-888-463-6332)<br>
          <span class="icon-envelope-alt" aria-hidden="true"></span> <a href="http://www.fda.gov/AboutFDA/ContactFDA/default.htm" title="Contact FDA">Contact FDA</a>
        </address>
      </div>
      <div class="site-footer-main disclaimer accessible-text-muted">
        <p>Some links on this website may direct you to non-FDA locations.</p>
        <p>FDA does not endorse or guarantee the integrity of information on these external sites.</p>
      </div>
    </div>
  </div>
</footer>
