<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title><%= page_title %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "A community for NGS assay evaluation" %>">

<%= stylesheet_link_tag    "vendor",      media: "all", debug: false, 'data-turbolinks-track' => true  %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'integrity' => true %>
<%= csrf_meta_tags %>

<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900,400italic|PT+Mono' rel='stylesheet' type='text/css'>

<%= favicon_link_tag 'favicon.png', type: 'image/png' %>

<% if @context.logged_in? %>
  <script>
    Precision.session_checker.run();
  </script>
<% end %>
