<title><%= page_title %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "A community for NGS assay evaluation" %>">

<%= stylesheet_link_tag    "vendor",      media: "all", debug: false, 'data-turbolinks-track' => true  %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Lato:400,300,100,700,900' rel='stylesheet' type='text/css'>
