<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="mailto:<%= SUPPORT_EMAIL %>"><span class="fa fa-fw fa-commenting-o"></span> Support</a>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= @context.logged_in? ? @context.user.full_name : @context.username %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Profile", profile_path %></li>
      <% if @context.logged_in? %>
        <li><%= link_to "Public Profile", user_path(@context.username) %></li>
      <% end %>
      <li><%= link_to "Manage Licenses", licenses_path %></li>
      <% if @context.logged_in? && UserPolicy.access_notification_preference?(@context.user) %>
        <li><a href="#" data-toggle="modal" data-target="#notification_settings_modal">Notification Settings</a></li>
      <% end %>
      <li role="separator" class="divider"></li>
      <li><a href="<%= about_path %>"><span class="fa fa-fw fa-info-circle"></span> About</a></li>
      <li><a href="<%= guidelines_path %>"><span class="fa fa-fw fa-institution"></span> Guidelines</a></li>
      <li><a href="<%= docs_path %>"><span class="fa fa-fw fa-book"></span> Docs</a></li>
      <li role="separator" class="divider"></li>
      <% if @context.can_administer_site? %>
        <li><%= link_to "Admin Dashboard", admin_root_path %></li>
        <li role="separator" class="divider"></li>
      <% end %>
      <li><%= link_to "Log out", logout_path, method: :delete, data: { no_turbolink: true } %></li>
    </ul>
  </li>
  <li><%= link_to image_tag(@context.gravatar_url, class: 'img-circle', height: '48px', alt: "Profile page"), profile_path %></li>
</ul>
