<ul class="nav-links nav navbar-nav">
  <li class="<%= 'active' if params[:controller] == 'main' %>" role="presentation">
    <%= link_to root_path do %>
      <div class="nav-icon fa fa-2x fa-home"></div>
      <div class="nav-pill-title">Overview</div>
    <% end %>
  </li>
  <li class="<%= 'active' if params[:controller] == 'comparisons' %>" role="presentation">
    <%= link_to comparisons_path do %>
      <div class="nav-icon fa fa-2x fa-bullseye"></div>
      <div class="nav-pill-title">Comparisons</div>
    <% end %>
  </li>
  <li class="<%= 'active' if params[:controller] == 'files' %>" role="presentation">
    <%= link_to files_path do %>
      <div class="nav-icon fa fa-2x fa-files-o"></div>
      <div class="nav-pill-title">Files</div>
    <% end %>
  </li>
  <li class="<%= 'active' if params[:controller] == 'apps' %>" role="presentation">
    <%= link_to apps_path do %>
      <div class="nav-icon fa fa-2x fa-cubes"></div>
      <div class="nav-pill-title">Apps</div>
    <% end %>
  </li>
  <li class="<%= 'active' if params[:controller] == 'biospecimens' %>" role="presentation">
    <%= link_to biospecimens_path do %>
      <div class="nav-icon fa fa-2x fa-flask"></div>
      <div class="nav-pill-title">Biospecimens</div>
    <% end %>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li><a href="#">API</a></li>
  <% if @context.logged_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @context.username %> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </li>
  <% else %>
    <li><a href="/login">Log In</a></li>
  <% end %>

</ul>
