<% content_for :title do %>Files<% end %>

<div class="pfda-toolbar">
  <ul class="nav nav-pills nav-pills-center nav-pills-sm">
    <li class="<% if action_name == 'index' %>active<% end %>">
      <%= link_to files_path do %>
        <span class="fa fa-files-o"></span> <span class="pill-label">My Files</span>
      <% end %>
    </li>
    <li class="<% if action_name == 'featured' %>active<% end %>">
      <%= link_to featured_files_path do %>
        <span class="fa fa-flag"></span> <span class="pill-label">Featured</span>
      <% end %>
    </li>
    <li class="<% if action_name == 'explore' %>active<% end %>">
      <%= link_to explore_files_path do %>
        <span class="fa fa-globe"></span> <span class="pill-label">Explore</span>
      <% end %>
    </li>
  </ul>
</div>

<div class="pfda-toolbar">
  <div class="btn-group">
    <a class="btn btn-primary" href="<%= new_file_path %>">
      <span class="fa fa-plus-square fa-fw"></span> Add files
    </a>
  </div>
</div>

<% if @files_grid.present? %>
  <%= render "files/grid", files_grid: @files_grid %>
<% else %>
  <div class="alert alert-info">
    <% if action_name == 'index' %>
      <span class="fa fa-info-circle"></span> Files you add will show up here. Meanwhile, check out our <%= link_to "Featured Files", featured_files_path %> or <%= link_to "explore community contributions", explore_files_path %>
    <% else %>
      We couldn't find any files here
    <% end %>
  </div>
<% end %>
