<div class="page-header">
  <h1><span class="fa fa-file-o fa-fw"></span> <%= @file.name %></h1>
</div>

<div class="container-fluid">
  <div class="metadata-section">

    <% if @file.description %>
    <p class="lead">
      <%= @file.description %>
    </p>
    <% end %>

    <ul class="list-group">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Access</h5>
        <p class="list-group-item-text">
          <span class="fa fa-fw <%= @file.public ? 'fa-globe' : 'fa-lock' %>"></span>
          <%= @file.public ? "Public" : "Private" %>
        </p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">File Size</h5>
        <p class="list-group-item-text"><%= number_to_human_size(@file.file_size) %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">State</h5>
        <p class="list-group-item-text"><%= @file.state %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Created</h5>
        <p class="list-group-item-text"><%= @file.created_at.to_s(:db) %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Updated</h5>
        <p class="list-group-item-text"><%= @file.updated_at.to_s(:db) %></p>
      </li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Added by</h5>
        <p class="list-group-item-text">
          <%= link_to(@file.user.dxuser, user_path(@file.user.dxuser))  %>
        </p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Biospecimen</h5>
        <p class="list-group-item-text">
          <%= link_to(@file.biospecimen.name, biospecimen_path(@file.biospecimen.id)) %>
        </p>
      </li>
    </ul>
  </div>
</div>
