<div style="overflow: auto;">
  <%= form_tag(provision_new_user_path, method: 'post', class: "form container-padded") do -%>
    <div class="pfda-padded-b">
      <%= link_to(raw("""<i class='fa fa-backward'></i>&nbsp;Back"""), admin_users_path, class: 'btn btn-default') %>&nbsp;
      <%= button_tag(raw("""<i class='fa fa-forward'></i>&nbsp;Next"""), {
        class: "btn btn-primary",
        data: {bind: 'enable: enableNext', 'disable-with': raw("""<i class='fa fa-forward'></i>&nbsp;Next""")}
      }) %>
    </div>
    <%= hidden_field_tag("state", "step2") %>
    <table class="table table-hover sortable-theme-minimal" data-sortable>
      <thead>
        <tr>
          <th>Select</th>
          <th>In System?</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Address 1</th>
          <th>Address 2</th>
          <th>Phone</th>
          <th>DUNS</th>
          <th>Participate Intent?</th>
          <th>Organize Intent?</th>
        </tr>
      </thead>
      <tbody>
      <% @invitations.each do |inv| %>
        <tr>
          <td><%= radio_button_tag("inv", inv.id, false, {
            data: {bind: 'checked: selectedRequest'}
          }) %></td>
          <td><%= inv.user_id.present? ? User.find(inv.user_id).dxuser : "-" %></td>
          <td><%= user_exists_attribute(inv, :first_name) %></td>
          <td><%= user_exists_attribute(inv, :last_name) %></td>
          <td><%= user_exists_attribute(inv, :email) %></td>
          <td><%= inv.address1 %></td>
          <td><%= inv.address2 %></td>
          <td><%= inv.full_phone %></td>
          <td><%= inv.duns %></td>
          <td><%= inv.participate_intent ? 'YES' : ('&ndash;'.html_safe) %></td>
          <td><%= inv.organize_intent ? 'YES' : ('&ndash;'.html_safe) %></td>
        </tr>
      <% end %>
      <br/>
      <%= paginate @invitations %>
      </tbody>
    </table>
    <%= paginate @invitations %>
  <% end %>
</div>
