<div class="container-padded">
  <%= form_tag(provision_new_user_path, method: 'post', class: "form") do -%>
    <div class="pfda-padded-b">
      <%= hidden_field_tag("state", "step2") %>
      <%= hidden_field_tag("inv", @inv) %>
      <%= button_tag(raw("""<i class='fa fa-backward'></i>&nbsp;Back"""), {
          class: "btn btn-default",
          data: {'disable-with': raw("""<i class='fa fa-backward'></i>&nbsp;Back""")}
      }) %>
    </div>
  <% end %>

  <p> You entered the following information: </p>
  <dl class="dl-horizontal">
    <dt>First name:</dt>
    <dd><%= @first_name %></dd>
    <dt>Last name:</dt>
    <dd><%= @last_name %></dd>
    <dt>Email:</dt>
    <dd><%= @email %></dd>
    <dt>Country:</dt>
    <dd><%= @country %></dd>
    <dt>City:</dt>
    <dd><%= @city %></dd>
    <dt>State:</dt>
    <dd><%= @us_state %></dd>
    <dt>Postal Code:</dt>
    <dd><%= @postal_code %></dd>
    <dt>Address 1:</dt>
    <dd><%= @address1 %></dd>
    <dt>Address 2:</dt>
    <dd><%= @address2 %></dd>
    <dt>Phone:</dt>
    <dd><%= @full_phone %></dd>
    <dt>DUNS:</dt>
    <dd><%= @duns %></dd>
  </dl>
  <p> Internal precisionFDA policies require that usernames be formed according to the pattern "<em>first_name.last_name</em>", using only lowercase English letters. </p>
  <p> Based on the information you provided, the system will allocate the following: </p>
  <dl class="dl-horizontal">
    <dt>Suggested username:</dt>
    <dd><%= @suggested_username %></dd>
  </dl>
  <% @warnings.each do |warning| %>
    <div class="alert alert-danger">
      <strong><span class="fa fa-warning"></span> <%= warning %></strong>
    </div>
  <% end %>
  <p> You are about to provision username <strong><%= @suggested_username %></strong>. This action cannot be undone. </p>
  <div class="clearfix">
    <%= form_tag(provision_new_user_path, method: 'post', class: "pull-left") do -%>
      <%= hidden_field_tag("state", "step4") %>
      <%= hidden_field_tag("inv", @inv) %>
      <%= hidden_field_tag("first_name", @first_name) %>
      <%= hidden_field_tag("last_name", @last_name) %>
      <%= hidden_field_tag("email", @email) %>
      <%= hidden_field_tag("duns", @duns) %>
      <%= hidden_field_tag("suggested_username", @suggested_username) %>
      <% opts = {class: "btn btn-primary btn-lg", data: {disable_with: "Please wait..."}} -%>
      <% opts[:data][:confirm] = "Are you sure? The system has detected one or more warnings shown on the page. Only proceed if you believe you have addressed these warnings." if @warnings.present? -%>
      <div class="pfda-padded-v">
        <%= button_tag(content_tag(:i, "", class: "fa fa-plus-circle") + " Provision New User", opts) %>
      </div>
    <% end -%>
  </div>
</div>
