<% content_for :title do %><%= @biospecimen.name %><% end %>

<div class="page-header">
  <h1><span class="fa fa-flask fa-fw"></span><%= @biospecimen.name %></h1>

  <% if @biospecimen.description %>
  <div class="description">
    <%= @biospecimen.description %>
  </div>
  <% end %>
</div>

<div class="container-fluid">
  <div class="metadata-section">
    <ul class="list-group">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Files</h5>
        <p class="list-group-item-text">
          <%= link_to(@biospecimen.user_files.accessible_by(@context.user_id).size, "#{files_path()}?grid[f][biospecimen.name]=#{@biospecimen.name}")  %>
        </p>
      </li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Added by</h5>
        <p class="list-group-item-text">
          <%= link_to(@biospecimen.user.dxuser, user_path(@biospecimen.user.dxuser))  %>
        </p>
      </li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Created</h5>
        <p class="list-group-item-text"><%= @biospecimen.created_at.to_s(:db) %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Updated</h5>
        <p class="list-group-item-text"><%= @biospecimen.updated_at.to_s(:db) %></p>
      </li>
    </ul>
  </div>
</div>
