<% content_for :title do %>Assets<% end %>

<div class="pfda-toolbar">
  <ul class="nav nav-pills nav-pills-center nav-pills-sm">
    <li class="<% if action_name == 'index' %>active<% end %>">
      <%= link_to assets_path do %>
        <span class="fa fa-file-zip-o"></span> <span class="pill-label">My Assets</span>
      <% end %>
    </li>
    <li class="<% if action_name == 'featured' %>active<% end %>">
      <%= link_to featured_assets_path do %>
        <span class="fa fa-flag"></span> <span class="pill-label">Featured</span>
      <% end %>
    </li>
    <li class="<% if action_name == 'explore' %>active<% end %>">
      <%= link_to explore_assets_path do %>
        <span class="fa fa-globe"></span> <span class="pill-label">Explore</span>
      <% end %>
    </li>
  </ul>
</div>

<div class="pfda-toolbar">
  <div class="btn-group">
    <a class="btn btn-primary" href="<%= new_asset_path %>">
      <span class="fa fa-plus-square fa-fw"></span> Create Assets
    </a>
  </div>
</div>

<% if @assets_grid.present? %>
  <%= render "assets/grid", assets_grid: @assets_grid %>
<% else %>
  <div class="alert alert-info">
    <% if action_name == 'index' %>
      <span class="fa fa-info-circle"></span> Assets you add will show up here. Meanwhile, check out our <%= link_to "Featured Assets", featured_assets_path %> or <%= link_to "explore community contributions", explore_assets_path %>
    <% else %>
      We couldn't find any assets here
    <% end %>
  </div>
<% end %>
