<% content_for :title do %>Admin Dashboard<% end %>

<div class="page-header">
  <div class="media">
    <div class="media-body">
      <div class="page-title">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        Admin Dashboard
      </div>
    </div>
  </div>
</div>


<% if @context.user.can_administer_site? %>
  <div class="infoframe-outer">
    <div class="infoframe-inner">
      <h4 class="infoframe-title">Site Administration</h4>
      <ul class="list-group infoframe-inline">
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Contributors</h5>
          <p class="list-group-item-text"><%= User.real.count %></p>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Contributor Orgs</h5>
          <p class="list-group-item-text"><%= Org.count %></p>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Browse Access</h5>
          <p class="list-group-item-text"><%= Invitation.count %></p>
        </li>
      </ul>

      <a class="btn btn-default" rel="nofollow" href="<%= admin_users_path %>">
        <i class="fa fa-users" aria-hidden="true"></i> Users
      </a>
      <a class="btn btn-default" rel="nofollow" href="<%= admin_admin_memberships_path(group: :site) %>">
        <i class="fa fa-users" aria-hidden="true"></i> Admins
      </a>
      <%= link_to(content_tag(:span, "", class: "fa fa-file-excel-o") + " Generate report", run_report_path, method: 'post', class: 'btn btn-default') %>
      <a class="btn btn-default" rel="nofollow" href="<%= sidekiq_web_path %>" target="_blank">
        <i class="fa fa-bar-chart" aria-hidden="true"></i> Sidekiq
      </a>
      <a class="btn btn-default" rel="nofollow" href="<%= admin_comparator_settings_path %>">
        <i class="fa fa-bullseye" aria-hidden="true"></i> Comparator Settings
      </a>
    </div>
  </div>
<% end %>

<div class="infoframe-outer">
  <div class="infoframe-inner">
    <h4 class="infoframe-title">Site Activity</h4>
    <div>
      <a class="btn btn-default" rel="nofollow" href="<%= admin_activity_reports_path %>">
        <i class="fa fa-line-chart" aria-hidden="true"></i> Site Activity reporting
      </a>

      <a class="btn btn-default" rel="nofollow" href="<%= admin_usage_reports_path %>">
        <i class="fa fa-users" aria-hidden="true"></i> Active Users
      </a>

      <a class="btn btn-default" rel="nofollow" href="<%= admin_pending_users_path %>">
        <i class="fa fa-users" aria-hidden="true"></i> Pending Users
      </a>

      <a class="btn btn-default" rel="nofollow" href="<%= admin_deactivated_users_path %>">
        <i class="fa fa-users" aria-hidden="true"></i> Deactivated Users
      </a>

      <a class="btn btn-default" rel="nofollow" href="<%= admin_org_action_requests_path %>">
        <i class="fa fa-users" aria-hidden="true"></i> Organizations Action Requests
      </a>

      <a class="btn btn-default" rel="nofollow" href="<%= admin_get_started_boxes_path %>">
        <i class="fa fa-gear" aria-hidden="true"></i> Site Customization Workbench
      </a>
    </div>
  </div>
</div>
