<% if @app.present? %>
<div class="metadata-section metadata-header">
  <ul class="list-group list-group-inline">
    <%= render "_partials/metadata_access", item: @app %>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">name</h5>
      <p class="list-group-item-text"><%= @app.name %></p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Org</h5>
      <p class="list-group-item-text">
        <%= @app.user.org.handle %>
      </p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Added by</h5>
      <p class="list-group-item-text">
        <%= link_to(@app.user.dxuser, user_path(@app.user.dxuser)) %>
      </p>
    </li>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">ID</h5>
      <p class="list-group-item-text"><%= @app.dxid %></p>
    </li>
    <% if @app.title != @revisions.first.title %>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Revision Title</h5>
      <p class="list-group-item-text"><%= @app.title %></p>
    </li>
    <% end %>
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Created</h5>
      <p class="list-group-item-text"><%= @app.created_at.to_s(:human) %></p>
    </li>
  </ul>
</div>

<%= render "_partials/tags_metadata", item: @app.app_series, item_name: @app.title, tags_list: @app.app_series.all_tags_list, is_editable: @app.editable_by?(@context), suggested_tags: AppSeries::SUGGESTED_TAGS %>

<div class="pfda-toolbar">
  <div class="btn-group">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-default-version dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-history" aria-hidden="true"></span>
        <span class="text-muted">Revision:</span>
        <span class="app-revision"><%= @app.revision %></span>
        <% if @app.versioned? %>
          <% if @app.id == @revisions.first.id %>
            <span class="app-label-version label label-success"><%= @app.version %></span>
          <% else %>
            <span class="app-label-version label label-default"><%= @app.version %></span>
          <% end %>
        <% end %>
        <% if @app.id == @revisions.first.id %>
          <span class="app-label-latest label label-info">Latest</span>
        <% end %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% if @revisions.size == 0 # Should be impossible %>
          <li class="dropdown-header">
            None available
          </li>
        <% else %>
          <li class="dropdown-header">Revisions</li>
          <% @revisions.each do |app| %>
            <li class="<% if app.dxid == params[:id] %>active<% end %>">
              <a href="<%= action_name == 'index' ? app_jobs_path(app.dxid) : app_path(app.dxid) %>" class="clearfix">
                <span class="app-revision"><%= app.revision %></span>
                <% if @revisions.first.id == app.id %>
                  <span class="app-label-latest label label-info pull-right">Latest</span>
                <% end %>
                <% if app.versioned? %>
                  <% if @revisions.first.id == app.id %>
                    <span class="app-label-version label label-success pull-right"><%= app.version %></span>
                  <% else %>
                    <span class="app-label-version label label-default pull-right"><%= app.version %></span>
                  <% end %>
                <% end %>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <% if @app.editable_by?(@context) %>
    <div class="btn-group" <% if @revisions.first.dxid != @app.dxid %>data-toggle="tooltip" data-placement="top" title="Only latest revision is editable"<% end %>>
      <a class="btn btn-default <% if @revisions.first.dxid != @app.dxid %>disabled<% end %>" href="<%= edit_app_path(@revisions.first.dxid) %>">
        <span class="fa fa-edit"></span> Edit
      </a>
    </div>
    <% end %>
    <a class="btn btn-default" href="<%= fork_app_path(@app.dxid) %>">
      <span class="fa fa-code-fork"></span> Fork
    </a>
    <div class="btn-group">
      <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-cloud-download" aria-hidden="true"></span> Export
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-header">Export To:</li>
        <li data-turbolinks="false">
          <%= link_to export_app_path(@app.dxid), method: :post, data: { confirm: 'You are about to download a Dockerfile to run this app in a Docker container on your local machine. For more information please consult the app export section in the precisionFDA docs.' } do %>
            Docker Container
          <% end %>
        </li>
        <li data-turbolinks="false">
          <%= link_to cwl_export_app_path(@app.dxid), data: { confirm: 'You are about to download a CWL Tool package to your local machine. For more information please consult the app export section in the precisionFDA docs.' } do %>
            CWL Tool
          <% end %>
        </li>
        <li data-turbolinks="false">
          <%= link_to wdl_export_app_path(@app.dxid), data: { confirm: 'You are about to download a WDL Task package to your local machine. For more information please consult the app export section in the precisionFDA docs.' } do %>
            WDL Task
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="btn-group">
    <button class="btn btn-default" data-bind="click: noteAttachModel.open"><span class="fa fa-paperclip"></span> Attach to...</button>
    <%= link_to track_path(id: @app.uid), class: "btn btn-default", data: {no_turbolink: true} do %>
      <span class="fa fa-flip-vertical fa-sitemap"></span> Track
    <% end %>
  </div>

  <div class="btn-group pull-right">
    <%= render "_partials/btn_challenge_app", app: @app %>

    <%= link_to new_app_job_path(@app.dxid), class: "btn btn-primary" do %>
      <span class="fa fa-bolt"></span> Run App&nbsp;&nbsp;<span class="badge"><%= @app.version ? "v#{@app.version}" : "rev#{@app.revision}" %></span>
    <% end %>
    <%= link_to batch_app_app_path(@app.dxid), class: "btn btn-primary" do %>
        <span class="fa fa-bolt"></span> Run Batch App&nbsp;&nbsp;<span class="badge"><%= @app.version ? "v#{@app.version}" : "rev#{@app.revision}" %></span>
    <% end %>
    <%= render "_partials/btn_publish", item: @app %>
  </div>

  <% if @context.logged_in? && app.user == @context.user %>
    <% if @assigned_challenges.any? %>
      <h4 class="details-challenges">
        <% @assigned_challenges.each do |challenge| %>
          <span class="label label-warning disabled"><i class="fa fa-trophy"></i><%= challenge.name.squish %></span>
        <% end %>
      </h4>
    <% end %>
  <% end %>

</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-padded" role="tablist">
  <% if @jobs_grid.present? %>
  <li role="presentation" class="active">
    <a href="#app-job" aria-controls="app-job" role="tab" data-toggle="tab"><span class="fa fa-fw fa-tasks"></span>
      <span class="tab-label">Jobs</span>
    </a>
  </li>
  <% end %>
  <li role="presentation" class="<% if !@jobs_grid.present? %>active<% end %>">
    <a href="#app-spec" aria-controls="app-spec" role="tab" data-toggle="tab"><span class="fa fa-fw fa-puzzle-piece"></span>
      <span class="tab-label">Spec</span>
    </a>
  </li>
  <% if !@app.readme.blank? %>
  <li role="presentation">
    <a href="#app-readme" aria-controls="app-readme" role="tab" data-toggle="tab"><span class="fa fa-fw fa-info"></span>
      <span class="tab-label">README</span>
    </a>
  </li>
  <% end %>
  <li role="presentation">
    <a href="#tab-comments" aria-controls="tab-comments" role="tab" data-toggle="tab"><span class="fa fa-fw fa-comment"></span>
      <span class="tab-label">Comments <span class="badge"><%= @app.comment_threads.size %></span></span>
    </a>
  </li>
  <% if @notes.present? && @notes.total_count > 0 %>
  <li role="presentation">
    <a href="#app-notes" aria-controls="app-notes" role="tab" data-toggle="tab"><span class="fa fa-fw fa-sticky-note"></span>
      <span class="tab-label">NOTES <span class="badge"><%= @notes.total_count %></span></span>
    </a>
  </li>
  <% end %>
  <% if @discussions.present? && @discussions.total_count > 0 %>
  <li role="presentation">
    <a href="#tab-discussions" aria-controls="tab-discussions" role="tab" data-toggle="tab"><span class="fa fa-fw fa-comments-o"></span>
      <span class="tab-label">Discussions <span class="badge"><%= @discussions.total_count %></span></span>
    </a>
  </li>
  <% end %>
  <% if @answers.present? && @answers.total_count > 0 %>
  <li role="presentation">
    <a href="#tab-answers" aria-controls="tab-answers" role="tab" data-toggle="tab"><span class="fa fa-fw fa-commenting"></span>
      <span class="tab-label">Answers <span class="badge"><%= @answers.total_count %></span></span>
    </a>
  </li>
  <% end %>
</ul>
<% end %>

<!-- Tab panes -->
<div class="tab-content">
  <% if @jobs_grid.present? %>
  <div role="tabpanel" class="tab-pane active" id="app-job">
    <div class="panel">
      <% if @app.present? %>
        <%= render "jobs/grid", jobs_grid: @jobs_grid, app: @app %>
      <% else %>
        <%= render "jobs/grid", jobs_grid: @jobs_grid %>
      <% end %>
    </div>
  </div>
  <% elsif !@app.present? %>
    <div role="tabpanel" class="tab-pane tab-pane-padded active" id="app-job">
      <div class="alert alert-info">
        <span class="fa fa-info-circle"></span> When you run an <a href="<%= show_docs_path("apps") %>">app</a>, it will create a <a href="<%= show_docs_path("apps") %>#apps-run">job</a> that will show up here. Meanwhile, check out our <%= link_to "Featured Apps", featured_apps_path %> or <%= link_to "explore community contributions", explore_apps_path %>
      </div>
    </div>
  <% end %>

  <% if @app.present? %>
    <div role="tabpanel" class="tab-pane tab-pane-padded <% if !@jobs_grid.present? %>active<% end %>" id="app-spec">
      <div class="list-group list-group-inline">
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Default instance type</h5>
          <p class="list-group-item-text"><%= @app.instance_type %></p>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Has Internet access</h5>
          <p class="list-group-item-text"><%= @app.internet_access ? "Yes" : "No" %></p>
        </li>
      </div>
      <div class="list-group">
        <div class="list-group-item app-spec-group">
          <div class="app-spec">
            <div class="row">
              <div class="app-spec-column col-md-12">
                <div class="spec-heading">Inputs</div>
                <table class="table table-striped table-spec table-spec-input">
                  <tbody>
                    <%= render "apps/spec_rows", spec: @app.spec[:input_spec] %>
                  </tbody>
                </table>
              </div>
              <div class="app-spec-column col-md-12">
                <div class="spec-heading">Outputs</div>
                <table class="table table-striped table-spec table-spec-output">
                  <tbody>
                    <%= render "apps/spec_rows", spec: @app.spec[:output_spec] %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if !@app.readme.blank? %>
    <div role="tabpanel" class="tab-pane tab-pane-padded" id="app-readme">
      <div class="app-readme-display" data-bind="html: readmeDisplay"></div>
    </div>
    <% end %>

    <div role="tabpanel" class="tab-pane" id="tab-comments">
      <div class="row">
        <div class="col-md-12">
          <%= render "comments/comments_wrapper", comments: @comments, items_from_params: @items_from_params, url: @item_comments_path, object: @app %>
        </div>
      </div>
    </div>

    <% if @notes.present? && @notes.total_count > 0 %>
    <div role="tabpanel" class="tab-pane tab-pane-padded" id="app-notes">
      <%= render "notes/cards", notes: @notes %>
    </div>
    <% end %>

    <% if @discussions.present? && @discussions.total_count > 0 %>
    <div role="tabpanel" class="tab-pane" id="tab-discussions">
      <%= render "discussions/cards", discussions: @discussions %>
    </div>
    <% end %>

    <% if @answers.present? && @answers.total_count > 0 %>
    <div role="tabpanel" class="tab-pane" id="tab-answers">
      <%= render "answers/cards", answers: @answers, show_discussion: true %>
    </div>
    <% end %>
  <% end %>
</div>
