<% content_for :title do %>Apps<% end %>

<div class="pfda-2-pane-wrapper container-fluid">
  <div class="row">
    <div class="pfda-2-pane-sidebar col-sm-6">
      <%= render "_partials/toolbar", toolbar: @apps_toolbar %>
      <div class="list-group">
        <a href="<%= apps_path() %>" class="list-group-item <%= @app.nil? ? 'active' : '' %>">
          All Apps
        </a>
        <%= render "_partials/apps_list_group", apps: @apps, active: @app.try(:series) %>
      </div>
    </div>
    <div class="pfda-2-pane-content col-sm-18">
      <div class="panel">
        <% if @jobs_toolbar.present? %>
          <%= render "_partials/toolbar", toolbar: @jobs_toolbar %>
        <% end %>

        <%= grid(@jobs_grid, show_filters: :when_filtered) do |g|
          g.blank_slate partial:  "_partials/empty_grid"

          g.column name: 'State', attribute: 'state' do |job|
            [job.state, {class: "col-state state-#{job.state}"}]
          end

          g.column name: 'Name', attribute: 'name' do |job|
            link_to(job.name, job_path(job.id))
          end

          if @app.present?
            g.column name: 'App', attribute: 'title', assoc: :app  do |job|
              link_to(job.app.title, app_path(job.app))
            end
          end

          g.column name: 'Launched by', attribute: 'dxuser', assoc: :user do |job|
            link_to(job.user.dxuser, user_path(job.user.dxuser))
          end

          g.column name: 'Created', attribute: 'created_at', auto_reload: true, filter_type: :standard do |job|
            job.created_at.to_s(:db)
          end

          g.column name: 'Duration' do |job|
            humanizeSeconds(job.updated_at - job.created_at)
          end
        end -%>
      </div>
    </div>
  </div>
</div>
