<% content_for :title do %>Apps<% end %>

<div class="pfda-pane container-fluid">
  <div class="pfda-pane-sidebar">
    <div class="pfda-toolbar">
      <div class="btn-group">
        <a class="btn btn-default" href="<%= new_app_path %>"><span class="fa fa-plus-square fa-fw"></span> Create App</a>
      </div>
    </div>
    <div class="list-group">
      <a href="<%= apps_path() %>" class="list-group-item <%= @app.nil? ? 'active' : '' %>">
        All Apps
      </a>
      <%= render "_partials/apps_list_group", apps: @apps, active: @app.try(:app_series_id) %>
    </div>
  </div>
  <div class="pfda-pane-content">
    <%= render "/apps/show", app: @app, jobs: @jobs, jobs_toolbar: @jobs_toolbar %>
  </div>
</div>
