<% content_for :title do %>Apps<% end %>

<div class="pfda-2-pane-wrapper container-fluid">
  <div class="row">
    <div class="pfda-2-pane-sidebar col-sm-6">
      <%= render "_partials/toolbar", toolbar: @apps_toolbar %>
      <div class="list-group">
        <a href="<%= apps_path() %>" class="list-group-item <%= @app.nil? ? 'active' : '' %>">
          All Apps
        </a>
        <%= render "_partials/apps_list_group", apps: @apps, active: @app.try(:series) %>
      </div>
    </div>
    <div class="pfda-2-pane-content col-sm-18">
      <div class="panel">
        <% if @app.present? %>
          <%= render "_partials/toolbar", toolbar: @jobs_toolbar %>
          <%= render "_partials/grid", grid: @jobs_list %>
        <% end %>
      </div>
    </div>
  </div>
</div>
