<% content_for :title do %>Apps<% end %>

<div class="pfda-toolbar">
  <ul class="nav nav-pills nav-pills-center nav-pills-sm">
    <li class="<% if action_name == 'index' %>active<% end %>">
      <%= link_to apps_path do %>
        <span class="fa fa-cubes"></span> <span class="pill-label">Relevant Apps</span>
      <% end %>
    </li>
    <li class="<% if action_name == 'featured' %>active<% end %>">
      <%= link_to featured_apps_path do %>
        <span class="fa fa-flag"></span> <span class="pill-label">Featured</span>
      <% end %>
    </li>
    <li class="<% if action_name == 'explore' %>active<% end %>">
      <%= link_to explore_apps_path do %>
        <span class="fa fa-globe"></span> <span class="pill-label">Explore</span>
      <% end %>
    </li>
  </ul>
</div>

<div class="pfda-toolbar">
  <div class="btn-group">
    <a class="btn btn-default" href="<%= assets_path %>"><span class="fa fa-file-zip-o fa-fw"></span> Manage Assets</a>
    <a class="btn btn-primary" href="<%= new_app_path %>"><span class="fa fa-plus-square fa-fw"></span> Create App</a>
  </div>
</div>

<% if @apps_grid.present? %>
  <%= grid(@apps_grid, show_filters: :when_filtered) do |g|
    g.blank_slate partial:  "_partials/empty_grid"

    g.column name: 'Name', attribute: 'name' do |series|
      series.name
    end

    g.column name: 'Title', attribute: 'title', assoc: :latest_version_app do |series|
      unilink(series.latest_version_app)
    end

    g.column name: 'Revision', attribute: 'revision', assoc: :latest_version_app do |series|
      series.latest_version_app.revision
    end

    g.column name: 'Explorers' do |series|
      series.jobs.select(:user_id).distinct.count
    end

    g.column name: 'Org', attribute: 'handle', assoc: [:user, :org] do |series|
      series.user.org.handle
    end

    g.column name: 'Added by', attribute: 'dxuser', assoc: :user do |series|
      link_to(series.user.dxuser, user_path(series.user.dxuser))
    end

    g.column name: 'Created', attribute: 'created_at', auto_reload: true, filter_type: :standard do |series|
      series.created_at.to_s(:db)
    end

    g.column name: 'Access', attribute: 'scope',
      custom_filter: {'Public' => "public", 'Private' => "private"} do |file|
      file.public? ? "Public" : "Private"
    end

    g.column name: 'Ran by you?' do |series|
      app_ids = series.jobs.where(user_id: @context.user_id).select(:app_id).distinct.map(&:app_id)
      if app_ids.include?(series.latest_version_app_id)
        "Yes"
      elsif app_ids.present?
        "Not this revision"
      else
        link_to "Try", new_app_job_path(series.latest_version_app.dxid), class: 'btn btn-primary btn-xs'
      end
    end

  end -%>
<% else %>
  <div class="container-fluid container-padded">
    <div class="alert alert-info">
      We couldn't find any apps here
    </div>
  </div>
<% end %>
