<div class="table-responsive">
  <table id="table-results-overview" class="table table-condensed table-bordered table-nowrap table-sort table-hover">
    <thead>
      <tr>
        <td colspan="3"></td>
        <td colspan="5">Injected indels</td>
        <td colspan="2">Injected</td>
        <td colspan="3">Whole-exome SNP</td>
        <td colspan="3">Whole-exome indel</td>
      </tr>
      <tr>
        <th class='sort-default' data-sort-method='string'>Entry</th>
        <th>Submitter</th>
        <th>Organization</th>
        <th>1-3</th>
        <th>4-6</th>
        <th>7-9</th>
        <th>10-12</th>
        <th>13+</th>
        <th rowspan="2">SNPS</th>
        <th rowspan="2">Total</th>
        <th>precision</th>
        <th>recall</th>
        <th>F-score</th>
        <th>precision</th>
        <th>recall</th>
        <th>F-score</th>
      </tr>
    </thead>
    <% submissions.each do |submission| %>
      <tr>
        <td data-sort="<%= submission.name %>">
          <% if submission.desc.present? %>
            &nbsp;
            <a tabindex="0" role="button" data-trigger="focus" data-toggle="popover" data-content="<%= submission.desc %>"><%= submission.name %></a>
          <% else %>
            <%= submission.name %>
          <% end %>
        </td>
        <td data-sort="<%= submission.user.full_name %>">
          <%= submission.user.full_name.titleize %>
        </td>
        <td data-sort="<%= submission.user.singular? ? "" : submission.user.org.name %>">
          <%= submission.user.singular? ? "" : submission.user.org.name %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["indels_01_03"] %>">
          <%= submission.job.run_outputs["indels_01_03"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["indels_04_06"] %>">
          <%= submission.job.run_outputs["indels_04_06"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["indels_07_09"] %>">
          <%= submission.job.run_outputs["indels_07_09"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["indels_10_12"] %>">
          <%= submission.job.run_outputs["indels_10_12"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["indels_13_plus"] %>">
          <%= submission.job.run_outputs["indels_13_plus"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["snps"] %>">
          <%= submission.job.run_outputs["snps"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["overall"] %>">
          <%= submission.job.run_outputs["overall"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["exome_snp_precision"] %>">
          <%= submission.job.run_outputs["exome_snp_precision"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["exome_snp_recall"] %>">
          <%= submission.job.run_outputs["exome_snp_recall"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["exome_snp_fscore"] %>">
          <%= submission.job.run_outputs["exome_snp_fscore"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["exome_indel_precision"] %>">
          <%= submission.job.run_outputs["exome_indel_precision"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["exome_indel_recall"] %>">
          <%= submission.job.run_outputs["exome_indel_recall"] %>
        </td>
        <td data-sort="<%= submission.job.run_outputs["exome_indel_fscore"] %>">
          <%= submission.job.run_outputs["exome_indel_fscore"] %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
