<h3>Access Request</h3>

<h4>Submitted information:</h4>

<table>
  <tr><td>First name:</td><td><%= @invitation.first_name %></td></tr>
  <tr><td>Last name:</td><td><%= @invitation.last_name %></td></tr>
  <tr><td>Email:</td><td><%= @invitation.email %></td></tr>
  <tr><td>Organization:</td><td><%= @invitation.org %></td></tr>
  <tr><td>Self-representing?</td><td><%= !!@invitation.singular %></td></tr>
  <tr><td>Address:</td><td><%= @invitation.address %></td></tr>
  <tr><td>Phone:</td><td><%= @invitation.phone %></td></tr>
  <tr><td>DUNS:</td><td><%= @invitation.duns %></td></tr>
  <tr><td>Request reason:</td><td><%= @invitation.req_reason %></td></tr>
  <tr><td>Has Data:</td><td><%= @invitation.req_data %></td></tr>
  <tr><td>Has Software:</td><td><%= @invitation.req_software %></td></tr>
  <tr><td>Research intent?</td><td><%= !!@invitation.research_intent %></td></tr>
  <tr><td>Clinical intent?</td><td><%= !!@invitation.clinical_intent %></td></tr>
</table>

<h4>Additional system information:</h4>

<table>
  <tr><td>Client IP address:</td><td><%= @invitation.ip %></td></tr>
  <tr><td>Geolocation:</td><td><%= link_to "Click to determine", "http://ip-api.com/\##{@invitation.ip}" %></td></tr>
  <tr><td>Email acceptable?</td><td><%= !!User.validate_email(@invitation.email) %></td></tr>
  <tr><td>Potential username:</td><td><%= User.construct_username(@invitation.first_name, @invitation.last_name) %></td></tr>
  <tr><td>Username acceptable?</td><td><%= !!User.authserver_acceptable?(User.construct_username(@invitation.first_name, @invitation.last_name)) %></td></tr>
</table>
