<% content_for :title do %>Profile<% end %>

<div class="page-header">
  <div class="media">
    <div class="media-left text-center">
      <%= link_to(image_tag(@user.gravatar_url, class: 'img-circle', height: '48px'), "http://en.gravatar.com/emails/", title: "Edit profile image on Gravatar", target: "_blank") %>
      <br>
      <%= link_to "http://en.gravatar.com/emails/", class: "edit-gravatar-text", title: "Edit profile image on Gravatar", target: "_blank" do %>
        Set <span class="fa fa-external-link"></span>
      <% end %>
    </div>
    <div class="media-body">
      <div class="page-title">Profile</div>
    </div>
  </div>
</div>

<div class="infoframe-outer">
  <div class="infoframe-inner">
    <h4 class="infoframe-title">About your account</h4>
    <ul class="list-group infoframe-inline">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Username</h5>
        <p class="list-group-item-text"><%= @user.dxuser %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Name</h5>
        <p class="list-group-item-text"><%= @user.full_name %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Email</h5>
        <p class="list-group-item-text"><%= @user.email %></p>
      </li>
      <li class="list-group-item time_zone_infoframe">
        <h5 class="list-group-item-heading">Time zone</h5>
        <%= select_tag "time_zone", options_for_select(time_zones, @user.time_zone), class: "form-control JS-TimeZone-selector", prompt: "Please select ..." %>
      </li>
    </ul>
    <div class="btn-group">

    </div><%= link_to(content_tag(:span, "", class: "fa fa-fw fa-user") + " View public profile", user_path(@user.dxuser), class: 'btn btn-default') %>
    <div class="btn-group">
      <%= link_to(content_tag(:span, "", class: "fa fa-fw fa-lock") + " Change password", "#{DNANEXUS_PLATFORM_URI}profile/#{@user.dxuser}/changePassword?client_id=precision_fda_gov", class: 'btn btn-default') %>
      <%= link_to "http://en.gravatar.com/emails/", class: 'btn btn-default', target: "_blank" do %>
        <span class="fa fa-fw fa-image"></span> Set Profile Gravatar
      <% end %>
      <%= link_to(content_tag(:span, "", class: "fa fa-fw fa-legal") + "Manage Licenses", licenses_path, class: 'btn btn-default') %>
    </div>
  </div>
</div>

<% if !@user.singular? %>
  <div class="infoframe-outer">
    <div class="infoframe-inner">
      <h4 class="infoframe-title">About your organization</h4>
      <ul class="list-group infoframe-inline">
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Handle</h5>
          <p class="list-group-item-text"><%= @user.org.handle %></p>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Name</h5>
          <p class="list-group-item-text"><%= @user.org.name %></p>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Administrator</h5>
          <p class="list-group-item-text"><%= @user.org.admin.full_name %></p>
        </li>
      </ul>

      <div class="infoframe-grid">
        <%= grid(@users_grid, show_filters: :always) do |g|
          g.blank_slate partial:  "_partials/empty_grid"

          g.column name: 'Username', attribute: 'dxuser' do |user|
            link_to(user.dxuser, user_path(user.dxuser))
          end

          g.column name: 'Name' do |user|
            user.full_name
          end

          g.column name: 'Joined', attribute: 'created_at', auto_reload: true, filter_type: :standard do |user|
            user.created_at.to_s(:human)
          end
        end -%>
      </div>
      <% if @user.can_provision_accounts? %>
        <%= link_to(content_tag(:span, "", class: "fa fa-plus") + " Provision new user under \"#{@user.org.name}\"", provision_user_path, method: 'post', class: 'btn btn-primary') %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @user.can_administer_site? %>
  <div class="infoframe-outer">
    <div class="infoframe-inner">
      <h4 class="infoframe-title">Site Administration</h4>
      <ul class="list-group infoframe-inline">
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Contributors</h5>
          <p class="list-group-item-text"><%= User.count %></p>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Contributor Orgs</h5>
          <p class="list-group-item-text"><%= Org.count %></p>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Browse Access</h5>
          <p class="list-group-item-text"><%= Invitation.count %></p>
        </li>
      </ul>
      <%= link_to(content_tag(:span, "", class: "fa fa-plus") + " Provision new organization & admin", provision_org_path, method: 'post', class: 'btn btn-primary') %>
      <%= link_to(content_tag(:span, "", class: "fa fa-file-excel-o") + " Generate report", run_report_path, method: 'post', class: 'btn btn-default') %>
    </div>
  </div>

<% end %>
