<% content_for :title do %>Profile<% end %>

<div class="page-header">
  <div class="media">
    <div class="media-left text-center">
      <%= link_to(image_tag(@user.gravatar_url, class: 'img-circle', height: '48px'), "http://en.gravatar.com/emails/", title: "Edit profile image on Gravatar", target: "_blank") %>
      <br>
      <%= link_to "http://en.gravatar.com/emails/", class: "edit-gravatar-text", title: "Edit profile image on Gravatar", target: "_blank" do %>
        Set <span class="fa fa-external-link"></span>
      <% end %>
    </div>
    <div class="media-body">
      <div class="page-title">Profile</div>
    </div>
  </div>
</div>

<div class="infoframe-outer">
  <div class="infoframe-inner">
    <h4 class="infoframe-title">About your account</h4>
    <ul class="list-group infoframe-inline">
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Username</h5>
        <p class="list-group-item-text"><%= @user.dxuser %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Name</h5>
        <p class="list-group-item-text"><%= @user.full_name %></p>
      </li>
      <li class="list-group-item">
        <h5 class="list-group-item-heading">Email</h5>
        <p class="list-group-item-text"><%= @user.email %></p>
      </li>
      <li class="list-group-item time_zone_infoframe">
        <h5 class="list-group-item-heading">Time zone</h5>
        <%= select_tag "time_zone", options_for_select(time_zones, @user.time_zone), class: "form-control JS-TimeZone-selector", prompt: "Please select ..." %>
      </li>
    </ul>
    <div class="btn-group">

    </div><%= link_to(content_tag(:span, "", class: "fa fa-fw fa-user") + " View public profile", user_path(@user.dxuser), class: 'btn btn-default') %>
    <div class="btn-group">
      <%= link_to(content_tag(:span, "", class: "fa fa-fw fa-lock") + " Change password", "#{DNANEXUS_PLATFORM_URI}profile/#{@user.dxuser}/changePassword?client_id=precision_fda_gov", class: 'btn btn-default') %>
      <a href="#" class="btn btn-default" data-bind="click: contacts.showForm">
        <i class="fa fa-fw fa-pencil"></i>&nbsp;Update Contact Information
      </a>
      <%= link_to "http://en.gravatar.com/emails/", class: 'btn btn-default', target: "_blank" do %>
        <span class="fa fa-fw fa-image"></span> Set Profile Gravatar
      <% end %>
      <%= link_to(content_tag(:span, "", class: "fa fa-fw fa-legal") + "Manage Licenses", licenses_path, class: 'btn btn-default') %>
    </div>
  </div>
</div>

<div class="infoframe-outer contact-information">
  <div class="infoframe-inner">
    <h4 class="infoframe-title">Contact Information</h4>
      <%= render 'profile/profile_contacts_view' %>
      <%= render 'profile/profile_contacts_form' %>
      <%#= render '_partials/phone_confirmation_modal' %>
      <%= render '_partials/auth_credentials_modal' %>
  </div>
</div>

<% unless @user.singular? %>
  <div class="infoframe-outer organization-info">
    <div class="infoframe-inner">
      <h4 class="infoframe-title">About your organization</h4>
      <ul class="list-group infoframe-inline">
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Handle</h5>
          <p class="list-group-item-text"><%= @user.org.handle %></p>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading">
            <span>Name</span>&nbsp;
            <% if user_org_admin? %>
              <a href="#" class="organization-info-change-b" data-bind="click: showEditOrgNameModal">
                <i class="fa fa-pencil text-danger"></i>&nbsp;Edit
              </a>
            <% end %>
          </h5>
          <p id="organization_info_name" class="list-group-item-text"><%= @user.org.name %></p>
        </li>
        <li class="list-group-item">
          <h5 class="list-group-item-heading">Administrator</h5>
          <p class="list-group-item-text"><%= @user.org.admin.full_name %></p>
        </li>
      </ul>

      <% if user_org_admin? %>
        <%= render 'profile/edit_organization_name_modal' %>
        <%= render '_partials/deactivate_user_modal' %>
        <%= render '_partials/remove_user_modal' %>
      <% else %>
        <% if active_leave_org_request_present? %>
          <div class="btn-group leave-org-group">
            <button class="btn btn-default" disabled>
              <i class="fa fa-fw fa-sign-out"></i> <%= leave_org_label %>
            </button>
          </div>
        <% else %>
          <div class="btn-group leave-org-group">
            <button class="btn btn-default" data-bind="click: showLeaveOrgModal">
              <i class="fa fa-fw fa-sign-out"></i> <%= leave_org_label %>
            </button>
          </div>

          <%= render "profile/leave_organization_modal" %>
        <% end %>
      <% end %>

      <div class="infoframe-grid">
        <%= grid(@users_grid, show_filters: :always) do |g|
          g.blank_slate partial:  "_partials/empty_grid"

          g.column name: 'Username', attribute: 'dxuser' do |user|
            link_to(user.dxuser, user_path(user.dxuser))
          end

          g.column name: 'Name' do |user|
            user.full_name
          end

          g.column name: 'Joined', attribute: 'created_at', auto_reload: true, filter_type: :standard do |user|
            user.created_at.to_s(:human)
          end

          if user_org_admin?
            g.column name: 'Deactivate user' do |user|
              if user.enabled?
                button_tag class: "btn btn-xs btn-primary",
                disabled: user.id == user.org.admin_id ? true : false,
                data: { bind: 'click: showDeactivateUserModal', dxuser: user.dxuser } do
                  content_tag(:span, 'Deactivate', class: 'btn-fa-white')
                end
              end
            end

            g.column name: 'Remove user' do |user|
              if user.id != user.org.admin_id
                if active_remove_member_request_present?(user)
                  remove_member_label(user)
                else
                  button_tag class: "btn btn-xs btn-primary",
                    data: { bind: 'click: showRemoveUserModal', user: user.id, org: user.org_id } do
                      content_tag(:span, 'Remove', class: 'btn-fa-white')
                    end
                end
              end
            end
          end

        end -%>
      </div>

      <% if @user.can_provision_accounts? %>
        <%= link_to(content_tag(:span, "", class: "fa fa-plus") + " Provision new user under \"#{@user.org.name}\"", provision_user_path, method: 'post', class: 'btn btn-primary') %>
      <% end %>

      <% if user_org_admin? %>
        <% if dissolve_button_shown? %>
          <%
            dissolve_request = current_user.org.dissolve_org_action_request

            extra_attrs =
              if dissolve_request
                "disabled"
              else
                %{data-bind=\"click: showDissolveOrgModal"}.html_safe
              end
          %>

          <div class="btn-group dissolve-org-group">
            <button class="btn btn-default" <%= extra_attrs %>>
              <i class="fa fa-fw fa-trash"></i> <%= dissolve_org_btn_text %>
            </button>
          </div>

          <% unless dissolve_request %>
            <%= render "profile/dissolve_organization_modal" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
