<% content_for :title do %>New org admin<% end %>

<div class="page-header">
  <div class="page-title">New org admin</div>
</div>

<div>&nbsp;</div>

<% if @state == "step1" %>
  <%= form_tag(provision_org_path, method: 'post', class: "form container-padded") do -%>
    <%= button_tag(content_tag(:span, "", class: "fa fa-forward") + " Next", class: "btn btn-primary") %>
    <%= hidden_field_tag("state", @state) %>
    <table class="table table-hover sortable-theme-minimal" data-sortable>
      <thead>
        <tr>
          <th>Select</th>
          <th>In System?</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Organization</th>
          <th>Self?</th>
          <th>Address</th>
          <th>Phone</th>
          <th>DUNS</th>
          <th>Participate Intent?</th>
          <th>Organize Intent?</th>
        </tr>
      </thead>
      <tbody>
      <% @invitations.all.each do |inv| %>
        <tr>
          <td><%= radio_button_tag("inv", inv.id) %></td>
          <td><%= inv.user_id.present? ? User.find(inv.user_id).dxuser : "-" %></td>
          <td><%= inv.first_name %></td>
          <td><%= inv.last_name %></td>
          <td><%= inv.email %></td>
          <td><%= inv.org %></td>
          <td><%= inv.singular ? 'YES' : ('&ndash;'.html_safe) %></td>
          <td><%= inv.address %></td>
          <td><%= inv.phone %></td>
          <td><%= inv.duns %></td>
          <td><%= inv.participate_intent ? 'YES' : ('&ndash;'.html_safe) %></td>
          <td><%= inv.organize_intent ? 'YES' : ('&ndash;'.html_safe) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% elsif @state == "step2" %>
  <div class="container-padded">
  <%= form_tag(provision_org_path, method: 'post', class: "form") do -%>
    <%= button_tag(content_tag(:span, "", class: "fa fa-backward") + " Back", class: "btn btn-default") %>
    <%= hidden_field_tag("state", "step1") %>
  <% end %>
  <%= form_tag(provision_org_path, method: 'post', class: "form") do -%>
    <%= hidden_field_tag("state", @state) %>
    <%= hidden_field_tag("inv", @inv) %>
    <h4>&nbsp;</h4>
    <% if @error.present? %>
      <div class="form-group">
        <div class="alert alert-danger">
          <strong><span class="fa fa-warning"></span> <%= @error %></strong>
        </div>
      </div>
    <% end %>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Field</th>
          <th>Original value</th>
          <th>Edited value</th>
          <th>Instructions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= label_tag("first_name", "First Name") %></td>
          <td><%= @invitation.first_name %></td>
          <td><%= text_field_tag("first_name", @first_name, class: 'form-control') %></td>
          <td>Required, must be at least 2 letters</td>
        </tr>
        <tr>
          <td><%= label_tag("last_name", "Last Name") %></td>
          <td><%= @invitation.last_name %></td>
          <td><%= text_field_tag("last_name", @last_name, class: 'form-control') %></td>
          <td>Required, must be at least 2 letters</td>
        </tr>
        <tr>
          <td><%= label_tag("email", "Email") %></td>
          <td><%= @invitation.email %></td>
          <td><%= email_field_tag("email", @email, class: 'form-control') %></td>
          <td>Required, must be previously unused email</td>
        </tr>
        <tr>
          <td><%= label_tag("address", "Address") %></td>
          <td><%= @invitation.address %></td>
          <td><%= text_field_tag("address", @address, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("phone", "Phone") %></td>
          <td><%= @invitation.phone %></td>
          <td><%= text_field_tag("phone", @phone, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("duns", "DUNS") %></td>
          <td><%= @invitation.duns %></td>
          <td><%= text_field_tag("duns", @duns, class: 'form-control') %></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><%= label_tag("org", "Organization name") %></td>
          <td><%= @invitation.org %></td>
          <td><%= text_field_tag("org", @org, class: 'form-control') %></td>
          <td>The organization name. Previous examples:<br>"OSTP"<br>"23andMe"<br>"Broad Institute"<br>"Roche Sequencing"<br>"Baylor College of Medicine"<br><strong>Leave empty for self-represented user.</strong></td>
        </tr>
        <tr>
          <td><%= label_tag("org_handle", "Organization handle") %></td>
          <td></td>
          <td><%= text_field_tag("org_handle", @org_handle, class: 'form-control') %></td>
          <td>A system handle for the organization.<br>This can only contain lowercase English letters.<br>It will be shown in all tables (org column).<br>Acronyms are sometimes better,<br>i.e. <code>rtg</code> for Real Time Genomics<br>or <code>hli</code> for Human Longevity.<br>Previous examples:<br><code>ostp</code><br><code>23andme</code><br><code>broad</code><br><code>roche</code><br><code>baylor</code><br><strong>Leave empty for self-represented user.</strong></td>
        </tr>
        <tr>
          <td>Self-represented?</td>
          <td><%= @invitation.singular ? "YES" : "NO" %></td>
          <td></td>
          <td>To make this user self-represented,<br>leave both the organization name<br>and the organization handle blank.</td>
        </tr>
      </tbody>
    </table>
    <%= button_tag(content_tag(:span, "", class: "fa fa-forward") + " Next", class: "btn btn-primary") %>
  <% end %>
  </div>
<% elsif @state == "step3" %>
  <div class="container-padded">
    <p> You entered the following information: </p>
    <dl class="dl-horizontal">
      <dt>First name:</dt>
      <dd><%= @first_name %></dd>
      <dt>Last name:</dt>
      <dd><%= @last_name %></dd>
      <dt>Email:</dt>
      <dd><%= @email %></dd>
      <dt>Address:</dt>
      <dd><%= @address %></dd>
      <dt>Phone:</dt>
      <dd><%= @phone %></dd>
      <dt>DUNS:</dt>
      <dd><%= @duns %></dd>
      <dt>Organization name:</dt>
      <dd><%= @org %></dd>
      <dt>Organization handle:</dt>
      <dd><%= @org_handle %></dd>
      <dt>Self-represented?</dt>
      <dd><%= @org_handle.blank? ? "YES" : "NO" %></dd>
    </dl>
    <p> Internal precisionFDA policies require that usernames be formed according to the pattern "<em>first_name.last_name</em>", using only lowercase English letters. </p>
    <p> Based on the information you provided, the system will allocate the following: </p>
    <dl class="dl-horizontal">
      <dt>Suggested username:</dt>
      <dd><%= @suggested_username %></dd>
    </dl>
    <% @warnings.each do |warning| %>
      <div class="alert alert-danger">
        <strong><span class="fa fa-warning"></span> <%= warning %></strong>
      </div>
    <% end %>
    <p> You are about to provision username <strong><%= @suggested_username %></strong>. This action cannot be undone. </p>
    <div class="clearfix">
      <%= form_tag(provision_org_path, method: 'post', class: "pull-left") do -%>
        <%= hidden_field_tag("state", "step1") %>
        <%= hidden_field_tag("inv", @inv) %>
        <%= hidden_field_tag("first_name", @first_name) %>
        <%= hidden_field_tag("last_name", @last_name) %>
        <%= hidden_field_tag("email", @email) %>
        <%= hidden_field_tag("org", @org) %>
        <%= hidden_field_tag("org_handle", @org_handle) %>
        <%= hidden_field_tag("address", @address) %>
        <%= hidden_field_tag("phone", @phone) %>
        <%= hidden_field_tag("duns", @duns) %>
        <%= button_tag(content_tag(:span, "", class: "fa fa-backward") + " Back", class: "btn btn-default") %>
      <% end -%>
      <%= form_tag(provision_org_path, method: 'post', class: "pull-left") do -%>
        <%= hidden_field_tag("state", "step3") %>
        <%= hidden_field_tag("inv", @inv) %>
        <%= hidden_field_tag("first_name", @first_name) %>
        <%= hidden_field_tag("last_name", @last_name) %>
        <%= hidden_field_tag("email", @email) %>
        <%= hidden_field_tag("org", @org) %>
        <%= hidden_field_tag("org_handle", @org_handle) %>
        <%= hidden_field_tag("address", @address) %>
        <%= hidden_field_tag("phone", @phone) %>
        <%= hidden_field_tag("duns", @duns) %>
        <%= hidden_field_tag("suggested_username", @suggested_username) %>
        <% opts = {class: "btn btn-primary", data: {disable_with: "Please wait..."}} -%>
        <% opts[:data][:confirm] = "Are you sure? The system has detected one or more warnings shown on the page. Only proceed if you believe you have addressed these warnings." if @warnings.present? -%>
        <%= button_tag(content_tag(:span, "", class: "fa fa-plus-circle") + " Provision", opts) %>
      <% end -%>
    </div>
  </div>
<% elsif @state == "step4" %>
  <div class="container-padded">
    <p>You have successfully provisioned <%= @singular ? "self-represented" : ("organization <strong>".html_safe + @org_handle + "</strong> and admin".html_safe) %> username <strong><%= @suggested_username %></strong>. An activation email will be sent to <%= @email %> with further instructions.</p>
    <%= link_to("Back to profile", profile_path, class: "btn btn-primary") %>
  </div>
<% end %>
