<% content_for :title do %>New user
<% end %>

<div class="page-header">
  <div class="page-title">New user</div>
</div>

<div>&nbsp;</div>

<% if @state == "step1" %>
  <%= render "/profile/provision_new_user/step_1" %>
<% elsif @state == "step2" %>
  <%= render "/profile/provision_new_user/step_2" %>
<% elsif @state == "step3" %>
  <%= render "/profile/provision_new_user/step_3" %>
<% elsif @state == "step4" %>
  <div class="container-padded">
    <p>You have successfully provisioned
      a new self-represented user with username <strong><%= @suggested_username %></strong>."
      An activation email will be sent to <%= @email %> with
      further instructions.</p>
    <%= link_to("Return to Admin Dashboard", admin_root_path, class: "btn btn-primary") %>
  </div>
<% end %>
