<!DOCTYPE html>
<html>
<head>
  <%= render "_partials/header" %>
</head>
<body class="controller-<%= controller_name %> action-<%= action_name %>">
  <header>
    <%= render "_partials/navbar" %>
    <%= render "_partials/nav_links" %>
  </header>
  <main role="main">
    <%= render '_partials/messages' %>
    <%= yield %>
  </main>
  <footer>
    <%= render "_partials/footer" %>
  </footer>
</body>
</html>
