<!DOCTYPE html>
<html>
<head>
  <%= render "_partials/header" %>
</head>
<body class="pfda-controller-<%= controller_name %> pfda-action-<%= action_name %>" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <header>
    <%= render "_partials/navbar" %>
  </header>
  <main role="main">
    <%= render '_partials/messages' %>
    <%= yield %>
  </main>
  <footer>
    <%= render "_partials/footer" %>
  </footer>
  <%= insert_paloma_hook %>
</body>
</html>
