<div class="page-header text-center">
  <p>
    <%= image_tag(@expert.image, class: 'img-rounded', height: '400px') %>
  </p>
  <% if is_dashboard %>
    <div class="page-title">
      Your Expert Q&A Dashboard
    </div>
  <% else %>
    <div class="page-title">
      Expert Q&A with <%= user_link(@expert.user) %>
    </div>
  <% end %>

  <p>
    <% if @expert.open? %>
      <span class="label label-success"><span class="fa fa-check"></span> Open</span>
    <% else %>
      <span class="label label-default"><span class="fa fa-lock"></span> Closed</span>
    <% end %>
    <% if @expert.editable_by?(@context) %>
      <% if @expert.is_public? %>
        <span class="label label-primary"><span class="fa fa-eye"></span> Public</span>
      <% else %>
        <span class="label label-warning"><span class="fa fa-eye-slash"></span> Private</span>
      <% end %>
    <% end %>
  </p>
</div>

<% if @expert.editable_by?(@context) && show_toolbar %>
  <div class="pfda-toolbar text-center">
    <div class="btn-group">
      <% if is_dashboard %>
        <%= link_to expert_path(@expert), class: "btn btn-default" do %>
          <span class="fa fa-fw fa-globe" aria-hidden="true"></span> View Public Q&A
        <% end %>
        <%= link_to edit_expert_path(@expert), class:"btn btn-default" do %>
          <span class="fa fa-pencil"></span> Edit Expert Info
        <% end %>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if @expert.open? %>
              <span class="fa fa-check"></span> Open
            <% else %>
              <span class="fa fa-lock"></span> Closed
            <% end %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <% if @expert.open? %>
                <%= link_to close_expert_path(@expert), method: :post do %>
                  <span class="fa fa-lock"></span>
                  Closed
                  <small class="help-block">This will prevent any additional questions from being submitted.</small>
                <% end %>
              <% else %>
                <%= link_to open_expert_path(@expert), method: :post do %>
                  <span class="fa fa-check"></span>
                  Open
                  <small class="help-block">This will allow questions to be submitted.</small>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <%= link_to dashboard_expert_path(@expert), class: "btn btn-default" do %>
          <span class="fa fa-fw fa-dashboard" aria-hidden="true"></span> View Your Expert Dashboard
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if show_intro %>
  <div class="page-header text-center">
      <% if is_dashboard %>
        <hr/>
      <% end %>
      <div class="row">
        <div class="col-md-16 col-md-offset-4">
          <div class="expert-intro lead text-left">
            <%= simple_format(@expert._intro) %>
          </div>
        </div>
      </div>
  </div>
<% end %>

