<% if (experts.count > 0) %>
  <div class="pfda-cards pfda-cards-list">
    <% [experts.first].each do |e| %>
      <div class="pfda-card pfda-card-padded pfda-card-rounded pfda-card-default pfda-card-bordered">
        <div class="row vertical-align">
          <div class="col-md-6">
            <div class="container-fluid expert-photo">
              <%= image_tag(e.image, class: 'img-rounded img-responsive center-block', style: 'max-height:500px') %>
            </div>
          </div>
          <div class="col-md-18">
            <div class="container-fluid container-padded text-center">
              <div class="pfda-card-title lead">
                My Challenge to the PrecisionFDA Community
              </div>
              <span class="text-muted"><%= local_date(e.created_at, '%B %e, %Y') %></span>
              <br/>
              <br/>
              <div class="expert-font strong">
                <%= e.title %>
                <br/>
                <% if !e.user.singular? %>
                  <i><%= e.user.org.name %></i>
                <% end %>
                <br/>
              </div>
              <hr>
              <div class="pfda-card-body pfda-card-padded text-left">
                <%= simple_format(e._challenge, {class: "expert-font"})%>
              </div>
              <div class="btn-group">
                <%= link_to(content_tag(:span, "", class: "fa fa-star-o") + " Visit Expert Q/A", expert_path(e), class: 'btn btn-default') %>
              </div>
              <div class="btn-group">
              <%= link_to(content_tag(:span, "", class: "fa fa-newspaper-o") + " Read Expert Blog Post", blog_expert_path(e), class: 'btn btn-default') %>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag(e.image, class: 'img-rounded', width: '250px') %>
            <br/>
          </div>
          <div class="media-body container-fluid container-padded text-center">
            <div class="pfda-card-title lead">
              My Challenge to the PrecisionFDA Community
            </div>
            <span class="text-muted"><%= local_date(e.created_at, '%B %e, %Y') %></span>
            <br/>
            <br/>
            <div class="expert-font strong">
              <%= e.title %>
              <br/>
              <% if !e.user.singular? %>
                <i><%= e.user.org.name %></i>
              <% end %>
              <br/>
            </div>
            <hr>
            <div class="pfda-card-body pfda-card-padded text-left">
              <%= simple_format(e._challenge, {class: "expert-font"})%>
            </div>
            <div class="btn-group">
              <%= link_to(content_tag(:span, "", class: "fa fa-star-o") + " Visit Expert Q/A", expert_path(e), class: 'btn btn-default') %>
            </div>
            <div class="btn-group">
            <%= link_to(content_tag(:span, "", class: "fa fa-newspaper-o") + " Read Expert Blog Post", blog_expert_path(e), class: 'btn btn-default') %>
            </div>
          </div>
        </div>
      </div>
    -->
    <% end %>
  </div>
<% end %>
