<% content_for :title do %>Edit <%= user_title(@expert.user) %><% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-groups"></span>
    Edit Expert Information
  </div>
</div>

<div class="container-fluid container-padded">
  <%= form_for @expert, url: expert_path(@expert), method: :put, html: {class: 'form form-horizontal'} do |f| %>
    <%= render "_partials/form_errors", object: @expert %>
    <div class="form-group required">
      <%= f.label :image, "Image", class: 'control-label col-sm-2' %>
      <div class="col-sm-11 col-sm-offset-1">
        <%= f.text_field :image, class: "form-control", placeholder: "Image URL...", required: "required"  %>
      </div>
    </div>
    <div class="form-group required">
      <%= f.label :_intro, "Expert Intro", class: 'control-label col-sm-2' %>
      <div class="col-sm-11 col-sm-offset-1">
        <%= f.text_area :_intro, class: "form-control", rows: 10, placeholder: "Expert Blurb...", required: "required"  %>
      </div>
    </div>
    <div class="form-group required">
      <%= f.label :_about, "About the Expert", class: 'control-label col-sm-2' %>
      <div class="col-sm-11 col-sm-offset-1">
        <%= f.text_area :_about, class: "form-control", rows: 10, placeholder: "About the Expert...", required: "required" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3">
        <%= f.submit "Update", class: 'btn btn-primary', data: {disable_with: "Updating..."} %>
      </div>
    </div>
  <% end %>
</div>
