<% content_for :title do %>Create a new <strong>Expert of the Month</strong><% end %>

<div class="page-header">
  <div class="page-title">
    <span class="fa fa-groups"></span>
    Create a new <strong>Expert of the Month</strong>
  </div>
</div>

<div class="container-fluid container-padded">
  <%= form_for @expert, url: experts_path, html: {class: 'form form-horizontal'} do |f| %>
    <%= render "_partials/form_errors", object: @expert %>
    <div class="form-group required">
      <%= f.label :username, "Username", class: 'control-label col-sm-2' %>
      <div class="col-sm-11 col-sm-offset-1">
        <%= f.text_field :username, class: "form-control", placeholder: "Expert username...", required: "required"  %>
      </div>
    </div>
   <div class="form-group required">
      <%= f.label :_intro, "Intro", class: 'control-label col-sm-2' %>
      <div class="col-sm-11 col-sm-offset-1">
        <%= f.text_area :_intro, class: "form-control", rows: 2, placeholder: "Expert blurb...", required: "required"  %>
      </div>
    </div>
    <div class="form-group required ">
      <%= f.label :_about, "About", class: 'control-label col-sm-2' %>
      <div class="col-sm-11 col-sm-offset-1">
        <%= f.text_area :_about, class: "form-control", rows: 10, placeholder: "More about the Expert..." %>
      </div>
    </div>
    <div class="form-group required">
      <%= f.label :image, "Image URL", class: 'control-label col-sm-2' %>
      <div class="col-sm-11 col-sm-offset-1">
        <%= f.text_field :image, class: "form-control", placeholder: "Image link...", required: "required"  %>
      </div>
    </div>
    <div class="form-group required">
      <%= f.label :scope, "Visibility", class: 'control-label col-sm-2' %>
      <div class="col-sm-11 col-sm-offset-1">
        <%= f.select :scope, options_for_select("Private" => "private", "Public" => "public"), {}, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3">
        <%= f.submit "Create Expert", class: 'btn btn-primary', data: {disable_with: "Creating..."} %>
      </div>
    </div>
  <% end %>
</div>
