<% content_for :title do %><%= @expert.name %><% end %>
<div class="page-header">
  <div class="media">
    <div class="media-left text-muted">
     <%= image_tag(@expert.image, class: 'img-rounded', height: '120px', width: '120px') %>
    </div>
    <div class="media-body">
      <% if @expert.editable_by?(@context) %>
        <div class="pull-right">
          <div class="btn-group">
            <div class="dropdown">
              <button class="btn btn-link btn-lg" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-cog"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                <li>
                  <%= link_to edit_expert_path(@expert) do %>
                    <span class="fa fa-pencil"></span> Edit
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

      <div class="page-title">
        Expert Q&A with <%= link_to("#{@expert.name}", user_path(@expert.user.dxuser)) %> (<%= @expert.user.org.name %>)
        <% if @expert.editable_by?(@context) %>
          <%= link_to dashboard_expert_path(@expert), class: "btn btn-default" do %>
            <span class="fa fa-fw fa-dashboard" aria-hidden="true"></span> View Your Expert Dashboard
          <% end %>
        <% end %>
      </div>
      <div class="pfda-discussion-content">
        <%= @expert._intro %>
      </div>
    </div>
  </div>
</div>

<div class="pfda-pane container-fluid">
  <div class="pfda-pane-content pfda-pane-content-padded-xl">
    <% if @answered_questions.count > 0 %>
      <% @answered_questions.each do |q|%>
        <div class="expert-question panel panel-default">
          <%= link_to expert_show_question_path(@expert, q) do %>
            <div class="panel-body">
              <h2 class="expert-question-body"><%= q.body %></h2>
              <h6 class="expert-question-footer">
                updated <%= local_time_ago(q.expert_answer.updated_at) %>
              </h6>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      No questions have been answered yet.
    <% end %>
  </div>
  <div class="pfda-pane-sidebar pfda-pane-sidebar-minimal pfda-pane-sidebar-padded-v">
    <ul class="list-group">
      <li class="list-group-item text-center">
        <a class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#ask-question-modal">
          <span class="fa fa-commenting-o fa-fw" aria-hidden="true"></span> Ask <%= @expert.user.first_name.capitalize %>
        </a>
      </li>
      <% if @context.logged_in? %>
        <% if @user_questions.count > 0 %>
          <li class="list-group-item list-group-item-header">
            Your Questions (<%= @user_questions.count %>)
          </li>
          <% @user_questions.each do |q|%>
            <li class="list-group-item">
              <%= q._original %>
           </li>
          <% end %>
        <% end %>
      <% else %>
        <li class="list-group-item">
          Please login or register for an account to see track your question history.
        </li>
      <% end %>
      <br/>
    </ul>
    <ul class="list-group">
      <li class="list-group-item list-group-item-header">
        About this month's Expert
      </li>
      <li class="list-group-item">
        <%= @expert._bio %>
      </li>
    </ul>
  </div>
</div>

<%= render "experts/modal_ask_question" %>
