<% content_for :title do %><%= user_title(@expert.user) %><% end %>

<%= render 'experts/header', { is_dashboard: false, show_toolbar: true, show_intro: true } %>

<div class="pfda-pane container-fluid">
  <div class="pfda-pane-content pfda-pane-content-padded-xl">
    <% if @answered_questions.count > 0 %>
      <% @answered_questions.each do |q|%>
        <div class="expert-question">
          <%= link_to expert_show_question_path(@expert, q) do %>
            <h2 class="expert-question-body"><%= q.body %></h2>
            <h6 class="expert-question-footer text-muted">
              Answered <%= local_time_ago(q.expert_answer.updated_at) %>
            </h6>
          <% end %>
        </div>
      <% end %>
    <% else %>
      No questions have been answered yet.
    <% end %>

    <div class="text-muted">
      <hr/>
      The questions and answers posted under this Expert Q/A forum reflect the views of the author(s) and should not be construed to represent FDA’s views or policies.
    </div>
  </div>
  <div class="pfda-pane-sidebar pfda-pane-sidebar-minimal pfda-pane-sidebar-padded-v">
    <% if @expert.open? %>
      <ul class="list-group">
        <li class="list-group-item text-center">
          <a class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#ask-question-modal">
            <span class="fa fa-commenting-o fa-fw" aria-hidden="true"></span> Ask <%= @expert.user.first_name.capitalize %>
          </a>
        </li>
        <% if @context.logged_in? %>
          <% if @user_questions.count > 0 %>
            <li class="list-group-item list-group-item-header">
              Your Questions (<%= @user_questions.count %>)
            </li>
            <% @user_questions.each do |q|%>
              <li class="list-group-item">
                <%= q._original %>
             </li>
            <% end %>
          <% end %>
        <% else %>
          <li class="list-group-item">
            Please login or register for an account to track and see your question history.
          </li>
        <% end %>
        <br/>
      </ul>
    <% else %>
      <ul class="list-group">
        <li class="list-group-item list-group-item-header">
          Your Questions (<%= @user_questions.count %>)
        </li>
        <% if @context.logged_in? %>
          <% @user_questions.each do |q|%>
            <li class="list-group-item">
              <%= q._original %>
             </li>
          <% end %>
        <% else %>
          <li class="list-group-item">
            Please login to see your question history.
          </li>
        <% end %>
      <br/>
      </ul>
    <% end %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-header">
        About this month's Expert
      </li>
      <li class="list-group-item">
        <%= simple_format(@expert._about) %>
      </li>
    </ul>
  </div>
</div>
<div class="container container-padded">
</div>
<%= render "experts/modal_ask_question" %>
